Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

pivot renames
  packages/pivot/src/PivotSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

knip
  examples/canvas/package.json
  examples/pivot/src/store.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: Add mattpocock skills
  .agents/skills/grill-me/SKILL.md
  .agents/skills/ubiquitous-language/SKILL.md
  skills-lock.json
Due: none

chore: deploy to sprite
  scripts/deploy-sqlrooms-cli-to-sprite.sh
Due: none

chore: deploy to sprite
  python/sqlrooms-cli/pyproject.toml
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_launcher.py
  python/uv.lock
Due: uv run --project python ruff check --fix

use ArtifactTabs in cli
  apps/sqlrooms-cli-ui/src/workspace/ArtifactsContainerPanel.tsx
  packages/artifacts/README.md
  packages/artifacts/src/artifactTabs.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

package.json formatting
  packages/deck/package.json
Due: none

feat: customizable tool render behavior in ai-core (#561)
  packages/ai-core/src/agents/AgentUtils.ts
  packages/ai-core/src/components/Chat.tsx
  packages/ai-core/src/components/FlatAgentRenderer.tsx
  packages/ai-core/src/index.ts
  packages/ai-core/src/utils.ts
  packages/ai/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

migrate kepler tabs to artifacts
  examples/kepler/package.json
  examples/kepler/src/components/KeplerMapArtifactPanel.tsx
  examples/kepler/src/components/KeplerMapsContainer.tsx
  examples/kepler/src/store.ts
  packages/kepler-config/README.md
  packages/kepler-config/src/index.ts
  packages/kepler/README.md
  packages/kepler/src/KeplerSlice.ts
  packages/kepler/src/components/CustomFilterPanelHeader.tsx
  packages/kepler/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

sqlrooms-cli First Launch Roadmap
  dev-docs/roadmaps/sqlrooms-cli-first-launch.md
Due: none

PreparedDatasetStore rename
  packages/deck/src/datasets/PreparedDatasetStore_.ts
  packages/deck/src/datasets/usePreparedDatasetStates.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

PreparedDatasetStore rename
  packages/deck/src/datasets/PreparedDatasetStore.ts
  packages/deck/src/datasets/usePreparedDatasetStates.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Normalize sizes before splitting children in insertIntoSplit function
  packages/layout/src/docking/dock-layout.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Update README.md to include LayoutDockNode and its usage example
  packages/layout-config/README.md
  packages/layout/README.md
Due: none

Refactor imports to use type for FC in Room and App components
  examples/notebook/src/room.tsx
  examples/query/src/App.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Refactor RoomPanelTypes to use MAIN_VIEW constant for consistency across store files
  examples/ai-rag/src/store.ts
  examples/ai/src/store.ts
  examples/canvas-sync/src/store.ts
  examples/canvas/src/store.ts
  examples/cosmos-embedding/src/store.ts
  examples/cosmos/src/store.ts
  examples/deckgl-discuss/src/store.ts
  examples/deckgl-mosaic/src/store.ts
  examples/deckgl/src/store.ts
  examples/kepler/src/store.ts
  examples/layout/src/store.tsx
  examples/mosaic/src/store.ts
  examples/notebook/src/store.ts
  examples/query-motherduck/src/store.ts
  examples/query-pwa/src/store.ts
  examples/query-websocket/src/store.ts
  examples/query/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor: add LayoutDockNode and isLayoutDockNode exports, and include PanelIdentity type
  packages/room-config/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

address pr comments
  packages/duckdb-core/src/duckdb-utils.ts
  packages/duckdb-core/src/index.ts
  packages/duckdb/src/index.ts
  packages/kepler/src/KeplerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

remove dep
  packages/kepler/package.json
Due: none

remove dep
  packages/deck/package.json
Due: none

remove comment
  packages/kepler/src/KeplerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

remove dep
  pnpm-lock.yaml
Due: none

refactor: remove RoomPanelTypes usage in DataPanel and related components for simplification
  apps/sqlrooms-cli-ui/src/components/AssistantPanel.tsx
  examples/ai-rag/src/components/DataSourcesPanel.tsx
  examples/ai/src/components/DataSourcesPanel.tsx
  examples/canvas-sync/src/components/DataSourcesPanel.tsx
  examples/canvas/src/components/DataSourcesPanel.tsx
  examples/cosmos-embedding/src/components/DataSourcesPanel.tsx
  examples/cosmos/src/components/DataSourcesPanel.tsx
  examples/deckgl-discuss/src/components/DiscussionPanel.tsx
  examples/deckgl-discuss/src/store.ts
  examples/deckgl-mosaic/src/components/MainView.tsx
  examples/deckgl-mosaic/src/components/data-sources/DataSourcesPanel.tsx
  examples/deckgl-mosaic/src/components/filters/FiltersPanel.tsx
  examples/deckgl-mosaic/src/components/map/MapView.tsx
  examples/deckgl/src/components/DataPanel.tsx
  examples/kepler/src/components/DataPanel.tsx
  examples/kepler/src/components/KeplerSidePanels.tsx
  examples/kepler/src/components/useCurrentMap.ts
  examples/kepler/src/store.ts
  examples/layout/src/components/DataSourcesPanel.tsx
  examples/layout/src/components/SchemaPanel.tsx
  examples/layout/src/store.tsx
  examples/mosaic/src/components/DataSourcesPanel.tsx
  examples/mosaic/src/components/RoomDetailsPanel.tsx
  examples/notebook/src/components/DataSourcesPanel.tsx
  examples/pivot/src/components/DataPanel.tsx
  examples/query-motherduck/src/components/DataPanel.tsx
  examples/query-pwa/src/components/DataPanel.tsx
  examples/query-websocket/src/components/DataSourcesPanel.tsx
  examples/query/src/components/DataPanel.tsx
  packages/room-shell/src/panels/RoomPanel.tsx
  packages/room-shell/src/panels/RoomPanelHeader.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor: enhance tab hiding logic to adjust activeTabIndex correctly
  packages/layout/src/tab-actions.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor: replace direct store access with memoized layout config derived values for visible and active tabs
  packages/layout/src/node-renderers/tabs-node-renderer/TabsLayoutTabStrip.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor: enhance panel visibility handling with explicit show/hide/toggle logic
  packages/layout/src/layout-commands.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor: simplify LayoutConfig definition by removing unnecessary preprocessing
  packages/layout-config/src/LayoutConfig.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor: remove deprecated 'placement' property from panel definitions
  README.md
  docs/getting-started.md
  docs/key-concepts.md
  docs/upgrade-guide.md
  packages/room-shell/README.md
Due: none

refactor: update upgrade guide for layout config changes and API removals
  docs/upgrade-guide.md
Due: none

chore: update lightningcss version in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: improve panel definition resolution in TabButtons component
  packages/room-shell/src/RoomShellSidebarButtons.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: circular dependencies
  packages/artifacts/src/helpers.ts
  packages/layout/src/docking/dock-layout.ts
  packages/layout/src/docking/docking-helpers.ts
  packages/layout/src/docking/docking-types-base.ts
  packages/layout/src/index.ts
  packages/mosaic/src/MosaicChartBuilder.ts
  packages/mosaic/src/chart-builders/ChartBuilderContent.tsx
  packages/mosaic/src/chart-builders/ChartBuilderDialog.tsx
  packages/mosaic/src/chart-builders/ChartBuilderRoot.tsx
  packages/mosaic/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: added skills related features to the `ai` package
  examples/ai-agent/README.md
  examples/ai-agent/package.json
  examples/ai-agent/src/components/MainView.tsx
  examples/ai-agent/src/components/SkillsButton.tsx
  examples/ai-agent/src/skills/InMemorySkillStorage.ts
  examples/ai-agent/src/skills/getModel.ts
  examples/ai-agent/src/skills/querySqlTool.ts
  examples/ai-agent/src/skills/runSkillTool.ts
  examples/ai-agent/src/skills/seedSkills.ts
  examples/ai-agent/src/skills/skillPrompt.ts
  examples/ai-agent/src/store.ts
  packages/ai-core/src/components/FlatAgentRenderer.tsx
  packages/ai-core/src/components/agent-chat/ChatInput.tsx
  packages/ai-core/src/components/agent-chat/MessageView.tsx
  packages/ai-core/src/components/agent-chat/SuggestionStrip.tsx
  packages/ai-core/src/components/agent-chat/ToolActivityLine.tsx
  packages/ai-core/src/components/agent-chat/index.tsx
  packages/ai-core/src/components/agent-chat/toolCallAdapter.ts
  packages/ai-core/src/components/agent-chat/useAgentChatTransport.ts
  packages/ai-core/src/components/agent-chat/useStickyScroll.ts
  packages/ai-core/src/index.ts
  packages/ai/package.json
  packages/ai/src/index.ts
  packages/ai/src/skills/authoring/SkillAuthoringAgent.ts
  packages/ai/src/skills/authoring/SkillAuthoringContext.ts
  packages/ai/src/skills/authoring/SkillAuthoringPanel.tsx
  packages/ai/src/skills/authoring/SkillDraftPreview.tsx
  packages/ai/src/skills/authoring/createSkillDraftStore.ts
  packages/ai/src/skills/authoring/index.ts
  packages/ai/src/skills/authoring/systemPrompt.ts
  packages/ai/src/skills/authoring/tools.ts
  packages/ai/src/skills/errors.ts
  packages/ai/src/skills/index.ts
  packages/ai/src/skills/manifest.ts
  packages/ai/src/skills/storage.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: remove @loaders.gl/core dependency from package.json and pnpm-lock.yaml
  packages/deck/package.json
  pnpm-lock.yaml
Due: none

chore(deck): opt out of ambient @types for typecheck
  packages/deck/tsconfig.json
Due: none

fix: remove unused file
  apps/sqlrooms-cli-ui/src/workspace/AppBuilderSheet.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: code review
  docs/upgrade-guide.md
  packages/mosaic/README.md
  packages/mosaic/src/chart-builders/ChartBuilderDialog.tsx
  packages/mosaic/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --
