Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

Harden MCP capability execution
  apps/sqlrooms-cli-ui/src/__tests__/createCliRoomCapabilities.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/createCliRoomCapabilityHandlers.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/mcpQueryApproval.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/serverApi.test.ts
  apps/sqlrooms-cli-ui/src/components/CliMcpBridge.tsx
  apps/sqlrooms-cli-ui/src/components/CliMcpQueryApprovalDialog.tsx
  apps/sqlrooms-cli-ui/src/components/CliMcpStatusControl.tsx
  apps/sqlrooms-cli-ui/src/createCliRoomCapabilities.ts
  apps/sqlrooms-cli-ui/src/mcpCapabilityUtils.ts
  apps/sqlrooms-cli-ui/src/mcpQueryApproval.ts
  apps/sqlrooms-cli-ui/src/room.tsx
  apps/sqlrooms-cli-ui/src/serverApi.ts
  packages/ai/__tests__/commandTools.test.ts
  packages/ai/src/tools/commandTools.ts
  packages/mcp/README.md
  packages/mcp/__tests__/browser.test.ts
  packages/mcp/__tests__/runtime.test.ts
  packages/mcp/src/browser.ts
  packages/mcp/src/protocol.ts
  packages/mcp/src/runtime.ts
  packages/mcp/src/types.ts
  packages/room-store/__tests__/CommandAdapters.test.ts
  packages/room-store/src/CommandAdapters.ts
  packages/room-store/src/CommandSlice.ts
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/sqlrooms/web/mcp.py
  python/sqlrooms/sqlrooms/web/mcp_bridge.py
  python/sqlrooms/tests/test_launcher.py
  python/sqlrooms/tests/test_mcp.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

ci(docs): publish API reference from release tags (#848)
  .github/workflows/deploy-docs.yml
  .github/workflows/npm-publish.yml
  docs/.gitignore
  docs/.vitepress/config.ts
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/style.css
  package.json
  scripts/assemble-versioned-docs.mjs
  scripts/verify-docs-release.mjs
  scripts/verify-published-packages.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(room-store): preserve custom hydration errors
  packages/room-store/README.md
  packages/room-store/__tests__/createPersistHelpers.test.ts
  packages/room-store/src/createPersistHelpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(room-store): propagate corrupt persistence data
  packages/room-store/README.md
  packages/room-store/__tests__/createPersistHelpers.test.ts
  packages/room-store/src/createPersistHelpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(example): address forecast explorer review feedback
  examples/deckgl-mosaic-datafusion/jest.config.js
  examples/deckgl-mosaic-datafusion/package.json
  examples/deckgl-mosaic-datafusion/src/App.tsx
  examples/deckgl-mosaic-datafusion/src/components/ForecastControls.tsx
  examples/deckgl-mosaic-datafusion/src/components/ForecastPanel.tsx
  examples/deckgl-mosaic-datafusion/src/components/MainView.tsx
  examples/deckgl-mosaic-datafusion/src/components/MapPane.tsx
  examples/deckgl-mosaic-datafusion/src/components/MosaicCharts.tsx
  examples/deckgl-mosaic-datafusion/src/hooks/use-forecast-lab.ts
  examples/deckgl-mosaic-datafusion/src/hooks/use-hover-brush.ts
  examples/deckgl-mosaic-datafusion/src/lab/__tests__/tile-data.test.ts
  examples/deckgl-mosaic-datafusion/src/lab/datafusion.ts
  examples/deckgl-mosaic-datafusion/src/lab/map-view.ts
  examples/deckgl-mosaic-datafusion/src/lab/tile-data.ts
  examples/deckgl-mosaic-datafusion/src/lab/types.ts
  examples/deckgl-mosaic-datafusion/src/lab/zarr-cube.ts
  examples/deckgl-mosaic-datafusion/src/store.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: list the DataFusion forecast example
  docs/examples.md
  examples/deckgl-mosaic-datafusion/README.md
Due: none

Address latest MCP review feedback
  apps/sqlrooms-cli-ui/src/__tests__/createCliRoomCapabilityHandlers.test.ts
  apps/sqlrooms-cli-ui/src/createCliRoomCapabilities.ts
  packages/room-shell/README.md
  packages/room-store/README.md
  python/sqlrooms/sqlrooms/web/mcp_bridge.py
  python/sqlrooms/tests/test_mcp.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(room-store): tolerate unavailable persistence storage (#849)
  packages/room-store/README.md
  packages/room-store/__tests__/createPersistHelpers.test.ts
  packages/room-store/src/createPersistHelpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): isolate example dependency resolution
  packages/deck/package.json
  pnpm-lock.yaml
Due: none

fix(deck): remove unused quoteDeckMapSqlIdentifier import
  packages/deck/src/ai.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(example): align deck and luma runtime dependencies
  examples/deckgl-mosaic-datafusion/package.json
  pnpm-lock.yaml
Due: none

fix(deck): remove unused quoteDeckMapSqlIdentifier import (#850)
  packages/deck/src/ai.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Address new MCP review feedback
  apps/sqlrooms-cli-ui/src/__tests__/createCliRoomCapabilityHandlers.test.ts
  apps/sqlrooms-cli-ui/src/components/CliMcpBridge.tsx
  apps/sqlrooms-cli-ui/src/createCliRoomCapabilities.ts
  packages/duckdb-core/__tests__/arrow-utils.test.ts
  packages/duckdb-core/src/arrow-utils.ts
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/mcp_bridge.py
  python/sqlrooms/tests/test_cli.py
  python/sqlrooms/tests/test_mcp.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(deps): declare loaders.gl runtime dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

follow up
  packages/deck/README.md
  packages/deck/__tests__/compileColorScale.test.ts
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/json/colorScaleFunction.ts
  packages/deck/src/json/compileColorScale.ts
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(mosaic): support coordinator-backed slices without DuckDB
  packages/mosaic/README.md
  packages/mosaic/__tests__/MosaicDashboardCommands.test.ts
  packages/mosaic/__tests__/MosaicDashboardRuntimeIssue.test.ts
  packages/mosaic/__tests__/MosaicDashboardSlice.test.ts
  packages/mosaic/__tests__/MosaicSlice.test.ts
  packages/mosaic/src/MosaicSlice.ts
  packages/mosaic/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(example): compose DataFusion room without DuckDB
  examples/deckgl-mosaic-datafusion/README.md
  examples/deckgl-mosaic-datafusion/package.json
  examples/deckgl-mosaic-datafusion/src/hooks/use-forecast-lab.ts
  examples/deckgl-mosaic-datafusion/src/lab/datafusion.ts
  examples/deckgl-mosaic-datafusion/src/room.tsx
  examples/deckgl-mosaic-datafusion/src/store.ts
  packages/room-shell/src/RoomShell.tsx
  packages/room-shell/src/RoomShellCommandPalette.tsx
  packages/room-shell/src/RoomShellSidebarButtons.tsx
  packages/room-shell/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deps): declare Kepler table loaders runtime
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Harden MCP command and approval policy
  apps/sqlrooms-cli-ui/src/__tests__/createCliRoomCapabilityHandlers.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/mcpQueryApproval.test.ts
  apps/sqlrooms-cli-ui/src/createCliRoomCapabilities.ts
  apps/sqlrooms-cli-ui/src/mcpQueryApproval.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(example): tolerate missing ECMWF ingestion metadata
  examples/deckgl-mosaic-datafusion/src/lab/__tests__/zarr-cube.test.ts
  examples/deckgl-mosaic-datafusion/src/lab/forecast-availability.ts
  examples/deckgl-mosaic-datafusion/src/lab/zarr-cube.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs(mosaic): document slice creation modes
  packages/mosaic/src/MosaicSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

follow up
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(room-shell): support base-only loading progress
  packages/room-shell/__tests__/RoomShell.test.tsx
  packages/room-shell/jest.config.js
  packages/room-shell/package.json
  packages/room-shell/src/RoomShell.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Address MCP lifecycle review feedback
  apps/sqlrooms-cli-ui/src/__tests__/createCliRoomCapabilityHandlers.test.ts
  apps/sqlrooms-cli-ui/src/createCliRoomCapabilities.ts
  packages/mcp/__tests__/runtime.test.ts
  packages/room-store/src/CommandSlice.ts
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(example): target forecast sidebar tabs
  examples/deckgl-mosaic-datafusion/src/room.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

restore extrusion for geojson
  packages/deck/__tests__/createDeckJsonConfiguration.test.ts
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/__tests__/scaleFunction.test.ts
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/json/scaleFunction.ts
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

bad layer type logic
  packages/deck/README.md
  packages/deck/__tests__/dashboard-ai-map.test.ts
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/__tests__/mapResourceAuthoring.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/ai.ts
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/mapAiSharedInstructions.ts
  packages/deck/src/mapResourceAuthoring.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Address latest MCP discovery feedback
  packages/mcp/src/runtime.ts
  python/sqlrooms/sqlrooms/web/mcp.py
  python/sqlrooms/tests/test_mcp.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

Address MCP transport review feedback
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/sqlrooms/web/mcp.py
  python/sqlrooms/sqlrooms/web/mcp_bridge.py
  python/sqlrooms/tests/test_launcher.py
  python/sqlrooms/tests/test_mcp.py
Due: uv run --project python ruff check --fix

Address MCP runtime validation feedback
  apps/sqlrooms-cli-ui/src/__tests__/createCliRoomCapabilityHandlers.test.ts
  apps/sqlrooms-cli-ui/src/createCliRoomCapabilities.ts
  packages/mcp/__tests__/runtime.test.ts
  packages/mcp/src/runtime.ts
  packages/mcp/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix for polygon layer
  packages/deck/__tests__/createDeckJsonConfiguration.test.ts
  packages/deck/src/prepare/wkbDecoder.ts
  packages/deck/src/prepare/wkbParser.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Use parsed SQL references for MCP policy
  apps/sqlrooms-cli-ui/src/__tests__/createCliRoomCapabilityHandlers.test.ts
  apps/sqlrooms-cli-ui/src/createCliRoomCapabilities.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix for error that blocked UI panel
  packages/deck/__tests__/MapSettingsControls.test.ts
  packages/deck/src/BlockMapSettings.tsx
  packages/deck/src/DashboardMapSettings.tsx
  packages/deck/src/DeckMapSurface.tsx
  packages/deck/src/MapSettings.tsx
  packages/deck/src/ai.ts
  packages/deck/src/aiNormalize.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

show collapsible error message
  packages/deck/src/DeckJsonMap.tsx
  packages/deck/src/MapSettings.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

stroke vs extrusion warning
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

dataset switch for worsheets but not dashboards
  packages/deck/__tests__/MapSettingsControls.test.ts
  packages/deck/src/BlockMapSettings.tsx
  packages/deck/src/MapSettings.tsx
  packages/deck/src/mapConfigUtils.ts
  packages/deck/src/mapResourceAuthoring.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(examples): sync DataFusion demo
  docs/public/media/examples/sqlrooms-deckgl-mosaic-datafusion-example.mp4
  examples/deckgl-mosaic-datafusion/README.md
  examples/deckgl-mosaic-datafusion/jest.config.js
  examples/deckgl-mosaic-datafusion/package.json
  pnpm-lock.yaml
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

fix(examples): address DataFusion review feedback
  examples/deckgl-mosaic-datafusion/README.md
  examples/deckgl-mosaic-datafusion/jest.config.js
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

fix(examples): sync DataFusion demo (#851)
  docs/public/media/examples/sqlrooms-deckgl-mosaic-datafusion-example.mp4
  examples/deckgl-mosaic-datafusion/README.md
  examples/deckgl-mosaic-datafusion/jest.config.js
  examples/deckgl-mosaic-datafusion/package.json
  pnpm-lock.yaml
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

Path conditions:
  eslint --config .eslintrc.js --max-warnings=50: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{ts,tsx,js})
  turbo lint --filter=@sqlrooms/* --: any of: **/*.{ts,tsx,js}
  uv run --project python ruff check --fix: any of: python/**/*.py
