Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

feedback
  .prettierignore
  python/sqlrooms-rag/docs/METADATA.md
Due: none

refactor
  apps/sqlrooms-cli-ui/src/components/DataSourcesPanel.tsx
  examples/ai-rag/src/components/DataSourcesPanel.tsx
  examples/ai/src/components/DataSourcesPanel.tsx
  examples/canvas-sync/src/DataSourcesPanel.tsx
  examples/canvas/src/DataSourcesPanel.tsx
  examples/deckgl/src/components/DataPanel.tsx
  examples/kepler/src/components/DataPanel.tsx
  examples/notebook/src/DataSourcesPanel.tsx
  examples/query-motherduck/src/DataPanel.tsx
  examples/query-pwa/src/DataPanel.tsx
  examples/query-websocket/src/DataPanel.tsx
  examples/query/src/DataPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor
  apps/sqlrooms-cli-ui/src/components/DataSourcesPanel.tsx
  packages/db-settings/src/components/DbSettings.tsx
  packages/db-settings/src/index.ts
  packages/sql-editor/src/components/SchemaExplorer.tsx
  packages/sql-editor/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  packages/sql-editor/src/components/SchemaExplorer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

unused files
  packages/db-settings/src/components/DbSettingsDialog.tsx
  packages/db-settings/src/components/DbSettingsPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

saving connections
  apps/sqlrooms-cli-ui/src/components/DataSourcesPanel.tsx
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/db-settings/src/DbSettingsSlice.ts
  packages/db-settings/src/DbSettingsSliceConfig.ts
  packages/db-settings/src/components/DbConnectionForm.tsx
  packages/db-settings/src/components/DbSettings.tsx
  packages/db-settings/src/index.ts
  packages/db/src/types.ts
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/__init__.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/postgres.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/snowflake.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/factory.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/registry.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/types.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_cli.py
  python/sqlrooms-cli/tests/test_db_bridge.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

chore: Fix build error in RefreshButton for react 18
  packages/schema-tree/src/nodes/RefreshButton.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

dep ordering
  packages/mosaic/package.json
Due: none

Save to config button is now disabled when there are no unsaved changes
  packages/db-settings/src/DbSettingsSlice.ts
  packages/db-settings/src/components/DbConnectionForm.tsx
  packages/db-settings/src/components/DbSettings.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

generic cells engine: don't know about pivot
  examples/notebook/package.json
  examples/notebook/src/store.ts
  packages/cells/package.json
  packages/cells/src/cellsSlice.ts
  packages/cells/src/components/SqlCellContent.tsx
  packages/cells/src/components/VegaCellContent.tsx
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/execution.ts
  packages/cells/src/index.ts
  packages/cells/src/types.ts
  packages/notebook/package.json
  packages/notebook/src/cellSchemas.ts
  packages/pivot/__tests__/pivot-sql.test.ts
  packages/pivot/package.json
  packages/pivot/src/PivotCellContent.tsx
  packages/pivot/src/index.ts
  packages/pivot/src/pivotCellBinding.ts
  packages/pivot/src/pivotCellHelpers.ts
  packages/pivot/src/pivotCellRegistryEntry.tsx
  packages/pivot/src/pivotCellTypes.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: Fix build error in RefreshButton for react 18 (#491)
  packages/mosaic/package.json
  packages/schema-tree/src/nodes/RefreshButton.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

__sqlrooms_pivot
  packages/pivot/src/PivotSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix dragging
  packages/pivot/src/PivotEditor.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

improve ai assistent text visibility
  packages/ai-core/src/components/AnalysisAnswer.tsx
  packages/ai-core/src/components/ErrorMessage.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  packages/db-settings/src/DbSettingsSlice.ts
  packages/db-settings/src/components/DbConnectionForm.tsx
  packages/db-settings/src/components/DbSettings.tsx
  packages/sql-editor/src/components/SchemaExplorer.tsx
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/postgres.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/registry.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_cli.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

address comments
  packages/ai-core/src/components/AnalysisAnswer.tsx
  packages/ai-core/src/components/ErrorMessage.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: improve ai assistant text visibility (#493)
  packages/ai-core/src/components/AnalysisAnswer.tsx
  packages/ai-core/src/components/ErrorMessage.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_cli.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: uv run --project python ruff check --fix

Add .worktrees/ to .gitignore for git worktree support
  .gitignore
Due: none

fix: adjust padding in notebook examples
  examples/notebook/src/DataSourcesPanel.tsx
  examples/notebook/src/room.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  examples/app-builder/package.json
  examples/canvas-sync/src/room.tsx
  examples/canvas/src/room.tsx
  examples/notebook/package.json
  examples/notebook/src/room.tsx
  packages/pivot/package.json
  packages/pivot/src/PivotCellContent.tsx
  packages/pivot/src/PivotCoreSlice.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: remove unnecessary padding
  examples/canvas-sync/src/room.tsx
  examples/canvas/src/room.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

simplify
  examples/notebook/src/store.ts
  packages/canvas/src/CanvasSlice.ts
  packages/cells/__tests__/defaultCellRegistry.integration.test.tsx
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/types.ts
  packages/notebook/src/NotebookSlice.ts
  packages/pivot/src/PivotBinding.ts
  packages/pivot/src/PivotCellContent.tsx
  packages/pivot/src/PivotCoreSlice.ts
  packages/pivot/src/PivotSlice.ts
  packages/pivot/src/index.ts
  packages/pivot/src/pivotCellBinding.ts
  packages/pivot/src/pivotCellHelpers.ts
  packages/pivot/src/pivotCellRegistryEntry.tsx
  packages/pivot/src/pivotCellTypes.ts
  packages/pivot/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

simplify
  packages/pivot/src/PivotCoreSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

deps
  packages/pivot/package.json
Due: none

simplify
  packages/pivot/src/PivotSlice.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix deps
  examples/app-builder/package.json
  pnpm-lock.yaml
Due: none

pr feedback
  examples/pivot/package.json
  packages/pivot/src/PivotCoreSlice.ts
  packages/pivot/src/PivotEditor.tsx
  packages/pivot/src/TableRenderer.tsx
  packages/pivot/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: adjust padding in notebook examples (#494)
  examples/notebook/src/DataSourcesPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: add VegaCellDatasetSelector component for SQL cell selection
  packages/cells/src/components/VegaCellContent.tsx
  packages/cells/src/components/VegaCellDatasetSelector.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: code review comments
  packages/cells/src/components/VegaCellDatasetSelector.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Upgrade react-mosaic
  apps/sqlrooms-cli-ui/src/layout.ts
  examples/ai-rag/src/store.ts
  examples/ai/src/store.ts
  examples/canvas/src/store.ts
  examples/deckgl-discuss/src/store.ts
  examples/deckgl/src/store.ts
  examples/kepler/src/store.ts
  examples/mosaic/src/store.ts
  examples/notebook/src/store.ts
  examples/pivot/src/store.ts
  examples/query-motherduck/src/store.ts
  examples/query-pwa/src/store.ts
  examples/query-websocket/src/store.ts
  examples/query/src/store.ts
  packages/cells/__tests__/mocks/react-mosaic-component.js
  packages/layout-config/src/LayoutConfig.ts
  packages/layout-config/src/index.ts
  packages/layout/package.json
  packages/layout/src/LayoutSlice.ts
  packages/layout/src/index.ts
  packages/layout/src/mosaic/MosaicLayout.tsx
  packages/layout/src/mosaic/MosaicTile.tsx
  packages/layout/src/mosaic/mosaic-utils.ts
  packages/room-config/src/index.ts
  packages/room-shell/package.json
  packages/room-shell/src/RoomShell.tsx
  packages/room-shell/src/index.ts
  packages/room-store/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs
  README.md
  docs/getting-started.md
  docs/key-concepts.md
  packages/layout-config/README.md
  packages/layout/README.md
  packages/room-shell/README.md
Due: none

docs
  docs/upgrade-guide.md
Due: none

docs
  packages/room-shell/package.json
  pnpm-lock.yaml
Due: none

feat: Upgrade AI SDK from v5 to v6 with ToolLoopAgent
  docs/upgrade-guide.md
  examples/ai-agent/package.json
  examples/ai-agent/src/agents/WeatherAgent.ts
  examples/ai-core/package.json
  examples/ai-nextjs/package.json
  examples/ai-nextjs/src/app/api/chat/route.ts
  examples/ai-rag/package.json
  examples/ai/package.json
  examples/app-builder/package.json
  packages/ai-config/src/index.ts
  packages/ai-config/src/schema/UIMessageSchema.ts
  packages/ai-core/README.md
  packages/ai-core/package.json
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/agents/AgentUtils.ts
  packages/ai-core/src/chatTransport.ts
  packages/ai-core/src/components/ToolCallInfo.tsx
  packages/ai-core/src/components/ToolPartRenderer.tsx
  packages/ai-core/src/components/tools/ToolResult.tsx
  packages/ai-core/src/hooks/useAssistantMessageParts.ts
  packages/ai-core/src/hooks/useSessionChat.ts
  packages/ai-core/src/index.ts
  packages/ai-core/src/types.ts
  packages/ai-core/src/utils.ts
  packages/ai-rag/package.json
  packages/ai-rag/src/createRagTool.tsx
  packages/ai/package.json
  packages/ai/src/index.ts
  packages/ai/src/tools/query/queryTool.ts
  packages/mosaic/package.json
  packages/vega/package.json
  packages/vega/src/VegaChartTool.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: update streamSubAgent call in upgrade guide for AI SDK v6
  docs/upgrade-guide.md
Due: none
