Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(app-runtime): avoid unstable html app selector
  packages/app-runtime/src/html-app.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(app-runtime): address html app bridge review
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
  apps/sqlrooms-cli-ui/src/workspace/AppBuilderArtifact.tsx
  packages/app-runtime/__tests__/html-app.test.ts
  packages/app-runtime/src/html-app.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: Removed dev-docs tasks
  dev-docs/tasks/analysis-document-artifacts.md
  dev-docs/tasks/cells-blocks-convergence.md
  dev-docs/tasks/root-block-artifacts.md
  dev-docs/tasks/shared-session-backend.md
  dev-docs/tasks/sql-query-block-artifacts.md
  dev-docs/tasks/stateful-blocks-artifact-shells.md
Due: none

fix(cli): register html app artifact command
  apps/sqlrooms-cli-ui/src/createDashboardCommands.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add artifact context menu actions
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliArtifactsSidebarSection.tsx
  apps/sqlrooms-cli-ui/src/workspace/sidebar/useCliArtifactSidebarTabs.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Adjust artifact sidebar action button alignment
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliArtifactsSidebarSection.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Handle CLI dev port conflicts automatically
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/vite.config.ts
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/scripts/dev.mjs
  scripts/dev.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Hide prompt suggestions in assistant chat
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: AGENTS: PR titles should respect conventional-commits
  AGENTS.md
Due: none

chore: Hide prompt suggestions in assistant chat (#740)
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(app-runtime): surface html app runtime diagnostics
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
  packages/app-runtime/__tests__/bridge.test.ts
  packages/app-runtime/__tests__/html-app.test.ts
  packages/app-runtime/src/host.ts
  packages/app-runtime/src/html-app.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feedback
  apps/sqlrooms-cli-ui/README.md
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/scripts/dev.mjs
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_cli.py
  python/sqlrooms-cli/tests/test_launcher.py
  scripts/dev.mjs
Due: uv run --project python ruff check --fix

fix(cli): route worksheet html apps through worksheet agent
  apps/sqlrooms-cli-ui/src/createEmbeddedHtmlAppAgent.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/mosaic/README.md
  packages/mosaic/__tests__/worksheet-ai.test.ts
  packages/mosaic/src/ai/worksheet/constants.ts
  packages/mosaic/src/ai/worksheet/createListWorksheetBlocksTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAgentTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAiTools.ts
  packages/mosaic/src/ai/worksheet/worksheet-types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(cli): make html app agent app-id scoped
  apps/sqlrooms-cli-ui/src/createEmbeddedHtmlAppAgent.ts
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/mosaic/src/ai/worksheet/createListWorksheetBlocksTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAgentTool.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feedback
  python/sqlrooms-cli/scripts/dev.mjs
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_cli.py
  python/sqlrooms-cli/tests/test_launcher.py
  scripts/dev.mjs
Due: uv run --project python ruff check --fix

refactor(cli): share html app agent input schema
  apps/sqlrooms-cli-ui/src/createEmbeddedHtmlAppAgent.ts
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(cli): render selected artifact without hidden tabs
  apps/sqlrooms-cli-ui/src/workspace/ArtifactsContainerPanel.tsx
  apps/sqlrooms-cli-ui/src/workspace/sidebar/useCliArtifactSidebarTabs.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feedback
  apps/sqlrooms-cli-ui/src/workspace/sidebar/useCliArtifactSidebarTabs.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(cli): align worksheet html app agent flow
  apps/sqlrooms-cli-ui/src/createEmbeddedHtmlAppAgent.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/mosaic/__tests__/worksheet-ai.test.ts
  packages/mosaic/src/ai/worksheet/constants.ts
  packages/mosaic/src/ai/worksheet/createAddHtmlAppBlockTool.ts
  packages/mosaic/src/ai/worksheet/createListWorksheetBlocksTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAgentTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAiTools.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: avoid CLI dev port collisions
  scripts/dev.mjs
Due: none

fix: isolate CLI dev database instances
  python/sqlrooms-cli/scripts/dev.mjs
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_launcher.py
  scripts/dev.mjs
Due: uv run --project python ruff check --fix

fix: show database startup failures in UI
  apps/sqlrooms-cli-ui/src/store.ts
  packages/room-shell/src/RoomShell.tsx
  packages/room-shell/src/RoomShellSlice.ts
  packages/ui/src/components/progress-modal.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Add rename and delete actions to CLI artifact sidebar (#738)
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliArtifactsSidebarSection.tsx
  apps/sqlrooms-cli-ui/src/workspace/sidebar/useCliArtifactSidebarTabs.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): generate html app files before writing
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: compact assistant composer controls
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
  packages/ai-core/README.md
  packages/ai-core/src/components/LocalAgentChatComposer.tsx
  packages/ai-core/src/components/ModelSelector.tsx
  packages/ai-core/src/components/QueryControls.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(cli): accept single html app source
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: surface CLI backend startup errors
  apps/sqlrooms-cli-ui/src/cliDatabaseInitialization.ts
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/room-shell/src/RoomShell.tsx
  packages/room-shell/src/RoomShellSlice.ts
  packages/ui/src/components/progress-modal.tsx
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(documents): guard destroyed block editors
  packages/documents/src/BlockDocumentEditor/BlockDocumentEditorRoot.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add table delete action to CLI sidebar
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliDataSidebarSection.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): edit existing html app source incrementally
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAgentTool.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Preserve HTML app state during runtime writes
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
  packages/app-runtime/__tests__/html-app.test.ts
  packages/app-runtime/src/html-app.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Add app runtime bridge for sandboxed HTML apps (#737)
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/artifactTypeIds.ts
  apps/sqlrooms-cli-ui/src/artifactTypes.tsx
  apps/sqlrooms-cli-ui/src/createDashboardCommands.ts
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  apps/sqlrooms-cli-ui/src/statefulBlockArtifactConfigs.ts
  apps/sqlrooms-cli-ui/src/store-types.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/workspace/AppBuilderArtifact.tsx
  apps/sqlrooms-cli-ui/src/workspace/WorksheetArtifact.tsx
  packages/app-runtime/README.md
  packages/app-runtime/__tests__/bridge.test.ts
  packages/app-runtime/__tests__/html-app.test.ts
  packages/app-runtime/eslint.config.js
  packages/app-runtime/jest.config.js
  packages/app-runtime/package.json
  packages/app-runtime/src/client.ts
  packages/app-runtime/src/host.ts
  packages/app-runtime/src/html-app.tsx
  packages/app-runtime/src/index.ts
  packages/app-runtime/src/protocol.ts
  packages/app-runtime/tsconfig.json
  packages/app-runtime/typedoc.js
  packages/documents/src/BlockDocumentEditor/BlockDocumentEditorRoot.tsx
  packages/mosaic/README.md
  packages/mosaic/__tests__/worksheet-ai.test.ts
  packages/mosaic/src/ai/worksheet/constants.ts
  packages/mosaic/src/ai/worksheet/createAddHtmlAppBlockTool.ts
  packages/mosaic/src/ai/worksheet/createListWorksheetBlocksTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAgentTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAiTools.ts
  packages/mosaic/src/ai/worksheet/worksheet-types.ts
  packages/webcontainer/src/components/BrowserView.tsx
  packages/webcontainer/src/components/WebContainerWorkbench.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: harden CLI dev port probing
  python/sqlrooms-cli/scripts/dev.mjs
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_launcher.py
  scripts/dev.mjs
Due: uv run --project python ruff check --fix

feat: Add table delete action to the CLI sidebar (#744)
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliDataSidebarSection.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: address assistant composer review
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
  packages/ai-core/src/components/QueryControls.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: reuse empty artifact chat sessions
  apps/sqlrooms-cli-ui/src/createDashboardCommands.ts
  packages/artifacts/README.md
  packages/artifacts/__tests__/artifactAiSessions.test.ts
  packages/artifacts/src/ai/artifactAiSessionHelpers.ts
  packages/artifacts/src/ai/artifactAiSlice.ts
  packages/artifacts/src/ai/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: Remove unused file
  pbcopy
Due: none

fix: avoid failing slow CLI database initialization
  apps/sqlrooms-cli-ui/src/cliDatabaseInitialization.ts
  packages/ui/src/components/progress-modal.tsx
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

chore: geoarrow upgrade
  packages/deck/README.md
  packages/deck/package.json
  packages/deck/src/json/compileGeoArrowAccessor.ts
  packages/deck/src/json/defaultClasses.ts
  packages/deck/src/json/layers/DeckColumnLayer.ts
  packages/deck/src/json/layers/DeckH3HexagonLayer.ts
  packages/deck/src/json/layers/DeckTripsLayer.ts
  packages/deck/src/json/layers/createTableToRecordBatchAdapter.ts
  packages/deck/src/json/layers/index.ts
  packages/deck/src/json/rewriteGeoArrowAccessors.ts
  packages/deck/src/prepare/types.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: keep slow CLI backend startup pending
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: uv run --project python ruff check --fix

Path conditions:
  eslint --config .eslintrc.js --max-warnings=50: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{ts,tsx,js})
  turbo lint --filter=@sqlrooms/* --: any of: **/*.{ts,tsx,js}
  uv run --project python ruff check --fix: any of: python/**/*.py
