Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

fix(cli): stop option parsing at separator
  scripts/cli-dev-args.mjs
  scripts/cli-dev-args.test.mjs
Due: none

fix(deck): align structured point map bindings
  apps/sqlrooms-cli-ui/src/createCliBlockDocumentCommands.ts
  packages/deck/README.md
  packages/deck/__tests__/createOrUpdateDeckMapResource.test.ts
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/src/createOrUpdateDeckMapResource.ts
  packages/deck/src/mapConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): validate point binding columns
  packages/deck/README.md
  packages/deck/__tests__/createOrUpdateDeckMapResource.test.ts
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/src/createOrUpdateDeckMapResource.ts
  packages/deck/src/mapConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): wait for API before starting Vite
  apps/sqlrooms-cli-ui/package.json
  scripts/cli-dev-readiness.mjs
  scripts/cli-dev-readiness.test.mjs
  scripts/dev.mjs
Due: none

fix(cli): ignore early MCP bridge disconnects
  python/sqlrooms/sqlrooms/web/mcp_bridge.py
  python/sqlrooms/tests/test_mcp.py
Due: uv run --project python ruff check --fix

fix(deck): validate point map selection
  packages/deck/README.md
  packages/deck/__tests__/createOrUpdateDeckMapResource.test.ts
  packages/deck/src/createOrUpdateDeckMapResource.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore(evals): ignore generated artifacts
  .gitignore
Due: none

fix(ai-core): dispatch state boundaries on the runtime and scope credential gating
  packages/ai-core/README.md
  packages/ai-core/__tests__/AiSlice.hasResolvableModel.test.ts
  packages/ai-core/__tests__/PromptSuggestions.test.tsx
  packages/ai-core/__tests__/QueryControls.test.tsx
  packages/ai-core/__tests__/support/localAgentRuntime.tsx
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/components/PromptSuggestions.tsx
  packages/ai-core/src/components/primitives/createDualModeChatContext.tsx
  packages/ai-core/src/components/suggestions/Dismiss.tsx
  packages/ai-core/src/components/suggestions/Root.tsx
  packages/ai-core/src/components/suggestions/VisibilityToggle.tsx
  packages/ai-core/src/components/suggestions/controlledVisibility.tsx
  packages/ai-core/src/components/suggestions/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): clean up WebSocket relay on shutdown
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_launcher.py
Due: uv run --project python ruff check --fix

fix(cli): preserve separate dev websocket URLs
  apps/sqlrooms-cli-ui/src/__tests__/runtimeConfig.test.ts
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/runtimeEnvironment.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): preserve forwarded argument separator
  scripts/cli-dev-args.mjs
  scripts/cli-dev-args.test.mjs
  scripts/dev.mjs
Due: none

fix(ai-core): key the custom-model probe cache by selection
  packages/ai-core/README.md
  packages/ai-core/__tests__/AiSlice.hasResolvableModel.test.ts
  packages/ai-core/src/AiSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): generate canonical point map transforms (#881)
  .gitignore
  apps/sqlrooms-cli-ui/src/__tests__/createCliBlockDocumentCommands.test.ts
  apps/sqlrooms-cli-ui/src/createCliBlockDocumentCommands.ts
  packages/deck/README.md
  packages/deck/__tests__/createOrUpdateDeckMapResource.test.ts
  packages/deck/__tests__/mapAiConfig.test.ts
  packages/deck/__tests__/mapResourceAuthoring.test.ts
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/src/createOrUpdateDeckMapResource.ts
  packages/deck/src/index.ts
  packages/deck/src/mapAiConfig.ts
  packages/deck/src/mapConfigUtils.ts
  packages/deck/src/mapResourceAuthoring.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): distinguish forwarded argument separators
  scripts/cli-dev-args.mjs
  scripts/cli-dev-args.test.mjs
  scripts/dev.mjs
Due: none

fix(ai-core): check send readiness before running pre-send handlers
  packages/ai-core/README.md
  packages/ai-core/__tests__/QueryControls.test.tsx
  packages/ai-core/src/components/composer/ChatComposerContext.tsx
  packages/ai-core/src/components/composer/DropTarget.tsx
  packages/ai-core/src/components/composer/beforeSend.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): abort UI startup during shutdown
  scripts/cli-dev-readiness.mjs
  scripts/cli-dev-readiness.test.mjs
  scripts/dev.mjs
Due: none

fix: CLI DuckDB WebSocket startup (#880)
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/cliDevProxy.d.mts
  apps/sqlrooms-cli-ui/cliDevProxy.mjs
  apps/sqlrooms-cli-ui/cliDevProxy.test.mjs
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/__tests__/runtimeConfig.test.ts
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/runtimeEnvironment.ts
  apps/sqlrooms-cli-ui/vite.config.ts
  python/sqlrooms/package.json
  python/sqlrooms/scripts/dev.mjs
  python/sqlrooms/scripts/dev.test.mjs
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/sqlrooms/web/mcp_bridge.py
  python/sqlrooms/tests/test_launcher.py
  python/sqlrooms/tests/test_mcp.py
  scripts/cli-dev-args.mjs
  scripts/cli-dev-args.test.mjs
  scripts/cli-dev-readiness.mjs
  scripts/cli-dev-readiness.test.mjs
  scripts/dev.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(ai-core): retire the custom-model probe on settings change, and trim the review comments
  docs/upgrade-guide.md
  packages/ai-core/README.md
  packages/ai-core/__tests__/AiSlice.hasResolvableModel.test.ts
  packages/ai-core/__tests__/PromptSuggestions.test.tsx
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/components/PromptSuggestions.tsx
  packages/ai-core/src/components/composer/ChatComposerContext.tsx
  packages/ai-core/src/components/composer/DropTarget.tsx
  packages/ai-core/src/components/composer/beforeSend.tsx
  packages/ai-core/src/components/composer/index.ts
  packages/ai-core/src/components/primitives/ActionButton.tsx
  packages/ai-core/src/components/primitives/createDualModeChatContext.tsx
  packages/ai-core/src/components/primitives/withProvider.tsx
  packages/ai-core/src/components/queryControls/ComposerFrame.tsx
  packages/ai-core/src/components/suggestions/ChatSuggestionsContext.tsx
  packages/ai-core/src/components/suggestions/Root.tsx
  packages/ai-core/src/components/suggestions/VisibilityToggle.tsx
  packages/ai-core/src/components/suggestions/controlledVisibility.tsx
  packages/ai-core/src/components/suggestions/index.ts
  packages/ai-core/src/index.ts
  packages/ui/src/components/scrollable-row.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(duckdb-core): preserve string numeric values
  packages/duckdb-core/__tests__/getColValAsNumber.test.ts
  packages/duckdb-core/src/duckdb-utils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs(duckdb-core): clarify numeric conversion
  packages/duckdb-core/src/duckdb-utils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(duckdb-core): preserve string numeric values (#883)
  packages/duckdb-core/__tests__/getColValAsNumber.test.ts
  packages/duckdb-core/src/duckdb-utils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(documents): distinguish missing block documents
  packages/documents/README.md
  packages/documents/__tests__/BlockDocumentAi.test.ts
  packages/documents/src/createListBlockDocumentBlocksTool.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Update packages/documents/src/createListBlockDocumentBlocksTool.ts
  packages/documents/src/createListBlockDocumentBlocksTool.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(documents): distinguish missing block documents (#886)
  packages/documents/README.md
  packages/documents/__tests__/BlockDocumentAi.test.ts
  packages/documents/src/createListBlockDocumentBlocksTool.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(duckdb-node)!: convert results via DuckDB's own Arrow IPC
  packages/duckdb-node/__tests__/NodeDuckDbConnector.test.ts
  packages/duckdb-node/src/NodeDuckDbConnector.ts
  packages/duckdb-node/src/helpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(duckdb-node): preserve non-select query results
  packages/duckdb-node/__tests__/NodeDuckDbConnector.test.ts
  packages/duckdb-node/src/helpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(duckdb-node): preserve exact fallback results
  packages/duckdb-node/README.md
  packages/duckdb-node/__tests__/NodeDuckDbConnector.test.ts
  packages/duckdb-node/src/NodeDuckDbConnector.ts
  packages/duckdb-node/src/helpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(duckdb-node): harden query lifecycle
  packages/duckdb-node/__tests__/NodeDuckDbConnector.test.ts
  packages/duckdb-node/src/NodeDuckDbConnector.ts
  packages/duckdb-node/src/helpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(duckdb-core): handle DuckDB SQL statement syntax
  packages/duckdb-core/README.md
  packages/duckdb-core/__tests__/splitSqlStatements.test.ts
  packages/duckdb-core/src/duckdb-utils.ts
  packages/duckdb-core/src/index.ts
  packages/duckdb/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(duckdb-node): close lifecycle race
  packages/duckdb-node/__tests__/NodeDuckDbConnector.test.ts
  packages/duckdb-node/src/NodeDuckDbConnector.ts
  packages/duckdb-node/src/helpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(sql-editor): preserve quoted SQL in previews
  packages/duckdb-core/__tests__/splitSqlStatements.test.ts
  packages/sql-editor/src/components/SqlQueryPreview.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(duckdb-core): preserve SQL token boundaries
  packages/duckdb-core/__tests__/splitSqlStatements.test.ts
  packages/duckdb-core/src/duckdb-utils.ts
  packages/duckdb/README.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(duckdb-core): handle DuckDB SQL statement syntax (#888)
  packages/duckdb-core/README.md
  packages/duckdb-core/__tests__/splitSqlStatements.test.ts
  packages/duckdb-core/src/duckdb-utils.ts
  packages/duckdb-core/src/index.ts
  packages/duckdb/README.md
  packages/duckdb/src/index.ts
  packages/sql-editor/src/components/SqlQueryPreview.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(duckdb-node): reuse SQL statement splitter
  packages/duckdb-node/src/helpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs(duckdb-node): explain non-select Arrow conversion
  packages/duckdb-node/src/helpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(duckdb-node): preserve statement count results
  packages/duckdb-node/__tests__/NodeDuckDbConnector.test.ts
  packages/duckdb-node/src/helpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(duckdb-node): avoid temporary result collisions
  packages/duckdb-node/__tests__/NodeDuckDbConnector.test.ts
  packages/duckdb-node/src/helpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(duckdb-node): preserve Arrow materialization types
  packages/duckdb-core/src/BaseDuckDbConnector.ts
  packages/duckdb-core/src/typedRowAccessor.ts
  packages/duckdb-node/__tests__/NodeDuckDbConnector.test.ts
  packages/duckdb-node/src/NodeDuckDbConnector.ts
  packages/duckdb-node/src/helpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(cli): add visual rendering tools for agents
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/docs/capability-profiles.md
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/__tests__/createCliAiTools.test.ts
  apps/sqlrooms-cli-ui/src/ai/__tests__/createRenderedSurfaceAiTools.test.ts
  apps/sqlrooms-cli-ui/src/ai/createRenderedSurfaceAiTools.ts
  apps/sqlrooms-cli-ui/src/createCliAiTools.ts
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/runtimeEnvironment.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/workspace/ArtifactsContainerPanel.tsx
  packages/documents/__tests__/BlockDocumentStatefulBlockRendererContext.test.tsx
  packages/documents/src/BlockDocumentEditor/node-views/BlockDocumentChartNodeView.tsx
  packages/documents/src/BlockDocumentEditor/node-views/BlockDocumentStatefulBlockNodeView.tsx
  packages/documents/src/block-settings/SelectablePanelWrapper.tsx
  pnpm-lock.yaml
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_cli.py
  python/sqlrooms/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix
