Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

fix(cli): preserve asset mounts and external URL environment
  apps/sqlrooms-cli-ui/README.md
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_launcher.py
  scripts/cli-dev-args.mjs
  scripts/cli-dev-args.test.mjs
Due: uv run --project python ruff check --fix

fix(cli): prepare Claude plugin for direct wheel builds
  .github/workflows/pr-checks-python.yml
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/claude-plugin/README.md
  apps/sqlrooms-cli-ui/evals/evidence/claude-plugin/README.md
  python/sqlrooms/README.md
  python/sqlrooms/package.json
Due: none

fix(auth): authenticate CRDT sync and support browser-only startup
  packages/crdt/README.md
  packages/crdt/__tests__/webSocketSyncConnector.test.ts
  packages/crdt/src/sync/webSocketSyncConnector.ts
  python/sqlrooms-server/package.json
  python/sqlrooms/AUTHENTICATION.md
  python/sqlrooms/README.md
  python/sqlrooms/pyproject.toml
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/sqlrooms/web/security.py
  python/sqlrooms/tests/AUTHENTICATION_VERIFICATION.md
  python/sqlrooms/tests/test_live_auth.py
  python/sqlrooms/tests/test_security.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

feat(cli): share the canonical MCP tool contract with Python
  .github/workflows/pr-checks.yml
  apps/sqlrooms-cli-ui/build-mcp-tool-contract.mjs
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/__tests__/createCliRoomCapabilityHandlers.test.ts
  apps/sqlrooms-cli-ui/src/cliMcpToolContract.ts
  apps/sqlrooms-cli-ui/src/createCliRoomCapabilities.ts
  python/sqlrooms/scripts/verify_wheel.py
  python/sqlrooms/sqlrooms/mcp_tool_contract.json
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

feat(cli): expose recent workspaces and verified persistence controls
  apps/sqlrooms-cli-ui/claude-plugin/.claude-plugin/plugin.json
  apps/sqlrooms-cli-ui/skills/sqlrooms/SKILL.md
  apps/sqlrooms-cli-ui/src/components/CliMcpBridge.tsx
  apps/sqlrooms-cli-ui/src/components/CliWorkspaceStatus.tsx
  apps/sqlrooms-cli-ui/src/room.tsx
  packages/mcp/README.md
  packages/mcp/__tests__/browser.test.ts
  packages/mcp/src/browser.ts
  packages/mcp/src/protocol.ts
  python/sqlrooms/AGENT_WORKSPACES_VERIFICATION.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(cli): manage saved workspaces through a stable agent connector
  python/sqlrooms-server/README.md
  python/sqlrooms-server/sqlrooms/server/server.py
  python/sqlrooms-server/sqlrooms/server/tests/test_server_security.py
  python/sqlrooms/AGENT_WORKSPACES.md
  python/sqlrooms/README.md
  python/sqlrooms/pyproject.toml
  python/sqlrooms/sqlrooms/__main__.py
  python/sqlrooms/sqlrooms/agent/__init__.py
  python/sqlrooms/sqlrooms/agent/availability.py
  python/sqlrooms/sqlrooms/agent/catalog.py
  python/sqlrooms/sqlrooms/agent/cli.py
  python/sqlrooms/sqlrooms/agent/code_plugin.py
  python/sqlrooms/sqlrooms/agent/connector.py
  python/sqlrooms/sqlrooms/agent/contract.py
  python/sqlrooms/sqlrooms/agent/discovery.py
  python/sqlrooms/sqlrooms/agent/manager.py
  python/sqlrooms/sqlrooms/agent/operations.py
  python/sqlrooms/sqlrooms/agent/process.py
  python/sqlrooms/sqlrooms/agent/registry.py
  python/sqlrooms/sqlrooms/agent/runtime.py
  python/sqlrooms/sqlrooms/agent/setup.py
  python/sqlrooms/sqlrooms/agent/storage.py
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/sqlrooms/web/mcp.py
  python/sqlrooms/sqlrooms/web/security.py
  python/sqlrooms/tests/test_agent_runtime.py
  python/sqlrooms/tests/test_agent_workspaces.py
  python/sqlrooms/tests/test_launcher.py
  python/uv.lock
Due: uv run --project python ruff check --fix

docs(cli): record auth integration and acceptance results
  python/sqlrooms/AGENT_WORKSPACES.md
  python/sqlrooms/AGENT_WORKSPACES_VERIFICATION.md
Due: none

feat(cli): import local files and approve database writes
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/claude-plugin/.claude-plugin/plugin.json
  apps/sqlrooms-cli-ui/skills/sqlrooms/SKILL.md
  apps/sqlrooms-cli-ui/src/__tests__/cliDataImport.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/createCliRoomCapabilityHandlers.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/serverApi.test.ts
  apps/sqlrooms-cli-ui/src/cliMcpToolContract.ts
  apps/sqlrooms-cli-ui/src/cliSqlPolicy.ts
  apps/sqlrooms-cli-ui/src/components/CliMcpBridge.tsx
  apps/sqlrooms-cli-ui/src/components/CliMcpQueryApprovalDialog.tsx
  apps/sqlrooms-cli-ui/src/createCliDataCommands.ts
  apps/sqlrooms-cli-ui/src/createCliDomainSlice.ts
  apps/sqlrooms-cli-ui/src/createCliRoomCapabilities.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/externalMcp.test.ts
  apps/sqlrooms-cli-ui/src/mcpQueryApproval.ts
  apps/sqlrooms-cli-ui/src/registerCliCapabilityProfileCommands.ts
  apps/sqlrooms-cli-ui/src/serverApi.ts
  apps/sqlrooms-cli-ui/src/store.ts
  python/sqlrooms/AGENT_WORKSPACES.md
  python/sqlrooms/AGENT_WORKSPACES_VERIFICATION.md
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/agent/connector.py
  python/sqlrooms/sqlrooms/mcp_tool_contract.json
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/sqlrooms/web/local_file.py
  python/sqlrooms/tests/test_local_file.py
  python/sqlrooms/tests/test_security.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

test(cli): isolate workspace setup from installed Claude Code
  python/sqlrooms/tests/test_agent_workspaces.py
Due: uv run --project python ruff check --fix

feat(cli): manage Claude Code tool trust during agent setup
  python/sqlrooms/AGENT_WORKSPACES.md
  python/sqlrooms/AGENT_WORKSPACES_VERIFICATION.md
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/agent/cli.py
  python/sqlrooms/sqlrooms/agent/code_plugin.py
  python/sqlrooms/sqlrooms/agent/permissions.py
  python/sqlrooms/sqlrooms/agent/setup.py
  python/sqlrooms/tests/test_agent_permissions.py
Due: uv run --project python ruff check --fix

fix(dev): open CLI workspace with an authorized launch ticket
  apps/sqlrooms-cli-ui/README.md
  python/sqlrooms/scripts/open_dev.py
  python/sqlrooms/tests/test_dev_launch.py
  scripts/dev.mjs
Due: uv run --project python ruff check --fix

test(roomie): complete repository validation and dependency checks
  apps/roomie-cli-ui/package.json
  apps/roomie-cli-ui/src/RoomState.ts
  apps/roomie-cli-ui/src/__tests__/commands.test.ts
  apps/roomie-cli-ui/src/__tests__/renderSources.test.ts
  apps/roomie-cli-ui/src/commands.ts
  apps/roomie-cli-ui/src/renderSources.ts
  apps/roomie-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/__tests__/browserAuth.test.ts
  package.json
  pnpm-lock.yaml
  python/roomie/VERIFICATION.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ci): install Roomie before Python test collection
  .github/workflows/pr-checks-python.yml
Due: none

fix: update map settings labels for consistency
  packages/deck/src/MapSettings.tsx
  packages/deck/src/block.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(mosaic): remove border and shadow from chart caption input
  packages/mosaic/src/components/BlockCaptionEditor.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): re-apply shortened map settings labels
  packages/deck/src/MapSettings.tsx
  packages/deck/src/block.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(mosaic): remove border and shadow from chart caption input (#931)
  packages/mosaic/src/components/BlockCaptionEditor.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: update map settings labels for consistency (#930)
  packages/deck/src/MapSettings.tsx
  packages/deck/src/block.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

agents should make titles concise
  packages/ai-core/src/hooks/useGenerateSessionTitle.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ai-core): keep the default session name when title generation fails
  packages/ai-core/README.md
  packages/ai-core/__tests__/generateSessionTitle.test.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/constants.ts
  packages/ai-core/src/hooks/useGenerateSessionTitle.ts
  packages/ai-core/src/index.ts
  packages/ai/README.md
  packages/ai/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ai-core): detect title-generation failure via onError, not response text
  packages/ai-core/README.md
  packages/ai-core/__tests__/generateSessionTitle.test.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/hooks/useGenerateSessionTitle.ts
  packages/ai-core/src/index.ts
  packages/ai/README.md
  packages/ai/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ai-core): isolate a throwing onError callback in sendPrompt
  packages/ai-core/__tests__/generateSessionTitle.test.ts
  packages/ai-core/src/AiSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(ai-core): fall back to "Untitled Chat" when title generation fails
  packages/ai-core/README.md
  packages/ai-core/__tests__/generateSessionTitle.test.ts
  packages/ai-core/src/constants.ts
  packages/ai-core/src/hooks/useGenerateSessionTitle.ts
  packages/ai/README.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ai-core): keep the default session name when title generation fails (#932)
  packages/ai-core/README.md
  packages/ai-core/__tests__/generateSessionTitle.test.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/constants.ts
  packages/ai-core/src/hooks/useGenerateSessionTitle.ts
  packages/ai/README.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: bigInt in data-table
  packages/data-table/README.md
  packages/data-table/__tests__/ArrowCellValue.test.ts
  packages/data-table/__tests__/getArrowVectorValue.test.ts
  packages/data-table/src/getArrowVectorValue.ts
  packages/data-table/src/index.ts
  packages/data-table/src/useArrowDataTable.tsx
  packages/mosaic/__tests__/DataTableExplorerCompound.test.tsx
  packages/mosaic/__tests__/DataTableExplorerQueryClients.test.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerPageClient.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerRows.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(mosaic): surface data table page conversion errors
  packages/mosaic/__tests__/DataTableExplorerQueryClients.test.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerPageClient.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(mosaic): read data table pages as Apache Arrow
  packages/data-table/README.md
  packages/data-table/__tests__/getArrowVectorValue.test.ts
  packages/data-table/src/getArrowVectorValue.ts
  packages/data-table/src/index.ts
  packages/data-table/src/useArrowDataTable.tsx
  packages/mosaic/__tests__/DataTableExplorerCompound.test.tsx
  packages/mosaic/__tests__/DataTableExplorerQueryClients.test.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerPageClient.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerRows.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(documents): centre block document content
  packages/documents/__tests__/blockDocumentLayout.test.ts
  packages/documents/src/BlockDocumentEditor/BlockDocumentBlockControls.tsx
  packages/documents/src/BlockDocumentEditor/BlockDocumentEditorRoot.tsx
  packages/documents/src/BlockDocumentEditor/blockDocumentLayout.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(data-table): display BIGINT values outside the safe integer range (#933)
  packages/data-table/README.md
  packages/data-table/__tests__/ArrowCellValue.test.ts
  packages/mosaic/__tests__/DataTableExplorerCompound.test.tsx
  packages/mosaic/__tests__/DataTableExplorerQueryClients.test.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerPageClient.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: agents should make titles concise (#935)
  packages/ai-core/src/hooks/useGenerateSessionTitle.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(documents): centre block document content (#934)
  packages/documents/__tests__/blockDocumentLayout.test.ts
  packages/documents/src/BlockDocumentEditor/BlockDocumentBlockControls.tsx
  packages/documents/src/BlockDocumentEditor/BlockDocumentEditorRoot.tsx
  packages/documents/src/BlockDocumentEditor/blockDocumentLayout.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ai-core): resolve send readiness against the host's model list
  packages/ai-core/README.md
  packages/ai-core/__tests__/AiSlice.hasResolvableModel.test.ts
  packages/ai-core/src/AiSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ai-core): resolve send readiness against the host's model list (#937)
  packages/ai-core/README.md
  packages/ai-core/__tests__/AiSlice.hasResolvableModel.test.ts
  packages/ai-core/src/AiSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): align embedded map block header and table selector with chart block
  packages/deck/__tests__/block.test.tsx
  packages/deck/src/block.tsx
  packages/documents/package.json
  packages/documents/src/components/BlockCaptionEditor.tsx
  packages/documents/src/components/DataTableSelector.tsx
  packages/documents/src/index.ts
  packages/mosaic/src/components/BlockCaptionEditor.tsx
  packages/mosaic/src/components/DataTableSelector.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): align embedded map block header and table selector with chart block (#936)
  packages/deck/__tests__/block.test.tsx
  packages/deck/src/block.tsx
  packages/documents/package.json
  packages/documents/src/components/BlockCaptionEditor.tsx
  packages/documents/src/components/DataTableSelector.tsx
  packages/documents/src/index.ts
  packages/mosaic/src/components/BlockCaptionEditor.tsx
  packages/mosaic/src/components/DataTableSelector.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): repair map config when a table pick has no geospatial columns
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/__tests__/useDeckMapDatasetSchema.test.ts
  packages/deck/src/mapConfigUtils.ts
  packages/deck/src/useDeckMapDatasetSchema.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(documents): share block header chrome across document blocks
  packages/deck/__tests__/block-caption.test.tsx
  packages/deck/__tests__/block.test.tsx
  packages/deck/src/block.tsx
  packages/documents/README.md
  packages/documents/__tests__/BlockCaptionEditor.test.tsx
  packages/documents/__tests__/BlockHeader.test.tsx
  packages/documents/src/components/BlockCaptionEditor.tsx
  packages/documents/src/components/BlockHeader.tsx
  packages/documents/src/index.ts
  packages/mosaic/__tests__/ChartBlockHeader.test.tsx
  packages/mosaic/src/charts/block-document/ChartBlockHeader.tsx
  packages/mosaic/src/dashboard/toolbar/MosaicDashboardToolbar.tsx
  packages/mosaic/src/data-table-explorer/block-document/DataTableBlockHeader.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): narrow transform cleanup and dataset re-id on table pick
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/src/mapConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --
