Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

add onStart event (#362)
  packages/kepler/src/components/KeplerImageExport.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Fix broken link to CoC
  CONTRIBUTING.md
Due: none

Fix broken link to CoC (#363)
  CONTRIBUTING.md
Due: none

docs: Deployment Scenarios
  README.md
  docs/.vitepress/config.ts
  docs/deployment-scenarios.md
  docs/overview.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

mods
  docs/.vitepress/config.ts
  docs/deployment-scenarios.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

mods
  docs/deployment-scenarios.md
Due: none

Update packages/room-store/__tests__/createPersistHelpers.test.ts
  packages/room-store/__tests__/createPersistHelpers.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: Added deployment scenarios (#364)
  README.md
  docs/.vitepress/config.ts
  docs/deployment-scenarios.md
  docs/overview.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix examples build
  .github/workflows/build-examples.yml
  examples/ai-nextjs/app/page.tsx
  examples/nextjs/app/page.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

using build:examples:ci
  .github/workflows/build-examples.yml
  package.json
Due: none

chore: Fix examples build (failing due to two deckgl versions) (#359)
  .github/workflows/build-examples.yml
  examples/ai-nextjs/app/page.tsx
  examples/deckgl-discuss/tsconfig.app.json
  examples/deckgl-mosaic/tsconfig.app.json
  examples/deckgl/tsconfig.app.json
  examples/kepler/tsconfig.app.json
  examples/nextjs/app/page.tsx
  package.json
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: room-store: expose bound useRoomStore API and add useRoomStoreApi hook (#360)
  docs/whats-new.md
  packages/room-shell/src/index.ts
  packages/room-store/README.md
  packages/room-store/src/BaseRoomStore.ts
  packages/room-store/src/RoomStateProvider.tsx
  packages/room-store/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  packages/room-store/__tests__/createPersistHelpers.test.ts
  packages/room-store/package.json
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

doc: Deployment scenarios: added CLI
  docs/deployment-scenarios.md
Due: none

fixes
  packages/ai-config/package.json
  packages/room-store/package.json
Due: none

type fix
  examples/ai/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

PR feedback fixes
  packages/ai-config/src/AiSettingsSliceConfig.ts
  packages/room-store/__tests__/createPersistHelpers.test.ts
  packages/room-store/src/createPersistHelpers.ts
  packages/room-store/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix test script
  packages/room-store/package.json
Due: none

limit chart bounds
  .idea/.gitignore
  .idea/GitLink.xml
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/scala_compiler.xml
  .idea/sqlrooms.iml
  .idea/vcs.xml
  packages/vega/src/VegaChartToolResult.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

PR feedback Signed-off-by: Ilya Boyandin <ilyabo@gmail.com>
  packages/ai-config/src/AiSettingsSliceConfig.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

rollback
  .idea/.gitignore
  .idea/GitLink.xml
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/scala_compiler.xml
  .idea/sqlrooms.iml
  .idea/vcs.xml
Due: none

notebook cell result rename onBlur
  packages/cells/src/components/SqlCellContent.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

SQL_ -> result_
  packages/cells/src/components/Input/ConfigPanel/InputConfigPanel.tsx
  packages/cells/src/components/Input/helpers.ts
  packages/cells/src/components/SqlCellContent.tsx
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/execution.ts
  packages/cells/src/index.ts
  packages/cells/src/sqlHelpers.ts
  packages/cells/src/types.ts
  packages/cells/src/utils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

attempt to fix stale query
  packages/cells/src/cellsSlice.ts
  packages/cells/src/components/SqlCellContent.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

cellResultCache
  .cursor/plans/store_cell_results_directly_c642850f.plan.md
  packages/cells/src/cellsSlice.ts
  packages/cells/src/components/InputCellContent.tsx
  packages/cells/src/components/SqlCellContent.tsx
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/execution.ts
  packages/cells/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix Cmd+Enter
  packages/cells/src/cellsSlice.ts
  packages/cells/src/components/SqlCellContent.tsx
  packages/cells/src/types.ts
  packages/sql-editor/src/components/QueryEditorPanelEditor.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

review fixes
  .cursor/plans/cells_module_architecture_review_d232d6c4.plan.md
  packages/canvas/package.json
  packages/canvas/src/Canvas.tsx
  packages/canvas/src/CanvasSlice.ts
  packages/cells/src/cellsSlice.ts
  packages/cells/src/dagUtils.ts
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/execution.ts
  packages/cells/src/helpers.ts
  packages/cells/src/index.ts
  packages/cells/src/sqlHelpers.ts
  packages/cells/src/types.ts
  packages/cells/src/utils.ts
  packages/notebook/src/NotebookSlice.ts
  packages/notebook/src/NotebookUtils.ts
  packages/notebook/src/cellOperations/DeleteCellDialog.tsx
  packages/notebook/src/cellSchemas.ts
  packages/notebook/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

readme
  packages/canvas/README.md
  packages/cells/README.md
  packages/cells/jest.config.js
  packages/cells/package.json
  packages/notebook/README.md
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

add tests
  packages/cells/__tests__/cellsSlice.executionDag.test.ts
  packages/cells/__tests__/cellsSlice.localDeps.test.ts
  packages/cells/__tests__/cellsSlice.sheetOwnership.test.ts
  packages/cells/__tests__/mocks/monaco-editor.js
  packages/cells/__tests__/mocks/openassistant-utils.js
  packages/cells/__tests__/mocks/sql-editor.js
  packages/cells/__tests__/sqlHelpers.qualify.test.ts
  packages/cells/jest.config.js
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

run examples with dev script
  README.md
  examples/ai-agent/package.json
  examples/ai-core/package.json
  examples/ai-nextjs/package.json
  examples/ai-rag/package.json
  examples/ai/package.json
  examples/app-builder/package.json
  examples/canvas-sync/package.json
  examples/canvas/package.json
  examples/cosmos-embedding/package.json
  examples/cosmos/package.json
  examples/deckgl-discuss/package.json
  examples/deckgl-mosaic/package.json
  examples/deckgl/package.json
  examples/get-started/package.json
  examples/kepler/package.json
  examples/minimal/package.json
  examples/mosaic/package.json
  examples/nextjs/package.json
  examples/notebook/package.json
  examples/query-motherduck/package.json
  examples/query-pwa/package.json
  examples/query-websocket/package.json
  examples/query/package.json
  examples/sync/package.json
  package.json
  pnpm-lock.yaml
  scripts/dev.mjs
  turbo.json
Due: none

cell fixes
  packages/cells/src/components/SqlCellContent.tsx
  packages/notebook/src/Notebook.tsx
  packages/notebook/src/cells/CellContainer.tsx
  packages/ui/src/components/editable-text.tsx
  packages/ui/src/components/input.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

animate-pulse
  packages/cells/src/components/SqlCellContent.tsx
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/execution.ts
  packages/notebook/src/NotebookStateTypes.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

findDependencies simplified
  packages/cells/__tests__/cellsSlice.executionDag.test.ts
  packages/cells/__tests__/cellsSlice.localDeps.test.ts
  packages/cells/__tests__/cellsSlice.sheetOwnership.test.ts
  packages/cells/src/cellsSlice.ts
  packages/cells/src/dagUtils.ts
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/helpers.ts
  packages/cells/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix knip
  packages/cells/package.json
  pnpm-lock.yaml
Due: none

Per-sheet graph cache model
  packages/cells/__tests__/cellsSlice.localDeps.test.ts
  packages/cells/__tests__/cellsSlice.sheetOwnership.test.ts
  packages/cells/src/cellsSlice.ts
  packages/cells/src/dagUtils.ts
  packages/cells/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: upgrade @duckdb/duckdb-wasm to 1.32.0
  apps/sqlrooms-cli-ui/package.json
  examples/ai-agent/package.json
  examples/ai-core/package.json
  examples/ai-rag/package.json
  examples/ai/package.json
  examples/app-builder/package.json
  examples/cosmos-embedding/package.json
  examples/cosmos/package.json
  examples/mosaic/package.json
  examples/nextjs/package.json
  examples/query-pwa/package.json
  examples/query-websocket/package.json
  examples/query/package.json
  package.json
  packages/duckdb/package.json
  pnpm-lock.yaml
Due: none

fix deps
  examples/query-pwa/package.json
  pnpm-lock.yaml
Due: none

pnpm update
  package.json
Due: none

build script for individual packages
  package.json
  scripts/build.sh
Due: none

dependencyEdgesFromGraphCache
  packages/canvas/src/Canvas.tsx
  packages/canvas/src/CanvasSlice.ts
  packages/canvas/src/edgeUtils.ts
  packages/cells/__tests__/dagUtils.renderableEdges.test.ts
  packages/cells/src/dagUtils.ts
  packages/cells/src/index.ts
  packages/cells/src/sqlHelpers.ts
  packages/cells/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --
