Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(ui): skip EditableText commits that leave the value unchanged
  packages/documents/src/components/BlockCaptionEditor.tsx
  packages/ui/__tests__/editable-text.test.tsx
  packages/ui/src/components/editable-text.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): tighten generated-transform detection and schema fallback
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/__tests__/useDeckMapDatasetSchema.test.ts
  packages/deck/src/datasets/tableDatasetSql.ts
  packages/deck/src/mapConfigUtils.ts
  packages/deck/src/useDeckMapDatasetSchema.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs(cli): record updated external harness dependency
  apps/sqlrooms-cli-ui/evals/evidence/claude-plugin/README.md
Due: none

fix(cli): generate Claude plugin outside cached UI build
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/claude-plugin/README.md
  apps/sqlrooms-cli-ui/evals/evidence/claude-plugin/README.md
  apps/sqlrooms-cli-ui/package.json
  python/sqlrooms/README.md
  python/sqlrooms/package.json
  python/sqlrooms/sqlrooms/web/claude.py
Due: uv run --project python ruff check --fix

fix(cli): allow Claude launcher to create databases
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/evals/evidence/claude-plugin/README.md
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/tests/test_claude.py
Due: uv run --project python ruff check --fix

fix(cli): prepare Claude plugin for direct wheel builds
  .github/workflows/pr-checks-python.yml
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/claude-plugin/README.md
  apps/sqlrooms-cli-ui/evals/evidence/claude-plugin/README.md
  python/sqlrooms/README.md
  python/sqlrooms/package.json
Due: none

docs(cli): record final Claude plugin verification
  apps/sqlrooms-cli-ui/evals/evidence/claude-plugin/README.md
Due: none

fix(cli): address external harness review feedback
  apps/sqlrooms-cli-ui/evals/EXTERNAL_HARNESS.md
  apps/sqlrooms-cli-ui/src/createCliRoomCapabilities.ts
  apps/sqlrooms-cli-ui/src/evals/external/codexSkills.ts
  apps/sqlrooms-cli-ui/src/evals/external/runExternalSuite.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(evals): preserve indentation when stripping Claude Read prefixes
  apps/sqlrooms-cli-ui/src/evals/__tests__/claudeHarness.test.ts
  apps/sqlrooms-cli-ui/src/evals/external/claudeOutput.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): clear every reference to a dropped generated geometry column
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/src/mapConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): drop a generated transform only when it cannot bind
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/src/json/layerCompatibility.ts
  packages/deck/src/mapConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

follow up
  packages/deck/__tests__/MapSettingsControls.test.ts
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/MapSettingsControls.tsx
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(documents): share block header chrome across document blocks (#939)
  packages/deck/__tests__/block-caption.test.tsx
  packages/deck/__tests__/block.test.tsx
  packages/deck/src/block.tsx
  packages/documents/README.md
  packages/documents/__tests__/BlockCaptionEditor.test.tsx
  packages/documents/__tests__/BlockHeader.test.tsx
  packages/documents/src/components/BlockCaptionEditor.tsx
  packages/documents/src/components/BlockHeader.tsx
  packages/documents/src/index.ts
  packages/mosaic/__tests__/ChartBlockHeader.test.tsx
  packages/mosaic/src/charts/block-document/ChartBlockHeader.tsx
  packages/mosaic/src/dashboard/toolbar/MosaicDashboardToolbar.tsx
  packages/mosaic/src/data-table-explorer/block-document/DataTableBlockHeader.tsx
  packages/ui/__tests__/editable-text.test.tsx
  packages/ui/src/components/editable-text.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

follow up
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

follow up
  packages/deck/README.md
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): match transform coordinate columns case-insensitively
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/src/mapConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): retry transient browser credential renewal failures
  apps/sqlrooms-cli-ui/src/__tests__/browserAuth.test.ts
  apps/sqlrooms-cli-ui/src/browserAuth.ts
  packages/documents/README.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

publishing fixes
  package.json
  python/PUBLISHING.md
  python/README.md
  python/roomie/README.md
  python/sqlrooms/package.json
  python/sqlrooms/scripts/verify_wheel.py
  python/sqlrooms/tests/test_verify_wheel.py
Due: uv run --project python ruff check --fix

fix(evals): release eval MCP listener when credential setup fails
  apps/sqlrooms-cli-ui/src/evals/external/mcpHost.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): harden managed workspace startup and error recovery
  python/sqlrooms/AGENT_WORKSPACES.md
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/agent/code_plugin.py
  python/sqlrooms/sqlrooms/agent/manager.py
  python/sqlrooms/sqlrooms/agent/operations.py
  python/sqlrooms/sqlrooms/agent/permissions.py
  python/sqlrooms/sqlrooms/agent/process.py
  python/sqlrooms/sqlrooms/agent/registry.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_agent_review_regressions.py
Due: uv run --project python ruff check --fix

fix(cli): clear pending reservation after failed spawn setup
  python/sqlrooms/sqlrooms/agent/process.py
  python/sqlrooms/tests/test_agent_review_regressions.py
Due: uv run --project python ruff check --fix

remove regex-parsing the transform SQL
  packages/deck/README.md
  packages/deck/__tests__/DeckSpec.test.ts
  packages/deck/__tests__/createOrUpdateDeckMapResource.test.ts
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/src/DeckJsonMapSpec.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/ai.ts
  packages/deck/src/index.ts
  packages/deck/src/mapConfigUtils.ts
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

ts
  packages/deck/src/mapConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

ts
  apps/sqlrooms-cli-ui/src/__tests__/createCliBlockDocumentCommands.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Clear leftover WKB hint on native arc endpoints
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: address unified runtime review findings
  examples/auth.test.mjs
  examples/canvas-sync/README.md
  examples/canvas-sync/package.json
  examples/canvas-sync/src/auth.ts
  examples/query-websocket/README.md
  examples/query-websocket/package.json
  examples/query-websocket/src/auth.ts
  examples/sync/README.md
  examples/sync/package.json
  examples/sync/src/auth.ts
  packages/crdt/README.md
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/server/transport.py
  python/sqlrooms/tests/server/conftest.py
  python/sqlrooms/tests/server/test_websocket.py
  python/sqlrooms/tests/test_cli.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(roomie): address persistence and source validation feedback
  apps/roomie-cli-ui/README.md
  apps/roomie-cli-ui/src/App.tsx
  apps/roomie-cli-ui/src/__tests__/renderSources.test.ts
  apps/roomie-cli-ui/src/renderSources.ts
  apps/roomie-cli-ui/src/store.ts
  packages/duckdb/README.md
  packages/duckdb/__tests__/DuckDbSlice.test.ts
  packages/duckdb/src/DuckDbSlice.ts
  packages/duckdb/src/loadTableSchemas.ts
  packages/mosaic/src/dashboard/MosaicDashboardSlice.ts
  packages/room-shell/README.md
  packages/room-shell/__tests__/createDuckDbPersistStorage.test.ts
  packages/room-shell/src/createDuckDbPersistStorage.ts
  packages/room-store/README.md
  packages/room-store/__tests__/PersistenceController.test.ts
  packages/room-store/src/PersistenceController.ts
  python/roomie/README.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(deck): improved map geometry settings (#910)
  apps/sqlrooms-cli-ui/src/__tests__/createCliBlockDocumentCommands.test.ts
  packages/deck/README.md
  packages/deck/__tests__/DeckSpec.test.ts
  packages/deck/__tests__/MapSettingsControls.test.ts
  packages/deck/__tests__/createOrUpdateDeckMapResource.test.ts
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/__tests__/useDeckMapDatasetSchema.test.ts
  packages/deck/src/DeckJsonMapSpec.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/MapSettingsControls.tsx
  packages/deck/src/ai.ts
  packages/deck/src/index.ts
  packages/deck/src/mapConfigUtils.ts
  packages/deck/src/mapLayerConfigUtils.ts
  packages/deck/src/useDeckMapDatasetSchema.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(roomie): address follow-up review feedback
  .github/workflows/pr-checks-python.yml
  apps/roomie-cli-ui/src/__tests__/commands.test.ts
  apps/roomie-cli-ui/src/commands.ts
  packages/room-shell/README.md
  packages/room-shell/__tests__/createDuckDbPersistStorage.test.ts
  packages/room-shell/src/createDuckDbPersistStorage.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(roomie): validate document IDs and browser uploads
  apps/roomie-cli-ui/src/App.tsx
  apps/roomie-cli-ui/src/__tests__/commands.test.ts
  apps/roomie-cli-ui/src/__tests__/upload.test.ts
  apps/roomie-cli-ui/src/commands.ts
  apps/roomie-cli-ui/src/upload.ts
  python/roomie/roomie/server.py
  python/roomie/tests/test_server.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

test(roomie): use the Node upload environment
  apps/roomie-cli-ui/src/__tests__/upload.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(deck): drive transform cleanup off recorded provenance
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/src/datasets/tableDatasetSql.ts
  packages/deck/src/mapConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(roomie): preserve browser uploads
  .github/workflows/pr-checks-python.yml
  apps/roomie-cli-ui/src/__tests__/upload.test.ts
  apps/roomie-cli-ui/src/upload.ts
  python/roomie/roomie/server.py
  python/roomie/tests/test_server.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(deck): reject stale provenance and prototype-key collisions
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/src/mapConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Path conditions:
  eslint --config .eslintrc.js --max-warnings=50: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{ts,tsx,js})
  turbo lint --filter=@sqlrooms/* --: any of: **/*.{ts,tsx,js}
  uv run --project python ruff check --fix: any of: python/**/*.py
