Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

feat(multi-room): adopt shadcn team-style collapsible sidebar
  examples/multi-room/package.json
  examples/multi-room/src/RoomPage.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

tests
  packages/db/__tests__/DbSlice.test.ts
  packages/db/__tests__/arrow-streaming.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixe refrehs
  packages/cells/src/defaultCellRegistry.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

knip
  packages/db/package.json
Due: none

fix(multi-room): correct new room naming count
  examples/multi-room/src/RoomPage.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

extra deps
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/pyproject.toml
  python/uv.lock
Due: none

removed postgres dsn
  python/sqlrooms-cli/package.json
Due: none

fix: sanitize UIMessages before sending to LLM to prevent empty content errors (#404)
  packages/ai-core/src/chatTransport.ts
  packages/ai-core/src/utils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Keep ATTACH idempotent per alias
  packages/db/__tests__/DbSlice.test.ts
  packages/db/src/DbSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

config.toml
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/cli
  python/sqlrooms-cli/pyproject.toml
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/tests/test_cli.py
  python/uv.lock
Due: uv run --project python ruff check --fix

connectors config.toml
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_cli.py
  python/sqlrooms-cli/tests/test_db_bridge.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: uv run --project python ruff check --fix

don't await runAllCellsCascade
  packages/canvas/src/CanvasSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

ai providers in config
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/db/src/helpers.ts
  packages/db/src/types.ts
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_cli.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix ai
  apps/sqlrooms-cli-ui/src/components/AssistantDrawer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: refresh multi-room example video and sidebar description
  docs/examples.md
  docs/media/examples/multi-room.mp4
  examples/multi-room/README.md
Due: none

sqlrooms.toml
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/tests/test_cli.py
Due: uv run --project python ruff check --fix

lockfile
  pnpm-lock.yaml
Due: none

feat: Add shadcn Sidebar component (#400)
  docs/examples.md
  docs/media/examples/multi-room.mp4
  examples/multi-room/README.md
  examples/multi-room/package.json
  examples/multi-room/src/RoomPage.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/hooks/use-mobile.ts
  packages/ui/src/index.ts
  packages/ui/tailwind-preset.css
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Snowflake connector integration (#401)
  apps/sqlrooms-cli-ui/src/components/AssistantDrawer.tsx
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/canvas/src/CanvasSlice.ts
  packages/cells/src/defaultCellRegistry.tsx
  packages/db/__tests__/DbSlice.test.ts
  packages/db/__tests__/arrow-streaming.test.ts
  packages/db/package.json
  packages/db/src/DbSlice.ts
  packages/db/src/arrow-streaming.ts
  packages/db/src/bridge.ts
  packages/db/src/helpers.ts
  packages/db/src/types.ts
  pnpm-lock.yaml
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/cli
  python/sqlrooms-cli/package.json
  python/sqlrooms-cli/pyproject.toml
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_cli.py
  python/sqlrooms-cli/tests/test_db_bridge.py
  python/sqlrooms-cli/tests/test_launcher.py
  python/uv.lock
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

feat: Dynamic connector load
  apps/sqlrooms-cli-ui/src/components/ConnectorDriversDialog.tsx
  apps/sqlrooms-cli-ui/src/components/SheetsPanel.tsx
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  python/sqlrooms-cli/sqlrooms/web/db_bridge.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_db_bridge.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

refactor
  python/sqlrooms-cli/sqlrooms/web/db_bridge.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/__init__.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/__init__.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/postgres.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/snowflake.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/factory.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/registry.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/types.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/utils.py
Due: uv run --project python ruff check --fix

Add dashboard sheet support and non-wasm Mosaic connector
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/components/DashboardSheet.tsx
  apps/sqlrooms-cli-ui/src/components/SheetsPanel.tsx
  apps/sqlrooms-cli-ui/src/store.ts
  packages/cells/src/components/SheetsTabBar.tsx
  packages/cells/src/types.ts
  packages/mosaic/src/MosaicSlice.ts
  packages/mosaic/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

cli-ui load dropped files directly from filesystem
  apps/sqlrooms-cli-ui/src/components/DataSourcesPanel.tsx
  apps/sqlrooms-cli-ui/src/serverApi.ts
  apps/sqlrooms-cli-ui/src/store.ts
  python/sqlrooms-cli/README.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/base.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/postgres.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/snowflake.py
Due: uv run --project python ruff check --fix

chore: Skip HUSKY on publish
  .github/workflows/npm-publish.yml
Due: none

chore: Fix: Generate notes in GitHub releases
  .github/workflows/npm-publish.yml
Due: none

Fix dashboard mosaic preview rendering with websocket connector
  apps/sqlrooms-cli-ui/src/components/DashboardSheet.tsx
  apps/sqlrooms-cli-ui/src/store.ts
  packages/mosaic/src/MosaicSlice.ts
  packages/mosaic/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feedback
  apps/sqlrooms-cli-ui/src/components/ConnectorDriversDialog.tsx
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/snowflake.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/registry.py
  python/sqlrooms-cli/tests/test_db_bridge.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

chore: Made db, cells, notebook packages public
  packages/cells/package.json
  packages/db/package.json
  packages/notebook/package.json
Due: none

feedback
  apps/sqlrooms-cli-ui/src/store.ts
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/postgres.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/snowflake.py
  python/sqlrooms-cli/tests/test_db_bridge.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

add duplicate function
  packages/kepler/src/KeplerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

rollback
  packages/sql-editor/src/SqlMonacoEditor.tsx
  packages/sql-editor/src/components/QueryEditorPanelEditor.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Update packages/kepler/src/KeplerSlice.ts
  packages/kepler/src/KeplerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

address PR comments
  packages/kepler/src/KeplerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

update pr comments
  packages/kepler/src/KeplerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix react internal loop due to selector
  AGENTS.md
  apps/sqlrooms-cli-ui/src/components/ConnectorDriversDialog.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

add const for id
  packages/kepler/src/KeplerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

ConnectorDriversDialog
  apps/sqlrooms-cli-ui/src/components/ConnectorDriversDialog.tsx
  apps/sqlrooms-cli-ui/src/components/DataSourcesPanel.tsx
  apps/sqlrooms-cli-ui/src/components/SheetsPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --
