Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

pagination
  packages/mosaic/__tests__/MosaicProfilerStatusBar.test.tsx
  packages/mosaic/src/MosaicProfilerStatusBar.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  examples/deckgl-mosaic/src/components/filters/EarthquakeProfiler.tsx
  packages/data-table/src/ArrowCellValue.tsx
  packages/mosaic/README.md
  packages/mosaic/__tests__/MosaicProfilerStatusBar.test.tsx
  packages/mosaic/__tests__/ProfilerSummaryClients.test.tsx
  packages/mosaic/__tests__/profiler.utils.test.ts
  packages/mosaic/jest.config.js
  packages/mosaic/package.json
  packages/mosaic/src/MosaicProfilerHeader.tsx
  packages/mosaic/src/MosaicProfilerRows.tsx
  packages/mosaic/src/MosaicProfilerStatusBar.tsx
  packages/mosaic/src/index.ts
  packages/mosaic/src/profiler/ProfilerCategoryClient.ts
  packages/mosaic/src/profiler/ProfilerHistogramClient.ts
  packages/mosaic/src/profiler/layout.ts
  packages/mosaic/src/profiler/types.ts
  packages/mosaic/src/profiler/utils.ts
  packages/mosaic/src/useMosaicProfiler.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

move files
  packages/mosaic/__tests__/MosaicProfilerStatusBar.test.tsx
  packages/mosaic/src/index.ts
  packages/mosaic/src/profiler/MosaicProfilerHeader.tsx
  packages/mosaic/src/profiler/MosaicProfilerRows.tsx
  packages/mosaic/src/profiler/MosaicProfilerStatusBar.tsx
  packages/mosaic/src/profiler/useMosaicProfiler.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs
  docs/whats-new.md
Due: none

pr feedback
  packages/data-table/src/ArrowCellValue.tsx
  packages/mosaic/__tests__/ProfilerSummaryClients.test.tsx
  packages/mosaic/__tests__/createProfilerStore.test.ts
  packages/mosaic/__tests__/profiler.utils.test.ts
  packages/mosaic/src/profiler/ProfilerCategoryClient.ts
  packages/mosaic/src/profiler/ProfilerHistogramClient.ts
  packages/mosaic/src/profiler/createProfilerStore.ts
  packages/mosaic/src/profiler/utils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  packages/mosaic/src/profiler/ProfilerPageClient.ts
  packages/mosaic/src/profiler/createProfilerStore.ts
  packages/mosaic/src/profiler/useMosaicProfiler.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

luma 9.2.6
  examples/deckgl-mosaic/package.json
  package.json
  pnpm-lock.yaml
Due: none

ci: Don't build examples in PRs
  .github/workflows/build-examples.yml
  package.json
Due: none

removed unnecessary concurrency setting
  package.json
Due: none

upgraded turbo
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

chore: Don't build examples in PRs (#528)
  .github/workflows/build-examples.yml
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

build fixes
  packages/kepler/src/components/CustomFilterManager.tsx
  packages/kepler/src/components/CustomInteractionManager.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: Upgrade kepler deckgl v9 (#519)
  examples/canvas-sync/vite.config.ts
  examples/deckgl-discuss/package.json
  examples/deckgl-mosaic/package.json
  examples/deckgl/package.json
  examples/kepler/src/store.ts
  examples/kepler/vite.config.ts
  examples/sync/vite.config.ts
  packages/kepler/package.json
  packages/kepler/src/KeplerSlice.ts
  packages/kepler/src/components/CustomFilterManager.tsx
  packages/kepler/src/components/CustomInteractionManager.tsx
  packages/kepler/src/hooks/useKeplerStateActions.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Mosaic table profiler (#527)
  AGENTS.md
  docs/whats-new.md
  examples/deckgl-mosaic/src/components/MainView.tsx
  examples/deckgl-mosaic/src/components/filters/EarthquakeProfiler.tsx
  examples/deckgl-mosaic/src/index.css
  packages/data-table/src/ArrowCellValue.tsx
  packages/data-table/src/index.ts
  packages/data-table/src/useArrowDataTable.tsx
  packages/mosaic/README.md
  packages/mosaic/__tests__/MosaicProfilerCompound.test.tsx
  packages/mosaic/__tests__/MosaicProfilerStatusBar.test.tsx
  packages/mosaic/__tests__/ProfilerQueryClients.test.ts
  packages/mosaic/__tests__/ProfilerSummaryClients.test.tsx
  packages/mosaic/__tests__/createProfilerStore.test.ts
  packages/mosaic/__tests__/profiler.utils.test.ts
  packages/mosaic/jest.config.js
  packages/mosaic/package.json
  packages/mosaic/src/index.ts
  packages/mosaic/src/profiler/MosaicProfiler.tsx
  packages/mosaic/src/profiler/MosaicProfilerHeader.tsx
  packages/mosaic/src/profiler/MosaicProfilerRows.tsx
  packages/mosaic/src/profiler/MosaicProfilerStatusBar.tsx
  packages/mosaic/src/profiler/ProfilerCategoryClient.ts
  packages/mosaic/src/profiler/ProfilerCountClient.ts
  packages/mosaic/src/profiler/ProfilerHistogramClient.ts
  packages/mosaic/src/profiler/ProfilerPageClient.ts
  packages/mosaic/src/profiler/ProfilerUnsupportedSummaryClient.ts
  packages/mosaic/src/profiler/createProfilerStore.ts
  packages/mosaic/src/profiler/layout.ts
  packages/mosaic/src/profiler/profilerController.ts
  packages/mosaic/src/profiler/types.ts
  packages/mosaic/src/profiler/useMosaicProfiler.ts
  packages/mosaic/src/profiler/utils.ts
  packages/mosaic/test/setup.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: Exclude tests from typedoc
  packages/preset-typedoc/typedoc-base-config.js
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

docs: Exclude tests from typedoc (#529)
  packages/preset-typedoc/typedoc-base-config.js
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

feat: add Cesium 3D globe visualization package
  examples/cesium-app/.env.example
  examples/cesium-app/.gitignore
  examples/cesium-app/README.md
  examples/cesium-app/index.html
  examples/cesium-app/package.json
  examples/cesium-app/public/sample-earthquakes.csv
  examples/cesium-app/src/App.tsx
  examples/cesium-app/src/Room.tsx
  examples/cesium-app/src/index.css
  examples/cesium-app/src/main.tsx
  examples/cesium-app/src/store.ts
  examples/cesium-app/src/vite-env.d.ts
  examples/cesium-app/tsconfig.json
  examples/cesium-app/vite.config.ts
  packages/cesium/.gitignore
  packages/cesium/README.md
  packages/cesium/eslint.config.js
  packages/cesium/package.json
  packages/cesium/src/cesium-config.ts
  packages/cesium/src/cesium-slice.ts
  packages/cesium/src/cesium-types.ts
  packages/cesium/src/components/CesiumClock.tsx
  packages/cesium/src/components/CesiumEntityLayer.tsx
  packages/cesium/src/components/CesiumPanel.tsx
  packages/cesium/src/components/CesiumToolbar.tsx
  packages/cesium/src/components/CesiumViewerWrapper.tsx
  packages/cesium/src/hooks/useCesiumViewer.ts
  packages/cesium/src/hooks/useClockSync.ts
  packages/cesium/src/hooks/useSqlToCesiumEntities.ts
  packages/cesium/src/index.ts
  packages/cesium/src/utils.ts
  packages/cesium/tsconfig.json
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cesium): address PR review correctness issues
  examples/cesium-app/src/Room.tsx
  packages/cesium/src/cesium-config.ts
  packages/cesium/src/hooks/useClockSync.ts
  packages/cesium/src/hooks/useSqlToCesiumEntities.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore(cesium): address PR review cleanup items
  examples/cesium-app/README.md
  packages/cesium/src/components/CesiumEntityLayer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cesium): address second round of PR review feedback
  packages/cesium/src/hooks/useClockSync.ts
  packages/cesium/src/hooks/useSqlToCesiumEntities.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cesium): guard label/color/size against null and NaN in entity descriptors
  packages/cesium/src/hooks/useSqlToCesiumEntities.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix close button in RoomPanelHeader
  packages/layout-config/src/LayoutConfig.ts
  packages/layout/src/LayoutSlice.ts
  packages/layout/src/mosaic/mosaic-utils.ts
  packages/layout/src/node-renderers/types.ts
  packages/room-shell/src/panels/RoomPanelHeader.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

address comments
  packages/ai-core/src/components/AnalysisResult.tsx
  packages/ai-core/src/components/ToolPartRenderer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

make ai-subagents example non-parallel
  examples/ai-subagents/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

only sync tables used by kepler
  packages/kepler/src/KeplerSlice.ts
  packages/kepler/src/components/CustomLayerManager.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

3d model planes
  examples/cesium-app/.env.example
  examples/cesium-app/public/sample-earthquakes.csv
  examples/cesium-app/src/store.ts
  examples/cesium/.env.example
  examples/cesium/.gitignore
  examples/cesium/README.md
  examples/cesium/index.html
  examples/cesium/package.json
  examples/cesium/src/App.tsx
  examples/cesium/src/Room.tsx
  examples/cesium/src/index.css
  examples/cesium/src/main.tsx
  examples/cesium/src/store.ts
  examples/cesium/src/vite-env.d.ts
  examples/cesium/tsconfig.json
  examples/cesium/vite.config.ts
  packages/cesium/README.md
  packages/cesium/src/cesium-config.ts
  packages/cesium/src/components/CesiumEntityLayer.tsx
  packages/cesium/src/components/CesiumPanel.tsx
  packages/cesium/src/hooks/useSqlToCesiumEntities.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  examples/cesium/src/store.ts
  packages/cesium/src/components/CesiumEntityLayer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

add profiler
  examples/cesium/package.json
  examples/cesium/src/Room.tsx
  examples/cesium/src/components/FlightsLayerSelectionSync.tsx
  examples/cesium/src/components/FlightsProfilerPanel.tsx
  examples/cesium/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

mosaic profiler
  examples/cesium/src/components/FlightsProfilerPanel.tsx
  examples/cesium/src/store.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

ny flights only
  examples/cesium/src/components/FlightsProfilerPanel.tsx
  examples/cesium/src/store.ts
  packages/cesium/src/components/CesiumPanel.tsx
  packages/cesium/src/components/CesiumViewerWrapper.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

initial view
  examples/cesium/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

every 5th
  examples/cesium/src/store.ts
  packages/cesium/src/cesium-config.ts
  packages/cesium/src/components/CesiumTilesetLayer.tsx
  packages/cesium/src/components/CesiumViewerWrapper.tsx
  packages/cesium/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix add layer dropdown; fix reload map layer
  packages/kepler/src/KeplerSlice.ts
  packages/kepler/src/components/CustomLayerManager.tsx
  packages/mosaic/package.json
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

address comments
  packages/kepler/src/KeplerSlice.ts
  packages/kepler/src/components/CustomLayerManager.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

address comments
  packages/kepler/src/KeplerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

hide scroll bar for grouping box
  packages/ai-core/src/components/ActivityBox.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix Scroll-to-Bottom based on new chart rendering
  packages/ai-core/src/components/AnalysisResultsContainer.tsx
  packages/ai-core/src/hooks/useScrollToBottom.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: add hideTabStrip for sidebar tabs and introduce findAncestorOfType
  apps/sqlrooms-cli-ui/src/components/DataSourcesPanel.tsx
  apps/sqlrooms-cli-ui/src/room.tsx
  examples/ai/src/store.ts
  examples/layout-areas/package.json
  examples/layout-areas/src/App.tsx
  examples/layout-areas/src/panels/ConsolePanel.tsx
  examples/layout-areas/src/panels/DataSourcesPanel.tsx
  examples/layout-areas/src/panels/ResultsPanel.tsx
  examples/layout-areas/src/panels/SchemaPanel.tsx
  examples/layout-areas/src/panels/panel-types.ts
  examples/layout-areas/src/store.tsx
  examples/mosaic/src/room.tsx
  examples/mosaic/src/store.ts
  packages/layout-config/src/LayoutConfig.ts
  packages/layout/src/LayoutSlice.ts
  packages/layout/src/__tests__/matchNodePathToPanel.test.ts
  packages/layout/src/index.ts
  packages/layout/src/matchNodePathToPanel.ts
  packages/layout/src/mosaic/MosaicLayout.tsx
  packages/layout/src/mosaic/mosaic-utils.ts
  packages/layout/src/node-renderers/MosaicTileRenderer.tsx
  packages/layout/src/node-renderers/RendererSwitcher.tsx
  packages/layout/src/node-renderers/tabs-node-renderer/TabsLayout.tsx
  packages/layout/src/node-renderers/tabs-node-renderer/TabsLayoutTabLabel.tsx
  packages/layout/src/node-renderers/tabs-node-renderer/useTabsLayoutInfo.tsx
  packages/layout/src/useGetPanel.ts
  packages/room-shell/src/RoomShellSidebarButtons.tsx
  packages/room-shell/src/panels/RoomPanel.tsx
  packages/room-shell/src/panels/RoomPanelHeader.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

left panel charts
  examples/cesium/src/components/FlightsProfilerPanel.tsx
  examples/cesium/src/components/filterPlots.ts
  examples/cesium/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --
