Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

fix: filter python schema context
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ci): constrain uv cache dependency scan
  .github/workflows/pr-checks-python.yml
Due: none

fix(ci): run uv setup before node setup
  .github/workflows/pr-checks-python.yml
Due: none

fix: harden Python block execution
  apps/sqlrooms-cli-ui/src/statefulBlockArtifactConfigs.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/python/src/PythonBlock.tsx
  packages/python/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: allow pure Python without shared buffers
  packages/python/src/PyodidePythonRuntimeAdapter.ts
  packages/python/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Handle UI assets without stale cache
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_launcher.py
Due: uv run --project python ruff check --fix

Document CLI smoke test workflow
  apps/sqlrooms-cli-ui/README.md
Due: none

fix: gate Python block renderer
  apps/sqlrooms-cli-ui/src/workspace/WorksheetArtifact.tsx
  packages/python/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: add ChordShell case study
  docs/case-studies.md
  docs/index.md
  docs/public/carousel/chordshell.webp
  docs/public/media/case-studies/chordshell.mp4
  docs/public/media/case-studies/chordshell.webp
Due: none

Require DuckDB project path and HEAD support
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_cli.py
  python/sqlrooms/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix: harden Python output serialization
  packages/python/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: fix CLI smoke command option order
  apps/sqlrooms-cli-ui/README.md
Due: none

docs: improve ChordShell case study poster
  docs/public/carousel/chordshell.webp
  docs/public/media/case-studies/chordshell.webp
Due: none

docs: Add Block Document AI refactor design spec
  docs/superpowers/specs/2026-06-22-block-document-ai-refactor-design.md
Due: none

feat(documents): Add generic block document AI primitives
  packages/documents/package.json
  packages/documents/src/ai/BlockDocumentAiAdapter.ts
  packages/documents/src/ai/blockDocumentAiTypes.ts
  packages/documents/src/ai/constants.ts
  packages/documents/src/ai/createAddBlockDocumentTextBlockTool.ts
  packages/documents/src/ai/createListBlockDocumentBlocksTool.ts
  packages/documents/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(app-runtime): Add HTML app block document helper
  SQLRooms Block Document AI Refactor Plan (1).md
  packages/app-runtime/package.json
  packages/app-runtime/src/html-app-blocks.ts
  packages/app-runtime/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(mosaic): Restructure AI to block-document
  packages/mosaic/src/ai.ts
  packages/mosaic/src/ai/block-document/constants.ts
  packages/mosaic/src/ai/block-document/createAddMosaicDashboardBlockTool.ts
  packages/mosaic/src/ai/block-document/createBlockDocumentChartTools.ts
  packages/mosaic/src/ai/block-document/createBlockDocumentDataTableExplorerTool.ts
  packages/mosaic/src/ai/worksheet/constants.ts
  packages/mosaic/src/ai/worksheet/createAddHtmlAppBlockTool.ts
  packages/mosaic/src/ai/worksheet/createAddTextBlockTool.ts
  packages/mosaic/src/ai/worksheet/createListWorksheetBlocksTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAgentTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAiTools.ts
  packages/mosaic/src/ai/worksheet/createWorksheetChartTools.ts
  packages/mosaic/src/ai/worksheet/createWorksheetDataTableExplorerTool.ts
  packages/mosaic/src/ai/worksheet/worksheet-types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(cli): Move orchestration to CLI (partial)
  apps/sqlrooms-cli-ui/src/ai/createAddHtmlAppBlockDocumentTool.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAiAdapter.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(cli): Complete worksheet orchestration migration
  apps/sqlrooms-cli-ui/src/ai/constants.ts
  apps/sqlrooms-cli-ui/src/ai/createWorksheetAgentTool.ts
  apps/sqlrooms-cli-ui/src/ai/createWorksheetBlockDocumentTools.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor: Remove worksheet exports from Mosaic index
  packages/mosaic/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: add ChordShell case study (#756)
  docs/case-studies.md
  docs/index.md
  docs/public/carousel/chordshell.webp
  docs/public/media/case-studies/chordshell.mp4
  docs/public/media/case-studies/chordshell.webp
Due: none

fix: Export missing AI utilities from Mosaic
  packages/mosaic/src/ai.ts
  packages/mosaic/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor: Enhance worksheet agent tool to lazily retrieve current worksheet ID and improve error handling
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: release Python expression proxies
  packages/python/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: Agents review guidelines
  AGENTS.md
Due: none

fix: set CLI Python execution timeout
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add CLI publish scripts
  package.json
  scripts/publish-sqlrooms-cli.mjs
Due: none

Add debug flag for verbose SQLRooms logging
  python/sqlrooms-server/sqlrooms/server/server.py
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_cli.py
Due: uv run --project python ruff check --fix

WIP
  apps/sqlrooms-cli-ui/src/ai/createWorksheetAgentTool.ts
  apps/sqlrooms-cli-ui/src/ai/createWorksheetBlockDocumentTools.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  packages/documents/package.json
  packages/documents/src/ai/createAddBlockDocumentTextBlockTool.ts
  packages/documents/src/ai/createListBlockDocumentBlocksTool.ts
  packages/mosaic/src/ai/dashboard/createDashboardAgentTool.ts
  packages/mosaic/src/ai/tool-helpers.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Align SQLRooms dev ports with new defaults
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/vite.config.ts
  python/sqlrooms/README.md
  python/sqlrooms/scripts/dev.mjs
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/tests/test_cli.py
  scripts/deploy-sqlrooms-cli-to-sprite.sh
  scripts/dev.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix config gen
  packages/deck/src/mapConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: harden CLI package compatibility
  python/sqlrooms-server/package.json
  python/sqlrooms/pyproject.toml
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/tests/test_cli.py
Due: uv run --project python ruff check --fix

update tests
  packages/deck/__tests__/dashboard-ai-map.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: add Python cell worksheet blocks (#753)
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/statefulBlockArtifactConfigs.ts
  apps/sqlrooms-cli-ui/src/store-types.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/workspace/WorksheetArtifact.tsx
  packages/mosaic/src/ai/worksheet/createWorksheetAgentTool.ts
  packages/python/README.md
  packages/python/eslint.config.js
  packages/python/package.json
  packages/python/src/PyodidePythonRuntimeAdapter.ts
  packages/python/src/PythonBlock.tsx
  packages/python/src/PythonBlockCommands.ts
  packages/python/src/PythonSlice.ts
  packages/python/src/block.ts
  packages/python/src/index.ts
  packages/python/src/pyodideWorker.ts
  packages/python/src/runtime.ts
  packages/python/src/types.ts
  packages/python/src/useStoreWithPython.ts
  packages/python/tsconfig.json
  packages/python/typedoc.js
  pnpm-lock.yaml
  python/sqlrooms-server/package.json
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: improve CLI app serving and publishing (#755)
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
  apps/sqlrooms-cli-ui/vite.config.ts
  package.json
  python/sqlrooms-server/package.json
  python/sqlrooms-server/sqlrooms/server/server.py
  python/sqlrooms/README.md
  python/sqlrooms/pyproject.toml
  python/sqlrooms/scripts/dev.mjs
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_cli.py
  python/sqlrooms/tests/test_launcher.py
  scripts/deploy-sqlrooms-cli-to-sprite.sh
  scripts/dev.mjs
  scripts/publish-sqlrooms-cli.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

feat: add direct worksheet map blocks
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  apps/sqlrooms-cli-ui/src/statefulBlockArtifactConfigs.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/workspace/WorksheetArtifact.tsx
  apps/sqlrooms-cli-ui/src/workspace/WorksheetMapBlockRenderer.tsx
  packages/deck/README.md
  packages/deck/src/ai.ts
  packages/deck/src/index.ts
  packages/mosaic/__tests__/worksheet-ai.test.ts
  packages/mosaic/src/ai/worksheet/createListWorksheetBlocksTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAgentTool.ts
  packages/mosaic/src/ai/worksheet/worksheet-types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Enable experimental mode for pnpm dev
  apps/sqlrooms-cli-ui/README.md
  python/sqlrooms/README.md
  scripts/dev.mjs
Due: none

fix: allow blank dashboard map panels
  packages/deck/__tests__/dashboard-ai-map.test.ts
  packages/deck/src/dashboard.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: move ChordShell case study to the end
  docs/case-studies.md
Due: none
