Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

Revert "remove the wkb fallback"
  python/sqlrooms-server/sqlrooms/server/query.py
Due: uv run --project python ruff check --fix

Enable agent snapshot persistence for devtools
  apps/sqlrooms-cli-ui/src/store.ts
  packages/ai-core/src/devtools/ChatSessionDebugView.tsx
  packages/ai/README.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add timeline filters and close action to chat debug view
  apps/sqlrooms-cli-ui/src/components/AssistantPanel.tsx
  packages/ai-core/src/devtools/ChatSessionDebugView.tsx
  packages/ai/README.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Expose JSON folding helper for debug inspectors
  packages/ai-core/src/devtools/DebugJsonBlock.tsx
  packages/codemirror/README.md
  packages/codemirror/src/index.ts
  packages/codemirror/src/utils/folding.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Allow explicit sqlrooms devtools subexports in ESLint
  packages/preset-eslint/base.js
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

fix overflow
  packages/ai-core/src/devtools/ChatSessionDebugView.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Restrict eslint imports to public subexports
  packages/preset-eslint/base.js
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

delete .devtools/generations.json
  .devtools/generations.json
Due: none

delete .devtools/generations.json
  packages/ai/.devtools/generations.json
Due: none

Strip ANSI styling from CLI help tests
  python/sqlrooms-cli/tests/test_cli.py
Due: uv run --project python ruff check --fix

try to fix the lastest regression after main merge
  apps/sqlrooms-cli-ui/src/components/useLocalFileLoader.ts
  packages/mosaic/__tests__/chart-types/line-chart-spec.test.ts
  packages/mosaic/src/charts/chart-types/base-types.ts
  packages/mosaic/src/useVgPlotChartRender.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Refine scrolling in analytics panels
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliWorkspaceSidebar.tsx
  packages/layout/src/node-renderers/grid-node-renderer/GridLayout.tsx
  packages/mosaic/src/charts/MosaicChart.tsx
  packages/mosaic/src/charts/chart-settings/MosaicChartSpecViewerPanel.tsx
  packages/mosaic/src/dashboard/panel/MosaicDashboardPanelLayout.tsx
  packages/sql-editor/src/components/SchemaExplorer.tsx
  packages/sql-editor/src/components/TableStructurePanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Remove persisted sizing from assistant chat panels
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Fix native scrollbars in sidebar and panel views
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliArtifactsSidebarSection.tsx
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliDataSidebarSection.tsx
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliWorkspaceSidebar.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Harden AI debug session snapshot handling
  packages/ai-config/src/schema/ChatSessionSchema.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/chatSessionForking.ts
  packages/ai-core/src/chatTransport.ts
  packages/ai-core/src/devtools/ChatSessionDebugView.tsx
  packages/ai-core/src/devtools/DebugJsonBlock.tsx
  packages/ai-core/src/devtools/sessionDebugModel.ts
  packages/preset-eslint/base.js
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Use parsed Mosaic table references in data table explorer
  packages/mosaic/__tests__/chart-types/line-chart-spec.test.ts
  packages/mosaic/__tests__/data-table-explorer.utils.test.ts
  packages/mosaic/__tests__/mosaicTableReference.test.ts
  packages/mosaic/src/charts/chart-types/base-types.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerCategoryClient.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerCountClient.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerHistogramClient.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerPageClient.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerUnsupportedSummaryClient.ts
  packages/mosaic/src/data-table-explorer/dataTableExplorerController.ts
  packages/mosaic/src/data-table-explorer/hooks/useDataTableExplorerLifecycles.ts
  packages/mosaic/src/data-table-explorer/hooks/useDataTableExplorerQueryState.ts
  packages/mosaic/src/data-table-explorer/types.ts
  packages/mosaic/src/data-table-explorer/useDataTableExplorer.ts
  packages/mosaic/src/data-table-explorer/utils.ts
  packages/mosaic/src/mosaicTableReference.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: add docstring
  packages/ui/src/components/textarea.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Document ai-core devtools subexport
  packages/ai-core/README.md
Due: none

Nest AI devtools snapshots under devtools state
  packages/ai-core/README.md
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/agents/AgentUtils.ts
  packages/ai-core/src/chatTransport.ts
  packages/ai-core/src/devtools/ChatSessionDebugView.tsx
  packages/ai-core/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Clone agent snapshots in devtools
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/devtools/agentSnapshots.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add qualified table name array helpers
  packages/duckdb-core/__tests__/getUnqualifiedSqlIdentifier.test.ts
  packages/duckdb-core/src/duckdb-utils.ts
  packages/duckdb-core/src/schema-tree/__tests__/schemaTree.test.ts
  packages/duckdb/src/DuckDbSlice.ts
  packages/mosaic/src/mosaicTableReference.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feedback
  packages/ai-config/README.md
  packages/ai-core/__tests__/chatSessionForking.test.ts
  packages/ai-core/src/chatSessionForking.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Reuse duckdb qualified table name helper
  packages/ai/__tests__/tableTools.test.ts
  packages/ai/src/tools/tableSchemaContext.ts
  packages/mosaic/__tests__/chart-types/line-chart-spec.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Add AI debug session view (#729)
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
  apps/sqlrooms-cli-ui/src/components/AssistantPanel.tsx
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/ai-config/README.md
  packages/ai-config/src/schema/ChatSessionSchema.ts
  packages/ai-core/README.md
  packages/ai-core/__tests__/chatSessionForking.test.ts
  packages/ai-core/__tests__/sessionDebugModel.test.ts
  packages/ai-core/package.json
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/agents/AgentUtils.ts
  packages/ai-core/src/chatSessionForking.ts
  packages/ai-core/src/chatTransport.ts
  packages/ai-core/src/components/ChatHeader.tsx
  packages/ai-core/src/devtools/ChatSessionDebugView.tsx
  packages/ai-core/src/devtools/DebugJsonBlock.tsx
  packages/ai-core/src/devtools/agentSnapshots.ts
  packages/ai-core/src/devtools/index.ts
  packages/ai-core/src/devtools/sessionDebugModel.ts
  packages/ai-core/src/index.ts
  packages/ai-core/src/types.ts
  packages/ai/README.md
  packages/ai/package.json
  packages/ai/src/devtools.ts
  packages/ai/src/index.ts
  packages/codemirror/README.md
  packages/codemirror/src/index.ts
  packages/codemirror/src/utils/folding.ts
  packages/preset-eslint/base.js
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_cli.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

Preserve catalog in mosaic table identities
  packages/mosaic/__tests__/mosaicTableReference.test.ts
  packages/mosaic/src/data-table-explorer/dataTableExplorerController.ts
  packages/mosaic/src/data-table-explorer/hooks/useDataTableExplorerLifecycles.ts
  packages/mosaic/src/data-table-explorer/hooks/useDataTableExplorerQueryState.ts
  packages/mosaic/src/data-table-explorer/useDataTableExplorer.ts
  packages/mosaic/src/mosaicTableReference.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Escape AI table identifiers
  packages/ai/src/tools/tableSchemaContext.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Preserve quoted dotted table refs in Mosaic queries
  packages/mosaic/__tests__/BoxPlotClient.test.ts
  packages/mosaic/__tests__/chart-types/line-chart-spec.test.ts
  packages/mosaic/__tests__/mosaicTableReference.test.ts
  packages/mosaic/src/charts/MosaicChartView.tsx
  packages/mosaic/src/charts/chart-types/base-types.ts
  packages/mosaic/src/charts/useChartDataPolicy.tsx
  packages/mosaic/src/data-table-explorer/DataTableExplorerHistogramClient.ts
  packages/mosaic/src/data-table-explorer/dataTableExplorerController.ts
  packages/mosaic/src/data-table-explorer/hooks/useDataTableExplorerLifecycles.ts
  packages/mosaic/src/data-table-explorer/hooks/useDataTableExplorerQueryState.ts
  packages/mosaic/src/data-table-explorer/types.ts
  packages/mosaic/src/data-table-explorer/utils.ts
  packages/mosaic/src/mosaicTableReference.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Normalize chart table references before rendering
  packages/mosaic/__tests__/chart-types/line-chart-spec.test.ts
  packages/mosaic/src/charts/chart-types/base-types.ts
  packages/mosaic/src/data-table-explorer/useDataTableExplorer.ts
  packages/mosaic/src/useVgPlotChartRender.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Trim table references in Vega plot specs
  packages/mosaic/src/useVgPlotChartRender.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: Normalize Mosaic table references to omit DuckDB catalogs (#731)
  packages/ai/__tests__/tableTools.test.ts
  packages/ai/src/tools/tableSchemaContext.ts
  packages/duckdb-core/__tests__/getUnqualifiedSqlIdentifier.test.ts
  packages/duckdb-core/src/duckdb-utils.ts
  packages/duckdb-core/src/schema-tree/__tests__/schemaTree.test.ts
  packages/duckdb/src/DuckDbSlice.ts
  packages/mosaic/__tests__/BoxPlotClient.test.ts
  packages/mosaic/__tests__/chart-types/line-chart-spec.test.ts
  packages/mosaic/__tests__/data-table-explorer.utils.test.ts
  packages/mosaic/__tests__/mosaicTableReference.test.ts
  packages/mosaic/src/charts/MosaicChartView.tsx
  packages/mosaic/src/charts/chart-types/base-types.ts
  packages/mosaic/src/charts/useChartDataPolicy.tsx
  packages/mosaic/src/data-table-explorer/DataTableExplorerCategoryClient.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerCountClient.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerHistogramClient.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerPageClient.ts
  packages/mosaic/src/data-table-explorer/DataTableExplorerUnsupportedSummaryClient.ts
  packages/mosaic/src/data-table-explorer/dataTableExplorerController.ts
  packages/mosaic/src/data-table-explorer/hooks/useDataTableExplorerLifecycles.ts
  packages/mosaic/src/data-table-explorer/hooks/useDataTableExplorerQueryState.ts
  packages/mosaic/src/data-table-explorer/types.ts
  packages/mosaic/src/data-table-explorer/useDataTableExplorer.ts
  packages/mosaic/src/data-table-explorer/utils.ts
  packages/mosaic/src/mosaicTableReference.ts
  packages/mosaic/src/useVgPlotChartRender.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Use state.db.tables for assistant context tables
  apps/sqlrooms-cli-ui/src/components/useAssistantContextItems.ts
  apps/sqlrooms-cli-ui/src/context/formatRunContextInstructions.ts
  apps/sqlrooms-cli-ui/src/context/getRunContext.ts
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliDataSidebarSection.tsx
  packages/duckdb-core/src/schema-tree/schemaTreeUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor: Use state.db.tables for assistant and run context (#732)
  apps/sqlrooms-cli-ui/src/components/useAssistantContextItems.ts
  apps/sqlrooms-cli-ui/src/context/formatRunContextInstructions.ts
  apps/sqlrooms-cli-ui/src/context/getRunContext.ts
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliDataSidebarSection.tsx
  packages/duckdb-core/src/schema-tree/schemaTreeUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Remove redundant vertical scrollbars from mosaic layouts
  packages/layout/src/node-renderers/grid-node-renderer/GridLayout.tsx
  packages/mosaic/src/charts/MosaicChart.tsx
  packages/mosaic/src/charts/chart-settings/MosaicChartSpecViewerPanel.tsx
  packages/mosaic/src/dashboard/panel/MosaicDashboardPanelLayout.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: Native scrollbars in sidebar and panel views (#730)
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliArtifactsSidebarSection.tsx
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliDataSidebarSection.tsx
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliWorkspaceSidebar.tsx
  packages/layout/src/node-renderers/grid-node-renderer/GridLayout.tsx
  packages/mosaic/__tests__/mosaicTableReference.test.ts
  packages/mosaic/src/charts/MosaicChart.tsx
  packages/mosaic/src/charts/chart-settings/MosaicChartSpecViewerPanel.tsx
  packages/mosaic/src/dashboard/panel/MosaicDashboardPanelLayout.tsx
  packages/mosaic/src/mosaicTableReference.ts
  packages/sql-editor/src/components/SchemaExplorer.tsx
  packages/sql-editor/src/components/TableStructurePanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Polish CLI sidebar and chart layout
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/components/AssistantPanel.tsx
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliArtifactsSidebarSection.tsx
  apps/sqlrooms-cli-ui/src/workspace/sidebar/CliDataSidebarSection.tsx
  apps/sqlrooms-cli-ui/src/workspace/sidebar/useCliArtifactSidebarTabs.ts
  packages/mosaic/src/charts/MosaicChart.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Canonicalize table IDs without default database
  examples/code-editor/src/SqlEditor.tsx
  packages/ai/src/tools/defaultInstructions.ts
  packages/ai/src/tools/tableSchemaContext.ts
  packages/ai/src/tools/tables/listTables.ts
  packages/ai/src/tools/tables/readTableSchema.ts
  packages/ai/src/tools/tables/tableIdentity.ts
  packages/duckdb-core/README.md
  packages/duckdb-core/__tests__/getUnqualifiedSqlIdentifier.test.ts
  packages/duckdb-core/src/duckdb-utils.ts
  packages/duckdb/README.md
  packages/duckdb/__tests__/DuckDbSlice.test.ts
  packages/duckdb/src/DuckDbSlice.ts
  packages/duckdb/src/loadTableSchemas.ts
  packages/mosaic/src/charts/chart-types/base-types.ts
  packages/pivot/__tests__/pivot-sql.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Use db.qualifyTableName for relation naming
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/execution.ts
  packages/db/src/DbSlice.ts
  packages/sql-editor/src/components/CreateTableModal.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Use canonical table IDs in AI schema context
  packages/ai/__tests__/tableSchemaContext.test.ts
  packages/ai/src/index.ts
  packages/ai/src/tools/tableSchemaContext.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Simplify AI table schema formatting
  packages/ai/__tests__/tableSchemaContext.test.ts
  packages/ai/src/index.ts
  packages/ai/src/tools/tableSchemaContext.ts
  packages/duckdb/src/DuckDbSlice.ts
  packages/sql-editor/src/utils/qualified-name-parser.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --
