Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

chore: DuckDB wasm upgrade (#366)
  apps/sqlrooms-cli-ui/package.json
  examples/ai-agent/package.json
  examples/ai-core/package.json
  examples/ai-rag/package.json
  examples/ai/package.json
  examples/app-builder/package.json
  examples/cosmos-embedding/package.json
  examples/cosmos/package.json
  examples/mosaic/package.json
  examples/nextjs/package.json
  examples/query-pwa/package.json
  examples/query-websocket/package.json
  examples/query/package.json
  package.json
  packages/duckdb/package.json
  pnpm-lock.yaml
Due: none

fix: fix vega chart sizing (#365)
  packages/vega/src/VegaChartToolResult.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

dbslice
  .cursor/plans/multi-db-duckdb-core-architecture_b61e5166.plan.md
  packages/cells/package.json
  packages/cells/src/components/SqlCellContent.tsx
  packages/cells/src/execution.ts
  packages/cells/src/hooks.ts
  packages/cells/src/types.ts
  packages/db/README.md
  packages/db/eslint.config.js
  packages/db/jest.config.js
  packages/db/package.json
  packages/db/src/DbSlice.ts
  packages/db/src/bridge.ts
  packages/db/src/connectors/duckdb.ts
  packages/db/src/index.ts
  packages/db/src/types.ts
  packages/db/tsconfig.json
  packages/db/typedoc.js
  packages/room-shell/package.json
  packages/room-shell/src/RoomShellSlice.ts
  packages/room-shell/src/index.ts
  packages/sql-editor/src/SqlEditorSlice.tsx
  pnpm-lock.yaml
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

feat(ai-core): add markdown copy for assistant output
  packages/ai-core/src/components/AnalysisResult.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(ai-core): add markdown copy action to assistant messages
  packages/ai-core/src/components/AnalysisAnswer.tsx
  packages/ai-core/src/components/AnalysisResult.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(ai-core): move assistant copy action into footer toolbar
  packages/ai-core/src/components/AnalysisAnswer.tsx
  packages/ai-core/src/components/MessageContainer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  packages/ai-core/src/components/AnalysisAnswer.tsx
  packages/ui/src/components/copy-button.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

improve sql error display in vega charts
  packages/vega/src/editor/VegaChartDisplay.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

address comments
  packages/vega/src/editor/VegaChartDisplay.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback, CopyButton improvements
  packages/ai-core/src/components/AnalysisAnswer.tsx
  packages/ai-core/src/components/AnalysisResult.tsx
  packages/ai-core/src/components/MessageContainer.tsx
  packages/ai/src/tools/query/QueryToolResult.tsx
  packages/ui/src/components/copy-button.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

show on hover
  packages/ai-core/src/components/AnalysisResult.tsx
  packages/ai/src/tools/query/QueryToolResult.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  packages/ui/src/components/copy-button.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: AI output copy to clipboard (#368)
  packages/ai-core/src/components/AnalysisAnswer.tsx
  packages/ai-core/src/components/AnalysisResult.tsx
  packages/ai-core/src/components/MessageContainer.tsx
  packages/ai/src/tools/query/QueryToolResult.tsx
  packages/ui/src/components/copy-button.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: improve sql error display in vega charts (#369)
  packages/vega/src/editor/VegaChartDisplay.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

revert unrelated changes
  examples/ai-nextjs/package.json
  examples/nextjs/package.json
  packages/vega/src/editor/VegaChartDisplay.tsx
  pnpm-lock.yaml
  python/sqlrooms-server/uv.lock
  python/uv.lock
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

revert unrelated
  apps/sqlrooms-cli-ui/postcss.config.js
  examples/canvas-sync/postcss.config.js
  packages/ai-core/src/components/AnalysisResultsContainer.tsx
  packages/ai-core/src/components/ToolPartRenderer.tsx
  packages/ai-core/src/components/tools/ToolErrorMessage.tsx
  packages/canvas/src/CanvasAssistantDrawer.tsx
  packages/kepler/src/components/CustomMapLegend.tsx
  packages/ui/src/components/textarea.tsx
  packages/ui/src/components/toaster.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

revert unrelated
  python/sqlrooms-rag/examples/query_duckdb_direct.py
Due: uv run --project python ruff check --fix

feat: migrate sql-rooms-cli-ui
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/postcss.config.js
  apps/sqlrooms-cli-ui/src/style.css
  apps/sqlrooms-cli-ui/tailwind.config.ts
  apps/sqlrooms-cli-ui/vite.config.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: update next js examples
  examples/ai-nextjs/app/globals.css
  examples/ai-nextjs/postcss.config.mjs
  examples/nextjs/README.md
  examples/nextjs/app/globals.css
  examples/nextjs/postcss.config.mjs
  pnpm-lock.yaml
Due: none

fix: tailwind version in sqlrooms-cli-ui
  apps/sqlrooms-cli-ui/package.json
  pnpm-lock.yaml
Due: none

feat: update theming.md
  docs/theming.md
Due: none

fix: remove unused dependencies
  apps/sqlrooms-cli-ui/package.json
  examples/canvas-sync/package.json
  examples/canvas/package.json
  pnpm-lock.yaml
Due: none

feat: replace deprecated tw classes in the rest of the files
  packages/ai-core/src/components/AnalysisResultsContainer.tsx
  packages/ai-core/src/components/PromptSuggestions.tsx
  packages/ai-core/src/components/SessionControls.tsx
  packages/ai-core/src/components/ToolCallInfo.tsx
  packages/ai-settings/src/components/AiModelParameters.tsx
  packages/ai-settings/src/components/AiProvidersSettings.tsx
  packages/canvas/src/CanvasAssistantDrawer.tsx
  packages/canvas/src/nodes/SqlNode.tsx
  packages/data-table/src/DataTablePaginated.tsx
  packages/data-table/src/useArrowDataTable.tsx
  packages/kepler/src/components/CustomMapManager.tsx
  packages/kepler/src/components/KeplerAddDataDialog.tsx
  packages/recharts/src/chart.tsx
  packages/room-shell/src/RoomShell.tsx
  packages/room-shell/src/data-sources/FileDataSourceCard.tsx
  packages/room-shell/src/data-sources/FileDataSourcesPanel.tsx
  packages/room-shell/src/data-sources/TablesListPanel.tsx
  packages/room-shell/src/panels/RoomPanel.tsx
  packages/s3-browser/src/S3CredentialsForm.tsx
  packages/s3-browser/src/S3FileBrowser.tsx
  packages/schema-tree/src/nodes/BaseTreeNode.tsx
  packages/schema-tree/src/nodes/TreeNodeActionsMenu.tsx
  packages/sql-editor/src/SqlEditor.tsx
  packages/sql-editor/src/SqlEditorModal.tsx
  packages/sql-editor/src/components/CreateTableModal.tsx
  packages/sql-editor/src/components/QueryEditorPanel.tsx
  packages/sql-editor/src/components/QueryEditorPanelEditor.tsx
  packages/sql-editor/src/components/QueryResultPanel.tsx
  packages/sql-editor/src/components/SqlEditorHeader.tsx
  packages/sql-editor/src/components/SqlQueryDataSourcesPanel.tsx
  packages/sql-editor/src/components/SqlQueryPreview.tsx
  packages/vega/src/editor/VegaSpecEditorPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: exclude entry css files from knip
  knip.json
Due: none

feat: replace deprecated tw classes in packages/ui
  .husky/pre-commit
  packages/ui/src/components/breadcrumb.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/context-menu.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/menu-bar.tsx
  packages/ui/src/components/scroll-area.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/separator.tsx
  packages/ui/src/components/tab-strip.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/components/toast.tsx
  packages/ui/src/components/tree.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: make pre-push hook volta friendly
  .husky/pre-push
Due: none

fix: replace outline-none with outline-hidden
  packages/ai-core/src/components/QueryControls.tsx
  packages/canvas/src/CanvasAssistantDrawer.tsx
  packages/recharts/src/chart.tsx
  packages/schema-tree/src/nodes/TreeNodeActionsMenu.tsx
  packages/ui/src/components/badge.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/context-menu.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/editable-text.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/menu-bar.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/components/progress-modal.tsx
  packages/ui/src/components/radio-group.tsx
  packages/ui/src/components/resizable.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/components/switch.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/components/theme-switch.tsx
  packages/ui/src/components/toast.tsx
  packages/ui/src/components/toggle.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: order of deps in package.json
  apps/sqlrooms-cli-ui/package.json
  examples/ai-rag/package.json
  examples/app-builder/package.json
  examples/canvas-sync/package.json
  examples/canvas/package.json
  examples/deckgl-mosaic/package.json
  examples/sync/package.json
Due: none

fix: code review comments from co-pilot
  .husky/pre-commit
  README.md
  docs/getting-started.md
  docs/upgrade-guide.md
Due: none

fix: merge issues
  packages/data-table/src/ColumnTypeBadge.tsx
  packages/schema-tree/src/nodes/TreeNodeActionsMenu.tsx
  packages/ui/src/components/tab-strip.tsx
  packages/ui/src/components/textarea.tsx
  packages/ui/src/components/toast.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: lock file
  pnpm-lock.yaml
Due: none

fix: lockfile
  pnpm-lock.yaml
Due: none

fixes
  docs/media/whats-new/row-selection.png
  docs/whats-new.md
  packages/data-table/src/DataTablePaginated.tsx
  packages/data-table/src/QueryDataTable.tsx
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/table.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  docs/whats-new.md
  packages/data-table/src/DataTablePaginated.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  packages/data-table/src/DataTablePaginated.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Data table row selection (#358)
  docs/media/whats-new/row-selection.png
  docs/whats-new.md
  packages/data-table/src/DataTableArrowPaginated.tsx
  packages/data-table/src/DataTableModal.tsx
  packages/data-table/src/DataTablePaginated.tsx
  packages/data-table/src/QueryDataTable.tsx
  packages/data-table/src/index.ts
  packages/data-table/src/useArrowDataTable.tsx
  packages/sql-editor/src/components/QueryResultPanel.tsx
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/table.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: What's new
  docs/whats-new.md
Due: none
