Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

Remove legacy app builder file tools
  examples/app-builder/package.json
  examples/app-builder/src/tools/getFileContent/GetFileContentToolResult.tsx
  examples/app-builder/src/tools/getFileContent/getFileContentTool.ts
  examples/app-builder/src/tools/listFiles/ListFilesToolResult.tsx
  examples/app-builder/src/tools/listFiles/createListFilesTool.ts
  examples/app-builder/src/tools/updateFileContent/UpdateFileContentToolResult.tsx
  examples/app-builder/src/tools/updateFileContent/updateFileContentTool.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Fix webcontainer bash type issues
  packages/webcontainer/src/WebContainerFsAdapter.ts
  packages/webcontainer/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Shim just-bash zlib for browser builds
  apps/sqlrooms-cli-ui/vite.config.ts
  examples/app-builder/vite.config.ts
  packages/webcontainer/src/shims/node-zlib.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  examples/app-builder/src/components/AssistantView.tsx
  examples/app-builder/src/components/Room.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  apps/sqlrooms-cli-ui/src/components/DashboardSheet.tsx
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/utils.ts
  packages/mosaic/src/MosaicSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  apps/sqlrooms-cli-ui/src/store.ts
  examples/app-builder/src/store/store.ts
  packages/ai-core/src/AiSlice.ts
  packages/room-store/src/createPersistHelpers.ts
  packages/webcontainer/src/WebContainerSlice.ts
  packages/webcontainer/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  apps/sqlrooms-cli-ui/src/components/DashboardSheet.tsx
  apps/sqlrooms-cli-ui/src/store.ts
  packages/mosaic/src/MosaicSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

no bash-tool
  apps/sqlrooms-cli-ui/src/store.ts
  examples/ai-nextjs/next-env.d.ts
  examples/app-builder/src/store/store.ts
  packages/webcontainer/src/WebContainerSandbox.ts
  packages/webcontainer/src/createWebContainerBashTool.tsx
  packages/webcontainer/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

simplify config load
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/tests/test_cli.py
Due: uv run --project python ruff check --fix

pr feedback
  apps/sqlrooms-cli-ui/src/components/ConnectorDriversDialog.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

build
  apps/sqlrooms-cli-ui/src/components/ConnectorDriversDialog.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

knip
  packages/mosaic/package.json
  pnpm-lock.yaml
Due: none

pr feedback
  apps/sqlrooms-cli-ui/src/components/DashboardSheet.tsx
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

type fix
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

rename VgPlot
  apps/sqlrooms-cli-ui/src/components/DashboardSheet.tsx
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  packages/ai-core/src/AiSlice.ts
  packages/webcontainer/src/WebContainerFsAdapter.ts
  packages/webcontainer/src/WebContainerSandbox.ts
  packages/webcontainer/src/createWebContainerBashTool.tsx
  packages/webcontainer/src/shims/node-zlib.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

extract functions
  apps/sqlrooms-cli-ui/src/components/DashboardSheet.tsx
  apps/sqlrooms-cli-ui/src/createDashboardAiTools.ts
  apps/sqlrooms-cli-ui/src/createDashboardCommands.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/vgplot.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

knip
  apps/sqlrooms-cli-ui/package.json
  pnpm-lock.yaml
Due: none

button
  apps/sqlrooms-cli-ui/src/components/ConnectorDriversDialog.tsx
  apps/sqlrooms-cli-ui/src/components/DataSourcesPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

config file loading path
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/tests/test_cli.py
Due: uv run --project python ruff check --fix

pr feedback
  packages/webcontainer/src/WebContainerFsAdapter.ts
  packages/webcontainer/src/createWebContainerBashTool.tsx
  packages/webcontainer/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

db.connectors in config
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/tests/test_cli.py
Due: uv run --project python ruff check --fix

feat: Add just-bash support for WebContainer editing (#489)
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/vite.config.ts
  examples/ai-nextjs/next-env.d.ts
  examples/app-builder/package.json
  examples/app-builder/src/components/AssistantView.tsx
  examples/app-builder/src/components/Room.tsx
  examples/app-builder/src/store/store.ts
  examples/app-builder/src/tools/getFileContent/GetFileContentToolResult.tsx
  examples/app-builder/src/tools/getFileContent/getFileContentTool.ts
  examples/app-builder/src/tools/listFiles/ListFilesToolResult.tsx
  examples/app-builder/src/tools/listFiles/createListFilesTool.ts
  examples/app-builder/src/tools/updateFileContent/UpdateFileContentToolResult.tsx
  examples/app-builder/src/tools/updateFileContent/updateFileContentTool.ts
  examples/app-builder/vite.config.ts
  packages/ai-core/src/AiSlice.ts
  packages/room-store/src/createPersistHelpers.ts
  packages/webcontainer/package.json
  packages/webcontainer/src/WebContainerFsAdapter.ts
  packages/webcontainer/src/WebContainerSandbox.ts
  packages/webcontainer/src/WebContainerSlice.ts
  packages/webcontainer/src/createWebContainerBashTool.tsx
  packages/webcontainer/src/index.ts
  packages/webcontainer/src/shims/node-zlib.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: CLI: Dynamic connector load (#407)
  AGENTS.md
  apps/sqlrooms-cli-ui/src/components/ConnectorDriversDialog.tsx
  apps/sqlrooms-cli-ui/src/components/DataSourcesPanel.tsx
  apps/sqlrooms-cli-ui/src/components/SheetsPanel.tsx
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/ai-settings/src/components/AiModelsSettings.tsx
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/__init__.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/__init__.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/base.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/postgres.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/connectors/snowflake.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/factory.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/registry.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/types.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/utils.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_cli.py
  python/sqlrooms-cli/tests/test_db_bridge.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

feat: CLI: Mosaic dashboard (#408)
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/components/DashboardSheet.tsx
  apps/sqlrooms-cli-ui/src/components/SheetsPanel.tsx
  apps/sqlrooms-cli-ui/src/createDashboardAiTools.ts
  apps/sqlrooms-cli-ui/src/createDashboardCommands.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/utils.ts
  apps/sqlrooms-cli-ui/src/vgplot.ts
  packages/cells/src/components/SheetsTabBar.tsx
  packages/cells/src/types.ts
  packages/mosaic/package.json
  packages/mosaic/src/MosaicSlice.ts
  packages/mosaic/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  packages/data-table/src/ColumnTypeBadge.tsx
  packages/duckdb/src/DuckDbSlice.ts
  packages/kepler/src/KeplerSlice.ts
  packages/room-shell/src/RoomShellSlice.ts
  packages/ui/src/components/accordion.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix tests
  packages/duckdb-node/src/helpers.ts
  packages/duckdb/src/DuckDbSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

hover popover
  packages/data-table/src/ColumnTypeBadge.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

using HoverCard
  packages/data-table/src/ColumnTypeBadge.tsx
  packages/ui/package.json
  packages/ui/src/components/hover-card.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

added refresh button to TableStructurePanel
  packages/sql-editor/src/components/TableStructurePanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

reusable run button
  packages/cells/src/components/SqlCellRunButton.tsx
  packages/sql-editor/src/components/QueryEditorPanelActions.tsx
  packages/sql-editor/src/components/TableStructurePanel.tsx
  packages/ui/src/components/run-button.tsx
  packages/ui/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

RefreshButton rotates at least once
  packages/schema-tree/src/nodes/RefreshButton.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

null state in schema explorer
  packages/schema-tree/src/TableSchemaTree.tsx
  packages/sql-editor/src/components/TableStructurePanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: refreshTableSchemas improvements (#346)
  packages/cells/src/components/InputCellContent.tsx
  packages/cells/src/components/SqlCellRunButton.tsx
  packages/cells/src/components/TextCellContent.tsx
  packages/data-table/src/ColumnTypeBadge.tsx
  packages/duckdb-node/package.json
  packages/duckdb-node/src/helpers.ts
  packages/duckdb/__tests__/DuckDbSlice.test.ts
  packages/duckdb/src/DuckDbSlice.ts
  packages/kepler/src/KeplerSlice.ts
  packages/kepler/src/components/KeplerAddDataDialog.tsx
  packages/notebook/src/cells/CellContainer.tsx
  packages/room-shell/src/RoomShellSlice.ts
  packages/schema-tree/src/TableSchemaTree.tsx
  packages/schema-tree/src/nodes/ColumnTreeNode.tsx
  packages/schema-tree/src/nodes/RefreshButton.tsx
  packages/schema-tree/src/nodes/TableTreeNode.tsx
  packages/sql-editor/src/components/QueryEditorPanelActions.tsx
  packages/sql-editor/src/components/TableStructurePanel.tsx
  packages/ui/package.json
  packages/ui/src/components/accordion.tsx
  packages/ui/src/components/error-pane.tsx
  packages/ui/src/components/hover-card.tsx
  packages/ui/src/components/run-button.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Db-settings package
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/components/ConnectorDriversDialog.tsx
  apps/sqlrooms-cli-ui/src/components/DataSourcesPanel.tsx
  apps/sqlrooms-cli-ui/src/store.ts
  packages/db-settings/README.md
  packages/db-settings/eslint.config.js
  packages/db-settings/package.json
  packages/db-settings/src/DbSettingsSlice.ts
  packages/db-settings/src/DbSettingsSliceConfig.ts
  packages/db-settings/src/components/ConnectorDriversDiagnostics.tsx
  packages/db-settings/src/components/DbConnectionForm.tsx
  packages/db-settings/src/components/DbConnectionsList.tsx
  packages/db-settings/src/components/DbSettingsPanel.tsx
  packages/db-settings/src/index.ts
  packages/db-settings/tsconfig.json
  packages/db-settings/typedoc.js
  packages/db/src/index.ts
  pnpm-lock.yaml
  python/sqlrooms-cli/pyproject.toml
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/uv.lock
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix: core db connection didn't work
  packages/db-settings/src/DbSettingsSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

supportedEngines
  apps/sqlrooms-cli-ui/src/components/DataSourcesPanel.tsx
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/db-settings/src/DbSettingsSliceConfig.ts
  packages/db-settings/src/components/ConnectorDriversDiagnostics.tsx
  packages/db-settings/src/components/DbConnectionForm.tsx
  packages/db-settings/src/components/DbConnectionsList.tsx
  packages/db-settings/src/components/DbSettingsDialog.tsx
  packages/db-settings/src/index.ts
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/__init__.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge/factory.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

SchemaExplorer
  apps/sqlrooms-cli-ui/src/components/DataSourcesPanel.tsx
  examples/ai-rag/src/components/DataSourcesPanel.tsx
  examples/ai/src/components/DataSourcesPanel.tsx
  examples/canvas-sync/src/DataSourcesPanel.tsx
  examples/canvas/src/DataSourcesPanel.tsx
  examples/deckgl/src/components/DataPanel.tsx
  examples/kepler/src/components/DataPanel.tsx
  examples/notebook/src/DataSourcesPanel.tsx
  examples/query-motherduck/src/DataPanel.tsx
  examples/query-pwa/src/DataPanel.tsx
  examples/query-websocket/src/DataPanel.tsx
  examples/query/src/DataPanel.tsx
  packages/schema-tree/src/TableSchemaTree.tsx
  packages/schema-tree/src/nodes/RefreshButton.tsx
  packages/sql-editor/src/components/SchemaExplorer.tsx
  packages/sql-editor/src/components/TableStructurePanel.tsx
  packages/sql-editor/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --
