Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

address copilot comments
  packages/sql-editor/src/SqlMonacoEditor.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Improved findDependencies
  packages/canvas/src/CanvasSlice.ts
  packages/cells/src/cellsSlice.ts
  packages/cells/src/dagUtils.ts
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/index.ts
  packages/cells/src/sqlHelpers.ts
  packages/cells/src/types.ts
  packages/notebook/src/NotebookSlice.ts
  packages/notebook/src/NotebookStateTypes.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Prompt suggestion improvements (#316)
  apps/sqlrooms-cli-ui/src/components/MainView.tsx
  examples/ai-agent/src/components/MainView.tsx
  examples/ai-core/src/components/MainView.tsx
  examples/ai-nextjs/components/main-view.tsx
  examples/ai-rag/src/components/MainView.tsx
  examples/ai/src/components/MainView.tsx
  examples/app-builder/src/components/AssistantView.tsx
  packages/ai-core/src/components/Chat.tsx
  packages/ai-core/src/components/PromptSuggestions.tsx
  packages/ai/README.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

address copilot comments
  packages/sql-editor/src/SqlMonacoEditor.tsx
  packages/sql-editor/src/components/QueryEditorPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix knip
  apps/sqlrooms-cli-ui/src/components/MainView.tsx
  examples/notebook/src/NotebookPanel.tsx
  examples/query-pwa/package.json
  examples/query-websocket/package.json
  packages/canvas/package.json
  packages/canvas/src/CanvasSlice.ts
  packages/canvas/src/dag.ts
  packages/cells/package.json
  packages/cells/src/cellsSlice.ts
  packages/cells/src/hooks.ts
  packages/cells/src/types.ts
  packages/cells/src/validation.ts
  packages/monaco-editor/package.json
  packages/notebook/package.json
  packages/notebook/src/NotebookSlice.ts
  packages/notebook/src/cellOperations/AddSqlCellResultToNewTable.tsx
  packages/notebook/src/cellOperations/IconWithTooltip.tsx
  packages/notebook/src/useStoreWithNotebook.ts
  packages/sql-editor/package.json
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

address copilot comments
  packages/monaco-editor/src/utils/color-utils.ts
  packages/sql-editor/src/components/QueryEditorPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

address copilot comments
  packages/monaco-editor/src/utils/color-utils.ts
  packages/ui/src/theme/theme-provider.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  apps/sqlrooms-cli-ui/src/store.ts
  packages/cells/src/components/SheetsTabBar.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

unused import
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix monaco
  packages/monaco-editor/src/components/JsonMonacoEditor.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Update packages/sql-editor/src/SqlMonacoEditor.tsx
  packages/sql-editor/src/SqlMonacoEditor.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Update packages/sql-editor/src/components/QueryEditorPanel.tsx
  packages/sql-editor/src/components/QueryEditorPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

address copilot comments
  packages/monaco-editor/src/components/JsonMonacoEditor.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Configurable Kepler injector with custom recipe support
  packages/kepler/src/KeplerSlice.ts
  packages/kepler/src/components/CustomFilterManager.tsx
  packages/kepler/src/components/CustomLayerManager.tsx
  packages/kepler/src/components/CustomMapManager.tsx
  packages/kepler/src/components/CustomTooltipConfig.tsx
  packages/kepler/src/components/KeplerAddDataDialog.tsx
  packages/kepler/src/components/KeplerAddTileSetDialog.tsx
  packages/kepler/src/components/KeplerInjector.tsx
  packages/kepler/src/components/KeplerMapContainer.tsx
  packages/kepler/src/components/KeplerPlotContainer.tsx
  packages/kepler/src/components/KeplerSidePanels.tsx
  packages/kepler/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix circular deps
  packages/kepler/src/KeplerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Configurable Kepler injector with custom recipe support (#318)
  packages/kepler/src/components/CustomFilterManager.tsx
  packages/kepler/src/components/CustomLayerManager.tsx
  packages/kepler/src/components/CustomMapManager.tsx
  packages/kepler/src/components/CustomTooltipConfig.tsx
  packages/kepler/src/components/KeplerAddDataDialog.tsx
  packages/kepler/src/components/KeplerAddTileSetDialog.tsx
  packages/kepler/src/components/KeplerInjector.tsx
  packages/kepler/src/components/KeplerMapContainer.tsx
  packages/kepler/src/components/KeplerPlotContainer.tsx
  packages/kepler/src/components/KeplerSidePanels.tsx
  packages/kepler/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix updateCell
  packages/notebook/src/NotebookSlice.ts
  packages/sql-editor/src/SqlMonacoEditor.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Include the index so moving a cell remounts Monaco cleanly.
  packages/notebook/src/Notebook.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix broken link
  docs/whats-new.md
Due: none

fix broken link (#319)
  docs/whats-new.md
Due: none

chore: Only typecheck examples in PR checks
  .github/workflows/build-examples.yml
  .github/workflows/pr-checks.yml
  package.json
Due: none

option to Run the examples build workflow before syncing
  .github/workflows/build-examples.yml
  .github/workflows/sync-examples.yml
Due: none

Update .github/workflows/sync-examples.yml
  .github/workflows/sync-examples.yml
Due: none

fix
  .github/workflows/sync-examples.yml
Due: none

resultName
  packages/cells/src/cellsSlice.ts
  packages/cells/src/components/SqlCellContent.tsx
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/execution.ts
  packages/cells/src/index.ts
  packages/cells/src/sqlHelpers.ts
  packages/cells/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: Only typecheck examples in PR checks (#320)
  .github/workflows/build-examples.yml
  .github/workflows/pr-checks.yml
  .github/workflows/sync-examples.yml
  package.json
Due: none

sql's runCell in cellRegistry
  packages/cells/src/cellsSlice.ts
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

AssistantDrawer
  apps/sqlrooms-cli-ui/src/components/AssistantDrawer.tsx
  apps/sqlrooms-cli-ui/src/components/AssistantPanel.tsx
  apps/sqlrooms-cli-ui/src/components/MainView.tsx
  apps/sqlrooms-cli-ui/src/components/SheetsPanel.tsx
  apps/sqlrooms-cli-ui/src/store.ts
  packages/canvas/src/CanvasAssistantDrawer.tsx
  python/sqlrooms-cli/knip.json
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

resultNameChanged rename
  packages/cells/src/cellsSlice.ts
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

remove ai from canvas
  apps/sqlrooms-cli-ui/src/store.ts
  packages/canvas/package.json
  packages/canvas/src/Canvas.tsx
  packages/canvas/src/CanvasAssistantDrawer.tsx
  packages/canvas/src/CanvasSlice.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

setAssistantOpen from strore
  apps/sqlrooms-cli-ui/src/components/AssistantDrawer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

conflict retries
  python/sqlrooms-server/sqlrooms/server/query.py
  python/sqlrooms-server/sqlrooms/server/tests/test_concurrency.py
Due: uv run --project python ruff check --fix

debounce viewport updates
  packages/canvas/src/Canvas.tsx
  packages/canvas/src/CanvasSlice.ts
  packages/canvas/src/nodes/CanvasNodeContainer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Debounced persistence
  apps/sqlrooms-cli-ui/src/serverApi.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Canvas internalViewport
  packages/canvas/src/Canvas.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  examples/canvas/src/example-canvas.json
  packages/canvas/src/CanvasSlice.ts
  packages/canvas/src/nodes/AddNodePopover.tsx
  packages/cells/src/cellsSlice.ts
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/execution.ts
  packages/cells/src/helpers.ts
  packages/cells/src/index.ts
  packages/cells/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

setTaskProgress finally
  packages/room-shell/src/RoomShellSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor comments
  packages/monaco-editor/src/components/JsonMonacoEditor.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Path conditions:
  eslint --config .eslintrc.js --max-warnings=50: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx}
  turbo lint --filter=@sqlrooms/* --: any of: **/*.{ts,tsx}
  uv run --project python ruff check --fix: any of: python/**/*.py
