Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

Refine block slash menu popover behavior
  packages/documents/src/BlockDocumentEditor/BlockDocumentBlockControls.tsx
  packages/utils/src/browser.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(documents): reset block type palette selection
  packages/documents/src/BlockDocumentEditor/BlockDocumentBlockControls.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: render rich Python cell outputs
  packages/python-cell/README.md
  packages/python-cell/src/PythonCellBlock.tsx
  packages/python-cell/src/PythonCellSlice.ts
  packages/python-cell/src/pyodideWorker.ts
  packages/python-cell/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: harden python cell runtime execution
  apps/sqlrooms-cli-ui/src/store.ts
  packages/python-cell/src/PyodidePythonRuntimeAdapter.ts
  packages/python-cell/src/PythonCellBlock.tsx
  packages/python-cell/src/PythonCellCommands.ts
  packages/python-cell/src/PythonCellSlice.ts
  packages/python-cell/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: stabilize block type palette dismissal
  packages/documents/src/BlockDocumentEditor/BlockDocumentBlockControls.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: avoid scaffold revision after rename
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): skip scaffold rename revisions
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: support Altair sample datasets in Python cells
  packages/python-cell/README.md
  packages/python-cell/src/PythonCellBlock.tsx
  packages/python-cell/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: return Python SQL query dataframes
  apps/sqlrooms-cli-ui/src/store.ts
  packages/python-cell/README.md
  packages/python-cell/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Add block type dropdown for focused empty paragraphs (#752)
  packages/documents/package.json
  packages/documents/src/BlockDocumentEditor/BlockDocumentBlockControls.tsx
  packages/documents/src/BlockDocumentEditor/BlockDocumentEditorRoot.tsx
  packages/documents/src/BlockDocumentEditor/node-views/BlockDocumentStatefulBlockNodeView.tsx
  packages/utils/src/browser.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: harden Python cell command execution
  apps/sqlrooms-cli-ui/src/store.ts
  packages/python-cell/src/PythonCellCommands.ts
  packages/python-cell/src/PythonCellSlice.ts
  packages/python-cell/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: stabilize python cell bridge execution
  packages/python-cell/src/PyodidePythonRuntimeAdapter.ts
  packages/python-cell/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: add HTML app revision history (#748)
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
  apps/sqlrooms-cli-ui/src/createHtmlAppRevisionCommands.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/app-runtime/README.md
  packages/app-runtime/__tests__/html-app.test.ts
  packages/app-runtime/src/html-app.tsx
  packages/app-runtime/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: preserve Python bridge input values
  apps/sqlrooms-cli-ui/src/store.ts
  packages/python-cell/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: reject pending Python runs on timeout
  packages/python-cell/src/PyodidePythonRuntimeAdapter.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: register HTML app revision commands separately
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: start Python timeouts on execution
  apps/sqlrooms-cli-ui/src/store.ts
  packages/python-cell/src/PyodidePythonRuntimeAdapter.ts
  packages/python-cell/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: bound Python bridge previews
  packages/python-cell/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: Add script to deploy cli to sprites.dev (#573)
  python/sqlrooms-cli/pyproject.toml
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_launcher.py
  python/uv.lock
  scripts/deploy-sqlrooms-cli-to-sprite.sh
Due: uv run --project python ruff check --fix

chore(cli): rename python package to sqlrooms
  apps/sqlrooms-cli-ui/README.md
  dev-docs/contributing/python.md
  dev-docs/roadmaps/sqlrooms-cli-first-launch.md
  docs/deployment-scenarios.md
  pnpm-lock.yaml
  python/README.md
  python/pyproject.toml
  python/sqlrooms/.gitignore
  python/sqlrooms/LICENSE
  python/sqlrooms/README.md
  python/sqlrooms/cli
  python/sqlrooms/knip.json
  python/sqlrooms/package.json
  python/sqlrooms/pyproject.toml
  python/sqlrooms/scripts/dev.mjs
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/__init__.py
  python/sqlrooms/sqlrooms/web/db_bridge/__init__.py
  python/sqlrooms/sqlrooms/web/db_bridge/connectors/__init__.py
  python/sqlrooms/sqlrooms/web/db_bridge/connectors/base.py
  python/sqlrooms/sqlrooms/web/db_bridge/connectors/postgres.py
  python/sqlrooms/sqlrooms/web/db_bridge/connectors/snowflake.py
  python/sqlrooms/sqlrooms/web/db_bridge/factory.py
  python/sqlrooms/sqlrooms/web/db_bridge/registry.py
  python/sqlrooms/sqlrooms/web/db_bridge/types.py
  python/sqlrooms/sqlrooms/web/db_bridge/utils.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/sqlrooms/web/ui.py
  python/sqlrooms/tests/__init__.py
  python/sqlrooms/tests/test_cli.py
  python/sqlrooms/tests/test_db_bridge.py
  python/sqlrooms/tests/test_launcher.py
  python/sqlrooms/tests/test_ui_provider.py
  python/uv.lock
  scripts/deploy-sqlrooms-cli-to-sprite.sh
  scripts/dev.mjs
Due: uv run --project python ruff check --fix

feat(cli): gate experimental surfaces
  apps/sqlrooms-cli-ui/src/artifactTypes.tsx
  apps/sqlrooms-cli-ui/src/createDashboardAgent.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  apps/sqlrooms-cli-ui/src/layout.tsx
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/statefulBlockArtifactConfigs.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/workspace/ArtifactsContainerPanel.tsx
  apps/sqlrooms-cli-ui/src/workspace/WorksheetArtifact.tsx
  packages/artifacts/README.md
  packages/artifacts/src/ArtifactTypes.ts
  packages/artifacts/src/artifactWorkspace.tsx
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_cli.py
  python/sqlrooms/tests/test_launcher.py
  scripts/deploy-sqlrooms-cli-to-sprite.sh
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

chore(cli): verify bundled python wheel
  .github/workflows/pr-checks-python.yml
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  python/sqlrooms/package.json
  python/sqlrooms/scripts/verify_wheel.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

refactor: rename Python package
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/statefulBlockArtifactConfigs.ts
  apps/sqlrooms-cli-ui/src/store-types.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/workspace/WorksheetArtifact.tsx
  packages/python-cell/src/PythonCellSlice.ts
  packages/python-cell/src/index.ts
  packages/python-cell/src/useStoreWithPythonCells.ts
  packages/python/README.md
  packages/python/eslint.config.js
  packages/python/package.json
  packages/python/src/PyodidePythonRuntimeAdapter.ts
  packages/python/src/PythonBlock.tsx
  packages/python/src/PythonBlockCommands.ts
  packages/python/src/PythonSlice.ts
  packages/python/src/block.ts
  packages/python/src/index.ts
  packages/python/src/pyodideWorker.ts
  packages/python/src/runtime.ts
  packages/python/src/types.ts
  packages/python/src/useStoreWithPython.ts
  packages/python/tsconfig.json
  packages/python/typedoc.js
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

test(cli): cover launch smoke fixture
  packages/utils/__tests__/filepaths.test.ts
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/fixtures/cars.csv
  python/sqlrooms/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

feat(cli): open imports in worksheets
  apps/sqlrooms-cli-ui/src/components/useLocalFileLoader.ts
  python/sqlrooms/README.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): clarify startup diagnostics
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(cli): require compatible server wheel
  python/sqlrooms-server/package.json
  python/sqlrooms/pyproject.toml
Due: none

fix: validate Python block runtime inputs
  packages/python/src/PyodidePythonRuntimeAdapter.ts
  packages/python/src/PythonBlock.tsx
  packages/python/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): address publishing pr feedback
  .github/workflows/pr-checks-python.yml
  apps/sqlrooms-cli-ui/src/createDashboardCommands.ts
  apps/sqlrooms-cli-ui/src/store.ts
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_cli.py
  python/sqlrooms/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix: avoid dirtying Python blocks on ensure
  packages/python/src/PythonSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): restore experimental agent routing
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): preserve disabled artifact lifecycle
  apps/sqlrooms-cli-ui/src/artifactTypes.tsx
  apps/sqlrooms-cli-ui/src/createDashboardCommands.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: bound Python persisted errors and outputs
  packages/python/src/PythonSlice.ts
  packages/python/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: bound python execution summaries
  packages/python/src/PythonSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: bound Python text outputs
  packages/python/src/PythonSlice.ts
  packages/python/src/pyodideWorker.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: center single artifact start option
  apps/sqlrooms-cli-ui/src/workspace/ArtifactsContainerPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Revert "fix: center single artifact start option"
  apps/sqlrooms-cli-ui/src/workspace/ArtifactsContainerPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

new artifact buttons layout
  apps/sqlrooms-cli-ui/src/workspace/ArtifactsContainerPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: harden Python SQL bridge
  apps/sqlrooms-cli-ui/src/store.ts
  packages/python/src/pyodideWorker.ts
  packages/python/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): gate worksheet html app tools
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  packages/mosaic/README.md
  packages/mosaic/__tests__/worksheet-ai.test.ts
  packages/mosaic/src/ai/worksheet/createListWorksheetBlocksTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAgentTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAiTools.ts
  packages/mosaic/src/ai/worksheet/worksheet-types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --
