Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

update custom map legend panel
  packages/kepler/src/components/CustomMapLegend.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

delete eye icon
  packages/kepler/src/components/CustomMapLegend.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: update custom map legend panel when exporting image (#372)
  packages/kepler/src/components/CustomMapLegend.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

supprt geojson XYZM
  packages/room-config/src/LoadOptions.ts
  packages/room-config/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

db slice contains duckDbSlice
  packages/cells/src/execution.ts
  packages/cells/src/types.ts
  packages/db/package.json
  packages/db/src/DbSlice.ts
  packages/db/src/types.ts
  packages/duckdb/src/DuckDbSlice.ts
  packages/duckdb/src/index.ts
  packages/room-shell/src/RoomShellSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

moved config to db.
  packages/cells/src/components/SqlCellContent.tsx
  packages/cells/src/execution.ts
  packages/db/src/DbSlice.ts
  packages/db/src/types.ts
  packages/kepler/src/KeplerSlice.ts
  packages/mosaic/src/MosaicSlice.ts
  packages/notebook/src/NotebookSlice.ts
  packages/room-shell/src/RoomShellSlice.ts
  packages/sql-editor/src/SqlEditorSlice.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

moved config to db.
  packages/db/package.json
  packages/db/src/index.ts
  packages/kepler/package.json
  packages/notebook/package.json
  packages/notebook/src/useStoreWithNotebook.ts
  packages/sql-editor/package.json
  packages/sql-editor/src/SqlEditorSlice.tsx
  packages/sql-editor/src/SqlMonacoEditor.tsx
  packages/sql-editor/src/components/CreateTableModal.tsx
  packages/sql-editor/src/components/SqlQueryPreview.tsx
  packages/sql-editor/src/constants/functionSuggestions.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

type fixes
  packages/mosaic/package.json
  packages/mosaic/src/MosaicSlice.ts
  packages/room-store/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

tailwind v4 classnames
  apps/sqlrooms-cli-ui/src/components/AssistantDrawer.tsx
  examples/query-motherduck/src/MainView.tsx
  package.json
  packages/ai/src/tools/query/QueryToolResult.tsx
  packages/cells/src/components/SheetsTabBar.tsx
  packages/notebook/src/cellOperations/AddNewCellDropdown.tsx
  packages/schema-tree/src/nodes/TreeNodeActionsMenu.tsx
  packages/ui/src/components/scrollable-row.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

knip
  package.json
Due: none

lockfile
  pnpm-lock.yaml
Due: none

feat: WebContainer package
  examples/app-builder/README.md
  examples/app-builder/package.json
  examples/app-builder/src/components/BrowserView.tsx
  examples/app-builder/src/components/CodeView.tsx
  examples/app-builder/src/components/TerminalView.tsx
  examples/app-builder/src/components/filetree/FileTreeView.tsx
  examples/app-builder/src/store/WebContainerSlice.ts
  examples/app-builder/src/store/store.ts
  examples/app-builder/src/tools/getFileContent/getFileContentTool.ts
  examples/app-builder/src/tools/listFiles/createListFilesTool.ts
  examples/app-builder/src/tools/updateFileContent/updateFileContentTool.ts
  packages/webcontainer/README.md
  packages/webcontainer/eslint.config.js
  packages/webcontainer/package.json
  packages/webcontainer/src/WebContainerSlice.ts
  packages/webcontainer/src/index.ts
  packages/webcontainer/src/setFileContentInTree.ts
  packages/webcontainer/src/webContainerCache.ts
  packages/webcontainer/tsconfig.json
  packages/webcontainer/typedoc.js
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: App builder in CLI
  .cursor/plans/sqlrooms_cli_app-builder_plan_(adjusted)_174b3a95.plan.md
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/components/AppBuilderSheet.tsx
  apps/sqlrooms-cli-ui/src/components/SheetsPanel.tsx
  apps/sqlrooms-cli-ui/src/projectApi.ts
  apps/sqlrooms-cli-ui/src/projectModel.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/vite.config.ts
  packages/cells/src/components/SheetsTabBar.tsx
  packages/cells/src/types.ts
  packages/webcontainer/src/WebContainerSlice.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  python/sqlrooms-cli/package.json
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-server/sqlrooms/server/db_async.py
  scripts/dev.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

save in app state
  .cursor/plans/sqlrooms_cli_app-builder_plan_(adjusted)_174b3a95.plan.md
  apps/sqlrooms-cli-ui/src/components/AppBuilderSheet.tsx
  apps/sqlrooms-cli-ui/src/projectApi.ts
  apps/sqlrooms-cli-ui/src/projectModel.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/room-shell/src/RoomShellSlice.ts
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-server/sqlrooms/server/db_async.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

docs: improve LLM-friendly guidance and refresh package READMEs
  docs/llms.md
  packages/ai-config/README.md
  packages/ai-settings/README.md
  packages/canvas/README.md
  packages/duckdb-config/README.md
  packages/kepler-config/README.md
  packages/kepler/README.md
  packages/layout-config/README.md
  packages/motherduck/README.md
  packages/recharts/README.md
  packages/room-config/README.md
  packages/schema-tree/README.md
  packages/sql-editor-config/README.md
Due: none

docs: refresh additional package READMEs with current APIs
  packages/ai-core/README.md
  packages/ai/README.md
  packages/cosmos/README.md
  packages/discuss/README.md
  packages/duckdb/README.md
  packages/layout/README.md
  packages/room-shell/README.md
  packages/room-store/README.md
  packages/sql-editor/README.md
  packages/utils/README.md
  packages/vega/README.md
Due: none

docs: remove duplicate package titles and emphasize compound AI examples
  packages/ai-config/README.md
  packages/ai-core/README.md
  packages/ai-settings/README.md
  packages/ai/README.md
  packages/canvas/README.md
  packages/cosmos/README.md
  packages/crdt/README.md
  packages/discuss/README.md
  packages/duckdb-config/README.md
  packages/kepler-config/README.md
  packages/kepler/README.md
  packages/layout-config/README.md
  packages/layout/README.md
  packages/motherduck/README.md
  packages/recharts/README.md
  packages/room-config/README.md
  packages/room-shell/README.md
  packages/room-store/README.md
  packages/schema-tree/README.md
  packages/sql-editor-config/README.md
  packages/sql-editor/README.md
  packages/utils/README.md
  packages/vega/README.md
Due: none

example
  packages/ai/README.md
Due: none

examples: update AI model defaults and Claude custom-model docs
  examples/ai-agent/src/agents/WeatherAgent.ts
  examples/ai-agent/src/config.ts
  examples/ai-core/src/config.ts
  examples/ai-nextjs/config.ts
  examples/ai-rag/src/config.ts
  examples/ai/src/config.ts
  examples/ai/src/example-sessions.json
  examples/app-builder/src/config.ts
  examples/canvas-sync/src/store.ts
  examples/canvas/src/store.ts
  packages/ai-core/src/chatTransport.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

improvements
  apps/sqlrooms-cli-ui/app-scaffolds/get-started/index.html
  apps/sqlrooms-cli-ui/app-scaffolds/get-started/package.json
  apps/sqlrooms-cli-ui/app-scaffolds/get-started/src/App.jsx
  apps/sqlrooms-cli-ui/app-scaffolds/get-started/src/main.jsx
  apps/sqlrooms-cli-ui/app-scaffolds/get-started/vite.config.js
  apps/sqlrooms-cli-ui/app-scaffolds/scaffolds.generated.json
  apps/sqlrooms-cli-ui/plugins/generateScaffolds.ts
  apps/sqlrooms-cli-ui/plugins/scaffolds.ts
  apps/sqlrooms-cli-ui/src/components/AppBuilderSheet.tsx
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/vite.config.ts
  examples/app-builder/src/components/CodeView.tsx
  examples/app-builder/src/components/Room.tsx
  examples/canvas/src/store.ts
  packages/canvas/src/CanvasSlice.ts
  packages/webcontainer/package.json
  packages/webcontainer/src/WebContainerSlice.ts
  packages/webcontainer/src/components/BrowserView.tsx
  packages/webcontainer/src/components/CodeView.tsx
  packages/webcontainer/src/components/TerminalView.tsx
  packages/webcontainer/src/components/WebContainer.tsx
  packages/webcontainer/src/components/WebContainerWorkbench.tsx
  packages/webcontainer/src/components/filetree/FileTreeView.tsx
  packages/webcontainer/src/components/filetree/fileSystemTreeToNodes.ts
  packages/webcontainer/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

knip
  apps/sqlrooms-cli-ui/package.json
  examples/app-builder/package.json
  knip.json
Due: none

fix test
  python/sqlrooms-cli/tests/test_cli.py
Due: uv run --project python ruff check --fix

gitignore
  python/.gitignore
Due: none

Fix cells circular import and canvas slice options
  examples/canvas/src/store.ts
  packages/cells/src/execution.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore fix docs:preview script
  package.json
Due: none

docs: ship curated llms.txt instead of link-only index
  docs/.vitepress/config.ts
  docs/public/llms.txt
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: use llms plugin template with intro section
  docs/.vitepress/config.ts
  docs/public/llms.txt
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: filter symbol-level API links from generated llms.txt
  docs/.vitepress/config.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

typo
  docs/custom-slice.md
Due: none

docs: exclude namespace and misc pages from generated llms.txt
  docs/.vitepress/config.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

scripts
  package.json
Due: none

removed custom slice
  docs/.vitepress/config.ts
  docs/custom-slice.md
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: verify and fix README findings
  package.json
  packages/ai-core/README.md
  packages/ai/README.md
  packages/canvas/README.md
  packages/cosmos/README.md
  packages/cosmos/package.json
  packages/cosmos/src/CosmosGraph.tsx
  packages/cosmos/src/CosmosSlice.ts
  packages/cosmos/src/CosmosSliceConfig.ts
  packages/cosmos/src/hooks/useHoverState.ts
  packages/discuss/README.md
  packages/duckdb/README.md
  packages/kepler-config/README.md
  packages/kepler/README.md
  packages/layout-config/README.md
  packages/recharts/README.md
  packages/utils/README.md
  packages/vega/README.md
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

center dialog
  packages/ui/src/components/dialog.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

center dialog (#378)
  packages/ui/src/components/dialog.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refresh pnpm lock
  pnpm-lock.yaml
Due: none

Update README with SQLRooms overview and setup
  README.md
Due: none
