Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

Update packages/ai-core/src/components/AnalysisResult.tsx
  packages/ai-core/src/components/AnalysisResult.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: What's new in 0.28.0
  docs/media/whats-new/commands.mp4
  docs/upgrade-guide.md
  docs/whats-new.md
  examples/multi-room/README.md
Due: none

fixes
  docs/upgrade-guide.md
  docs/whats-new.md
Due: none

GitHub casing
  docs/examples.md
  examples/ai-rag/README.md
  examples/ai/README.md
  examples/app-builder/README.md
  examples/cosmos-embedding/README.md
  examples/cosmos/README.md
  examples/deckgl-discuss/README.md
  examples/deckgl-mosaic/README.md
  examples/deckgl/README.md
  examples/kepler/README.md
  examples/mosaic/README.md
  examples/multi-room/README.md
  examples/nextjs/README.md
  examples/query-motherduck/README.md
  examples/query/README.md
Due: none

docs: What's new in 0.28.0 (#394)
  docs/examples.md
  docs/media/whats-new/commands.mp4
  docs/upgrade-guide.md
  docs/whats-new.md
  examples/ai-rag/README.md
  examples/ai/README.md
  examples/app-builder/README.md
  examples/cosmos-embedding/README.md
  examples/cosmos/README.md
  examples/deckgl-discuss/README.md
  examples/deckgl-mosaic/README.md
  examples/deckgl/README.md
  examples/kepler/README.md
  examples/mosaic/README.md
  examples/multi-room/README.md
  examples/nextjs/README.md
  examples/query-motherduck/README.md
  examples/query/README.md
Due: none

lockfile
  pnpm-lock.yaml
Due: none

fixes
  packages/canvas/src/CanvasSlice.ts
  packages/sql-editor/src/SqlEditorSlice.tsx
  pnpm-workspace.yaml
  python/sqlrooms-cli/package.json
  scripts/dev.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

tests
  packages/cells/__tests__/mocks/rdndmb-html5-to-touch.js
  packages/cells/__tests__/mocks/react-mosaic-component.js
  packages/cells/__tests__/mocks/style.js
  packages/cells/jest.config.js
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

fix circular dep
  packages/cells/src/execution.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix canvas example build
  examples/canvas/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  apps/sqlrooms-cli-ui/src/store.ts
  packages/db/src/DbSlice.ts
  packages/db/src/helpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

removed input bar
  packages/notebook/src/Notebook.tsx
  packages/notebook/src/NotebookSlice.ts
  packages/notebook/src/NotebookStateTypes.ts
  packages/notebook/src/cellSchemas.ts
  packages/notebook/src/cells/InputBar.tsx
  packages/notebook/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add command keystrokes, middleware pipeline, tests, and docs
  docs/.vitepress/config.ts
  docs/commands.md
  packages/room-shell/src/RoomShellCommandPalette.tsx
  packages/room-shell/src/RoomShellSlice.ts
  packages/room-shell/src/index.ts
  packages/room-store/__tests__/CommandSlice.test.ts
  packages/room-store/src/CommandSlice.ts
  packages/room-store/src/index.ts
  packages/sql-editor/src/SqlEditorSlice.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix tests
  .github/workflows/pr-checks.yml
  python/sqlrooms-cli/package.json
Due: none

Relax room shell createCommandProps typing
  packages/room-shell/src/RoomShellSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add default keystroke for room title command
  packages/room-shell/src/RoomShellSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

revert unnecessary changes
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/scrollable-row.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(ui): add sonner toaster and migrate example toasts
  examples/ai-rag/src/components/DataSourcesPanel.tsx
  examples/ai/src/components/DataSourcesPanel.tsx
  examples/canvas-sync/src/DataSourcesPanel.tsx
  examples/canvas/src/DataSourcesPanel.tsx
  examples/deckgl/src/components/DataPanel.tsx
  examples/kepler/src/components/DataPanel.tsx
  examples/query-pwa/src/DataPanel.tsx
  examples/query/src/DataPanel.tsx
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/components/toaster.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  packages/cells/src/components/SqlCellContent.tsx
  packages/cells/src/execution.ts
  packages/db/src/helpers.ts
  packages/db/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

type fixes
  packages/cells/src/components/SqlCellContent.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  packages/db/src/bridge.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Fix command callback dispatch and middleware next guard
  docs/commands.md
  packages/room-shell/src/index.ts
  packages/room-store/__tests__/CommandSlice.test.ts
  packages/room-store/src/CommandSlice.ts
  packages/room-store/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: add Sonner toast notes for upcoming minor
  docs/upgrade-guide.md
  docs/whats-new.md
Due: none

Document upcoming command enhancements in whats-new
  docs/whats-new.md
Due: none

Harden command keystroke normalization against malformed values
  packages/room-store/__tests__/CommandSlice.test.ts
  packages/room-store/src/CommandSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  packages/cells/__tests__/cellsSlice.localDeps.test.ts
  packages/cells/__tests__/cellsSlice.sheetOwnership.test.ts
  packages/cells/__tests__/defaultCellRegistry.integration.test.tsx
  packages/cells/src/cellsSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

test typing fix
  packages/cells/__tests__/cellsSlice.localDeps.test.ts
  packages/cells/__tests__/cellsSlice.sheetOwnership.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback
  examples/query/package.json
  packages/cells/__tests__/cellsSlice.localDeps.test.ts
  packages/cells/__tests__/helpers.unqualifiedIdentifier.test.ts
  packages/cells/package.json
  packages/cells/src/cellsSlice.ts
  packages/cells/src/components/SqlCellContent.tsx
  packages/cells/src/dagUtils.ts
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/execution.ts
  packages/cells/src/helpers.ts
  packages/cells/src/index.ts
  packages/cells/src/utils.ts
  packages/notebook/src/NotebookStateTypes.ts
  scripts/dev.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

replace view
  packages/cells/src/execution.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

adaptive query result policy
  packages/cells/src/cellsSlice.ts
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/execution.ts
  packages/cells/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

resultRelationPolicy
  packages/cells/src/cellsSlice.ts
  packages/cells/src/defaultCellRegistry.tsx
  packages/cells/src/execution.ts
  packages/cells/src/resultRelationPolicy.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

ResultRelationName
  packages/cells/src/resultRelationPolicy.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Commands system enhancements (#396)
  docs/.vitepress/config.ts
  docs/commands.md
  docs/whats-new.md
  packages/room-shell/src/RoomShellCommandPalette.tsx
  packages/room-shell/src/RoomShellSlice.ts
  packages/room-shell/src/index.ts
  packages/room-store/__tests__/CommandSlice.test.ts
  packages/room-store/src/CommandSlice.ts
  packages/room-store/src/index.ts
  packages/sql-editor/src/SqlEditorSlice.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Sonner toast integration (#397)
  docs/upgrade-guide.md
  docs/whats-new.md
  examples/ai-rag/src/components/DataSourcesPanel.tsx
  examples/ai/src/components/DataSourcesPanel.tsx
  examples/canvas-sync/src/DataSourcesPanel.tsx
  examples/canvas/src/DataSourcesPanel.tsx
  examples/deckgl/src/components/DataPanel.tsx
  examples/kepler/src/components/DataPanel.tsx
  examples/query-pwa/src/DataPanel.tsx
  examples/query/src/DataPanel.tsx
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/components/toaster.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: WebContainer package
  examples/app-builder/README.md
  examples/app-builder/package.json
  examples/app-builder/src/components/BrowserView.tsx
  examples/app-builder/src/components/CodeView.tsx
  examples/app-builder/src/components/TerminalView.tsx
  examples/app-builder/src/components/filetree/FileTreeView.tsx
  examples/app-builder/src/store/WebContainerSlice.ts
  examples/app-builder/src/store/store.ts
  examples/app-builder/src/tools/getFileContent/getFileContentTool.ts
  examples/app-builder/src/tools/listFiles/createListFilesTool.ts
  examples/app-builder/src/tools/updateFileContent/updateFileContentTool.ts
  packages/webcontainer/README.md
  packages/webcontainer/eslint.config.js
  packages/webcontainer/package.json
  packages/webcontainer/src/WebContainerSlice.ts
  packages/webcontainer/src/index.ts
  packages/webcontainer/src/setFileContentInTree.ts
  packages/webcontainer/src/webContainerCache.ts
  packages/webcontainer/tsconfig.json
  packages/webcontainer/typedoc.js
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Path conditions:
  eslint --config .eslintrc.js --max-warnings=50: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{ts,tsx,js})
  turbo lint --filter=@sqlrooms/* --: any of: **/*.{ts,tsx,js}
  uv run --project python ruff check --fix: any of: python/**/*.py
