Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

knip
  packages/crdt/package.json
  packages/db/package.json
  packages/deck/package.json
  packages/mosaic/package.json
  pnpm-lock.yaml
Due: none

tests
  packages/color-scales/jest.config.js
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

test
  packages/color-scales/jest.config.js
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

knip
  packages/color-scales/package.json
  pnpm-lock.yaml
Due: none

tests
  packages/deck/__tests__/compileColorScale.test.ts
  packages/deck/__tests__/prepareDeckDataset.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs
  packages/deck/src/datasets/preparedDatasetStore.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

file reorg
  packages/deck/__tests__/preparedDatasetStore.test.ts
  packages/deck/src/datasets/helpers.ts
  packages/deck/src/datasets/preparedDatasetStore.ts
  packages/deck/src/datasets/types.ts
  packages/deck/src/datasets/usePreparedDeckDatasets.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

renames
  packages/deck/src/DeckJsonMap.tsx
  packages/deck/src/datasets/preparedDatasetStore.ts
  packages/deck/src/datasets/usePreparedDatasetStates.ts
  packages/deck/src/datasets/usePreparedDeckDatasets.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs
  packages/color-scales/README.md
  packages/deck/README.md
Due: none

feat: remove test
  packages/layout/src/__tests__/useGetPanel.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: remove unused deps
  packages/layout/package.json
  packages/preset-jest/package.json
  pnpm-lock.yaml
Due: none

more geoarrow layers
  AGENTS.md
  packages/deck/README.md
  packages/deck/__tests__/DeckSpec.test.ts
  packages/deck/__tests__/createDeckJsonConfiguration.test.ts
  packages/deck/__tests__/createDeckJsonSpecFromDatasets.test.ts
  packages/deck/src/DeckJsonMapSpec.ts
  packages/deck/src/createDeckJsonSpecFromDatasets.ts
  packages/deck/src/index.ts
  packages/deck/src/json/compileGeoArrowAccessor.ts
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/json/defaultClasses.ts
  packages/deck/src/json/layerCompatibility.ts
  packages/deck/src/json/layerConfig.ts
  packages/deck/src/prepare/geometryDecoder.ts
  packages/deck/src/prepare/wkbDecoder.ts
  packages/deck/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: remove unused testing-library dependencies from pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: add chart button
  examples/layout/src/store.tsx
  packages/layout/src/docking/dock-layout.ts
  packages/layout/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: refactor DockPreviewOverlay and DockingProvider components for improved type safety
  packages/layout/src/docking/DockingContext.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

sqlroomsColorScale function and _sqlroomsBinding
  examples/deckgl-mosaic/src/components/map/MapView.tsx
  examples/deckgl/src/components/MapView.tsx
  packages/color-scales/README.md
  packages/deck/README.md
  packages/deck/__tests__/DeckSpec.test.ts
  packages/deck/__tests__/createDeckJsonConfiguration.test.ts
  packages/deck/__tests__/createDeckJsonSpecFromDatasets.test.ts
  packages/deck/src/DeckJsonMapSpec.ts
  packages/deck/src/createDeckJsonSpecFromDatasets.ts
  packages/deck/src/index.ts
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/json/extractColorScaleLegends.ts
  packages/deck/src/json/layerConfig.ts
  packages/deck/src/json/sqlroomsColorScaleFunction.ts
  packages/deck/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

renamed sqlroomsColorScale -> colorScale
  examples/deckgl-mosaic/src/components/map/MapView.tsx
  packages/deck/__tests__/DeckSpec.test.ts
  packages/deck/__tests__/createDeckJsonConfiguration.test.ts
  packages/deck/src/DeckJsonMapSpec.ts
  packages/deck/src/index.ts
  packages/deck/src/json/colorScaleFunction.ts
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/json/extractColorScaleLegends.ts
  packages/deck/src/json/layerConfig.ts
  packages/deck/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: overlays
  packages/layout/src/LayoutRenderer.tsx
  packages/layout/src/docking/DockDragOverlay.tsx
  packages/layout/src/docking/DockPreviewOverlay.tsx
  packages/layout/src/docking/DockingContext.tsx
  packages/layout/src/docking/DockingProvider.tsx
  packages/layout/src/docking/docking-helpers.ts
  packages/layout/src/docking/docking-types.ts
  packages/layout/src/layout-tree.ts
  packages/layout/src/node-renderers/leaf-node-renderer/LeafLayout.tsx
  packages/layout/src/node-renderers/leaf-node-renderer/LeafLayoutContent.tsx
  packages/layout/src/node-renderers/leaf-node-renderer/LeafLayoutDragHandle.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: remove unused deps
  packages/layout/package.json
  pnpm-lock.yaml
Due: none

feat: enhance DynamicChartPanel color options and set minimum sizes for panels in store
  examples/layout/src/panels/DynamicChartPanel.tsx
  examples/layout/src/store.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: code review comment
  packages/ui/src/components/tab-strip.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: min size calculations
  examples/layout/src/store.tsx
  packages/layout/src/node-renderers/utils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

knip
  apps/sqlrooms-cli-ui/src/workspace/ArtifactsContainerPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

add filter related kepler actions
  packages/kepler/src/KeplerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

control ToolCallDetailHover visibility; show ToolCallDetailHover in Orchestrator (not only activity box)
  packages/ai-core/src/components/FlatAgentRenderer.tsx
  packages/ai-core/src/index.ts
  packages/ai/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

ai connect
  apps/sqlrooms-cli-ui/src/components/AssistantDrawer.tsx
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  examples/ai-agent/src/config.ts
  examples/ai-core/src/config.ts
  examples/ai-rag/src/config.ts
  examples/ai/package.json
  examples/ai/src/auth.ts
  examples/ai/src/components/MainView.tsx
  examples/ai/src/config.ts
  examples/ai/src/store.ts
  examples/app-builder/src/config.ts
  packages/ai-config/src/AiSettingsSliceConfig.ts
  packages/ai-connect/README.md
  packages/ai-connect/package.json
  packages/ai-connect/src/AiConnectSlice.ts
  packages/ai-connect/src/clients.ts
  packages/ai-connect/src/connect.tsx
  packages/ai-connect/src/index.ts
  packages/ai-connect/src/types.ts
  packages/ai-connect/tsconfig.json
  packages/ai-connect/typedoc.js
  packages/ai-core/__tests__/AiSlice.modelSelection.test.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/chatTransport.ts
  packages/ai-core/src/index.ts
  packages/ai-core/src/types.ts
  packages/ai-settings/README.md
  packages/ai-settings/src/AiSettingsSlice.ts
  packages/ai-settings/src/components/AiModelsSettings.tsx
  packages/ai-settings/src/components/AiProvidersSettings.tsx
  packages/ai-settings/src/components/AiSettingsPanel.tsx
  packages/ai-settings/src/defaultSettings.ts
  packages/ai-settings/src/index.ts
  packages/ai/package.json
  packages/ai/src/index.ts
  pnpm-lock.yaml
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/web/ai_settings.py
  python/sqlrooms-cli/tests/test_cli.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

harden python server surfaces against injection and remote abuse
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_launcher.py
  python/sqlrooms-server/sqlrooms/server/server.py
  python/sqlrooms-server/sqlrooms/server/tests/test_server_security.py
Due: uv run --project python ruff check --fix

fix: pr comments
  apps/sqlrooms-cli-ui/src/layout.tsx
  apps/sqlrooms-cli-ui/src/workspace/ArtifactsContainerPanel.tsx
  docs/upgrade-guide.md
  examples/ai/src/components/DataSourcesPanel.tsx
  examples/ai/src/store.ts
  examples/canvas-sync/src/store.ts
  examples/canvas/src/store.ts
  examples/cosmos/src/store.ts
  examples/layout/src/panels/panel-types.ts
  examples/layout/src/store.tsx
  packages/layout-config/README.md
  packages/layout/README.md
  packages/layout/src/LayoutRenderer.tsx
  packages/layout/src/LayoutSlice.ts
  packages/layout/src/node-renderers/RenderNodeContext.tsx
  packages/layout/src/node-renderers/dock-node-renderer/DockLayout.tsx
  packages/layout/src/node-renderers/renderLayoutNode.tsx
  packages/layout/src/node-renderers/split-node-renderer/SplitLayoutPanelContent.tsx
  packages/layout/src/node-renderers/tabs-node-renderer/TabsLayoutTabContent.tsx
  packages/layout/src/types.ts
  packages/ui/src/components/tab-strip.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: upgrade ai example
  examples/ai/src/components/DataSourcesPanel.tsx
  examples/ai/src/room.tsx
  examples/ai/src/store.ts
  examples/layout/package.json
  examples/layout/src/panels/panel-types.ts
  examples/layout/src/store.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: typecheck
  apps/sqlrooms-cli-ui/src/workspace/ArtifactsContainerPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: compilation error
  apps/sqlrooms-cli-ui/src/workspace/ArtifactsContainerPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: add filter related kepler.gl actions in KeplerSlice (#555)
  packages/kepler/src/KeplerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: control ToolCallDetailHover visibility in ai-core (#556)
  packages/ai-core/src/components/FlatAgentRenderer.tsx
  packages/ai-core/src/index.ts
  packages/ai/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: knip fixes, TS & test fixes
  packages/color-scales/package.json
  packages/deck/__tests__/preparedDatasetStore.test.ts
  packages/deck/package.json
  packages/deck/src/datasets/usePreparedDatasetStates.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: knip fixes, TS & test fixes (#558)
  packages/color-scales/package.json
  packages/deck/__tests__/preparedDatasetStore.test.ts
  packages/deck/package.json
  packages/deck/src/datasets/usePreparedDatasetStates.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: refactor leaf layout
  packages/layout/src/index.ts
  packages/layout/src/node-renderers/leaf-node-renderer/LeafLayout.tsx
  packages/layout/src/node-renderers/leaf-node-renderer/LeafLayoutDragHandle.tsx
  packages/layout/src/node-renderers/leaf-node-renderer/LeafLayoutHeader.tsx
  packages/layout/src/node-renderers/leaf-node-renderer/LeafLayoutPanel.tsx
  packages/layout/src/node-renderers/leaf-node-renderer/LeafLayoutPanelDraggableContext.tsx
  packages/layout/src/node-renderers/leaf-node-renderer/useIsDockable.ts
  packages/layout/src/node-renderers/leaf-node-renderer/useRemovePanel.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --
