Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

Improve package API documentation navigation
  docs/.vitepress/api-packages.json
  docs/.vitepress/config.ts
  docs/.vitepress/gen-api-sidebar.ts
  docs/.vitepress/theme/ApiPackages.vue
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/index.ts
  docs/packages.md
  scripts/verify-docs-release.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Filter versioned API catalog to public packages
  scripts/assemble-versioned-docs.mjs
  scripts/verify-docs-release.mjs
Due: none

docs: Improve VitePress package documentation navigation (#852)
  docs/.vitepress/api-packages.json
  docs/.vitepress/config.ts
  docs/.vitepress/gen-api-sidebar.ts
  docs/.vitepress/theme/ApiPackages.vue
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/index.ts
  docs/packages.md
  scripts/assemble-versioned-docs.mjs
  scripts/verify-docs-release.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

ci: validate documentation builds
  .github/workflows/docs-checks.yml
  package.json
  scripts/verify-docs-release.mjs
Due: none

feat(ai-core): expose active status rendering
  packages/ai-core/README.md
  packages/ai-core/__tests__/ChatRenderingContext.test.tsx
  packages/ai-core/src/components/ChatActiveStatus.tsx
  packages/ai-core/src/components/ChatMessagesContainer.tsx
  packages/ai-core/src/components/ChatRenderingContext.tsx
  packages/ai-core/src/components/ChatRenderingTypes.ts
  packages/ai-core/src/components/LocalAgentChatMessages.tsx
  packages/ai-core/src/components/defaultChatRendering.tsx
  packages/ai-core/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

packages lits
  .github/workflows/docs-checks.yml
  docs/.vitepress/api-packages.json
  package.json
  scripts/verify-docs-release.mjs
Due: none

packages list
  docs/.vitepress/api-packages.json
Due: none

fix(ci): enforce docs package catalog coverage
  docs/.vitepress/api-package-exclusions.json
  packages/mcp/typedoc.js
  scripts/assemble-versioned-docs.mjs
  scripts/verify-docs-release.mjs
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

ci: validate documentation builds (#853)
  .github/workflows/docs-checks.yml
  docs/.vitepress/api-package-exclusions.json
  docs/.vitepress/api-packages.json
  package.json
  packages/mcp/typedoc.js
  scripts/assemble-versioned-docs.mjs
  scripts/verify-docs-release.mjs
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

chore(cosmos): upgrade Cosmos graph to 3.4.1
  examples/cosmos-embedding/src/components/publications-map/PublicationsMap.tsx
  examples/cosmos-embedding/vite.config.ts
  examples/cosmos/src/components/mammals-graph/MammalsGraph.tsx
  examples/cosmos/vite.config.ts
  packages/cosmos/README.md
  packages/cosmos/package.json
  packages/cosmos/src/CosmosGraph.tsx
  packages/cosmos/src/CosmosSlice.ts
  packages/cosmos/src/CosmosSliceConfig.ts
  packages/cosmos/src/hooks/useHoverState.ts
  packages/cosmos/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cosmos): address v3 integration regressions
  packages/cosmos/README.md
  packages/cosmos/__tests__/CosmosSlice.test.ts
  packages/cosmos/jest.config.js
  packages/cosmos/package.json
  packages/cosmos/src/CosmosGraph.tsx
  packages/cosmos/src/CosmosSlice.ts
  packages/cosmos/src/CosmosSliceConfig.ts
  packages/cosmos/src/hooks/useHoverState.ts
  packages/cosmos/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

test(cosmos): cover hover interactions
  packages/cosmos/__tests__/CosmosSlice.test.ts
  packages/cosmos/__tests__/HoverInteractions.test.tsx
  packages/cosmos/jest.config.js
  packages/cosmos/package.json
  packages/cosmos/src/CosmosGraph.tsx
  packages/cosmos/src/utils/composeEventHandlers.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cosmos): declare jsdom test environment
  packages/cosmos/jest.config.js
  packages/cosmos/package.json
  pnpm-lock.yaml
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

feat(ai-core): expose active status rendering (#856)
  packages/ai-core/README.md
  packages/ai-core/__tests__/ChatRenderingContext.test.tsx
  packages/ai-core/src/components/ChatActiveStatus.tsx
  packages/ai-core/src/components/ChatMessagesContainer.tsx
  packages/ai-core/src/components/ChatRenderingContext.tsx
  packages/ai-core/src/components/ChatRenderingTypes.ts
  packages/ai-core/src/components/LocalAgentChatMessages.tsx
  packages/ai-core/src/components/defaultChatRendering.tsx
  packages/ai-core/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore(kepler): upgrade to 3.3.0-alpha.7
  packages/kepler/__tests__/mocks/globalWindow.js
  packages/kepler/__tests__/mocks/styledComponents.js
  packages/kepler/jest.config.js
  packages/kepler/package.json
  packages/kepler/src/components/CustomMapLegend.tsx
  packages/kepler/src/hooks/useDndLayers.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore(deps): pin luma.gl packages to 9.3.3
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: fix laggy deck maps interactions with ui
  packages/deck/README.md
  packages/deck/__tests__/DeckHeatmapLayer.test.ts
  packages/deck/__tests__/DeckMapsSlice.test.ts
  packages/deck/__tests__/createDeckJsonConfiguration.test.ts
  packages/deck/__tests__/preparedDatasetStore.test.ts
  packages/deck/src/DeckJsonMap.tsx
  packages/deck/src/datasets/PreparedDatasetStore.ts
  packages/deck/src/datasets/helpers.ts
  packages/deck/src/datasets/usePreparedDatasetStates.ts
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/json/defaultClasses.ts
  packages/deck/src/json/heatmapDefaults.ts
  packages/deck/src/json/layers/DeckHeatmapLayer.ts
  packages/deck/src/json/layers/index.ts
  packages/deck/src/json/rewriteGeoArrowAccessors.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cosmos): address v3 lifecycle feedback
  packages/cosmos/README.md
  packages/cosmos/__tests__/CosmosSlice.test.ts
  packages/cosmos/__tests__/CosmosSliceConfig.test.ts
  packages/cosmos/src/CosmosGraph.tsx
  packages/cosmos/src/CosmosSlice.ts
  packages/cosmos/src/CosmosSliceConfig.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cosmos): preserve config schema API
  packages/cosmos/__tests__/CosmosSliceConfig.test.ts
  packages/cosmos/src/CosmosSliceConfig.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add named CLI capability profiles
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/docs/capability-profiles.md
  apps/sqlrooms-cli-ui/src/__tests__/__snapshots__/cliCapabilityProfiles.test.ts.snap
  apps/sqlrooms-cli-ui/src/__tests__/cliCapabilityProfiles.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/getRunContext.test.ts
  apps/sqlrooms-cli-ui/src/artifactTypeIds.ts
  apps/sqlrooms-cli-ui/src/artifactTypes.tsx
  apps/sqlrooms-cli-ui/src/components/assistantUtils.ts
  apps/sqlrooms-cli-ui/src/components/useAssistantContextItems.ts
  apps/sqlrooms-cli-ui/src/context/getRunContext.ts
  apps/sqlrooms-cli-ui/src/createBlockDocumentAgent.ts
  apps/sqlrooms-cli-ui/src/profiles/defaultProfile.ts
  apps/sqlrooms-cli-ui/src/profiles/experimentalProfile.ts
  apps/sqlrooms-cli-ui/src/profiles/index.ts
  apps/sqlrooms-cli-ui/src/profiles/resolveCliCapabilityProfile.ts
  apps/sqlrooms-cli-ui/src/profiles/types.ts
  apps/sqlrooms-cli-ui/src/profiles/validateCliCapabilityProfile.ts
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/runtimeEnvironment.ts
  apps/sqlrooms-cli-ui/src/statefulBlockArtifactConfigs.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/workspace/WorksheetArtifact.tsx
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_cli.py
  python/sqlrooms/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(kepler): address 3.3 upgrade feedback
  knip.json
  packages/kepler/__tests__/layerOrderAdapters.test.ts
  packages/kepler/__tests__/mocks/globalWindow.cjs
  packages/kepler/__tests__/mocks/globalWindow.js
  packages/kepler/__tests__/mocks/styledComponents.cjs
  packages/kepler/__tests__/mocks/styledComponents.js
  packages/kepler/jest.config.js
  packages/kepler/package.json
  packages/kepler/src/components/CustomMapLegend.tsx
  packages/kepler/src/hooks/useDndLayers.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(cli): add worksheet charts maps profile
  apps/sqlrooms-cli-ui/docs/capability-profiles.md
  apps/sqlrooms-cli-ui/src/__tests__/__snapshots__/cliCapabilityProfiles.test.ts.snap
  apps/sqlrooms-cli-ui/src/__tests__/cliCapabilityProfiles.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/createCliBlockDocumentCommands.test.ts
  apps/sqlrooms-cli-ui/src/ai/__tests__/createCliBlockDocumentAgentTool.test.ts
  apps/sqlrooms-cli-ui/src/ai/__tests__/createCliBlockDocumentAiTools.test.ts
  apps/sqlrooms-cli-ui/src/ai/createCliBlockDocumentAgentTool.ts
  apps/sqlrooms-cli-ui/src/ai/createCliBlockDocumentAiTools.ts
  apps/sqlrooms-cli-ui/src/createBlockDocumentAgent.ts
  apps/sqlrooms-cli-ui/src/createCliBlockDocumentCommands.ts
  apps/sqlrooms-cli-ui/src/profiles/index.ts
  apps/sqlrooms-cli-ui/src/profiles/resolveCliCapabilityProfile.ts
  apps/sqlrooms-cli-ui/src/profiles/types.ts
  apps/sqlrooms-cli-ui/src/profiles/validateCliCapabilityProfile.ts
  apps/sqlrooms-cli-ui/src/profiles/worksheetChartsMapsProfile.ts
  apps/sqlrooms-cli-ui/src/statefulBlockArtifactConfigs.ts
  apps/sqlrooms-cli-ui/src/store.ts
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_cli.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(ui): prevent "Maximum update depth exceeded" in ScrollableRow
  packages/ui/src/components/scrollable-row.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(evals): add behavioral evaluation core
  packages/evals/README.md
  packages/evals/jest.config.js
  packages/evals/package.json
  packages/evals/src/__tests__/evidence.test.ts
  packages/evals/src/__tests__/oracle.test.ts
  packages/evals/src/__tests__/promptfoo.test.ts
  packages/evals/src/__tests__/scenario.test.ts
  packages/evals/src/__tests__/scriptedModel.test.ts
  packages/evals/src/evidence.ts
  packages/evals/src/index.ts
  packages/evals/src/json.ts
  packages/evals/src/oracle.ts
  packages/evals/src/promptfoo/index.ts
  packages/evals/src/scenario.ts
  packages/evals/src/scriptedModel.ts
  packages/evals/tsconfig.json
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ui): keep ScrollableRow arrows current when content changes size
  packages/ui/src/components/scrollable-row.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore(cosmos): upgrade Cosmos graph to 3.4.1 (#857)
  examples/cosmos-embedding/src/components/publications-map/PublicationsMap.tsx
  examples/cosmos-embedding/vite.config.ts
  examples/cosmos/src/components/mammals-graph/MammalsGraph.tsx
  examples/cosmos/vite.config.ts
  packages/cosmos/README.md
  packages/cosmos/__tests__/CosmosSlice.test.ts
  packages/cosmos/__tests__/CosmosSliceConfig.test.ts
  packages/cosmos/__tests__/HoverInteractions.test.tsx
  packages/cosmos/jest.config.js
  packages/cosmos/package.json
  packages/cosmos/src/CosmosGraph.tsx
  packages/cosmos/src/CosmosSlice.ts
  packages/cosmos/src/CosmosSliceConfig.ts
  packages/cosmos/src/hooks/useHoverState.ts
  packages/cosmos/src/index.ts
  packages/cosmos/src/utils/composeEventHandlers.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(kepler): address follow-up review feedback
  packages/kepler/__tests__/layerOrderAdapters.test.ts
  packages/kepler/package.json
  packages/kepler/src/components/CustomDndContext.tsx
  packages/kepler/src/components/CustomMapLegend.tsx
  packages/kepler/src/hooks/useDndLayers.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(kepler): preserve legend visibility policy
  packages/kepler/__tests__/layerOrderAdapters.test.ts
  packages/kepler/__tests__/legendLayerOrder.test.ts
  packages/kepler/package.json
  packages/kepler/src/components/CustomMapLegend.tsx
  packages/kepler/src/components/legendLayerOrder.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(cli): add in-process eval target
  apps/sqlrooms-cli-ui/jest.config.js
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/artifactTypes.tsx
  apps/sqlrooms-cli-ui/src/createBlockDocumentAgent.ts
  apps/sqlrooms-cli-ui/src/createCliAiInstructions.ts
  apps/sqlrooms-cli-ui/src/createCliAiTools.ts
  apps/sqlrooms-cli-ui/src/createCliWorksheetArtifactDefinition.ts
  apps/sqlrooms-cli-ui/src/evals/README.md
  apps/sqlrooms-cli-ui/src/evals/__tests__/createCliEvalTarget.test.ts
  apps/sqlrooms-cli-ui/src/evals/createCliEvalTarget.ts
  apps/sqlrooms-cli-ui/src/evals/fixture.ts
  apps/sqlrooms-cli-ui/src/evals/snapshot.ts
  apps/sqlrooms-cli-ui/src/registerCliCapabilityProfileCommands.ts
  apps/sqlrooms-cli-ui/src/store.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(deck): improve map settings appearance controls (#841)
  packages/deck/README.md
  packages/deck/__tests__/MapSettingsControls.test.ts
  packages/deck/__tests__/compileColorScale.test.ts
  packages/deck/__tests__/createDeckJsonConfiguration.test.ts
  packages/deck/__tests__/dashboard-ai-map.test.ts
  packages/deck/__tests__/mapColorScaleField.test.ts
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/__tests__/mapResourceAuthoring.test.ts
  packages/deck/__tests__/scaleFunction.test.ts
  packages/deck/src/BlockMapSettings.tsx
  packages/deck/src/DashboardMapSettings.tsx
  packages/deck/src/DeckJsonMap.tsx
  packages/deck/src/DeckJsonMapSpec.ts
  packages/deck/src/DeckMapSurface.tsx
  packages/deck/src/MapSettings.tsx
  packages/deck/src/MapSettingsControls.tsx
  packages/deck/src/ai.ts
  packages/deck/src/aiNormalize.ts
  packages/deck/src/json/colorScaleFunction.ts
  packages/deck/src/json/compileColorScale.ts
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/json/extractColorScaleLegends.ts
  packages/deck/src/json/scaleFunction.ts
  packages/deck/src/mapAiSharedInstructions.ts
  packages/deck/src/mapConfigUtils.ts
  packages/deck/src/mapLayerConfigUtils.ts
  packages/deck/src/mapResourceAuthoring.ts
  packages/deck/src/prepare/wkbDecoder.ts
  packages/deck/src/prepare/wkbParser.ts
  packages/ui/tailwind-preset.css
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(evals): add nightly suite and run observatory
  .github/workflows/evals-nightly.yml
  .github/workflows/pr-checks.yml
  apps/sqlrooms-cli-ui/evals/CALIBRATION.md
  apps/sqlrooms-cli-ui/evals/README.md
  apps/sqlrooms-cli-ui/evals/promptfooconfig.yaml
  apps/sqlrooms-cli-ui/evals/vite.config.ts
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/evals/createCliEvalTarget.ts
  apps/sqlrooms-cli-ui/src/evals/promptfooProvider.ts
  apps/sqlrooms-cli-ui/src/evals/scenarios.ts
  apps/sqlrooms-eval-observatory/README.md
  apps/sqlrooms-eval-observatory/index.html
  apps/sqlrooms-eval-observatory/package.json
  apps/sqlrooms-eval-observatory/src/EvalObservatory.tsx
  apps/sqlrooms-eval-observatory/src/main.tsx
  apps/sqlrooms-eval-observatory/src/styles.css
  apps/sqlrooms-eval-observatory/src/vite-env.d.ts
  apps/sqlrooms-eval-observatory/tsconfig.app.json
  apps/sqlrooms-eval-observatory/tsconfig.json
  apps/sqlrooms-eval-observatory/tsconfig.node.json
  apps/sqlrooms-eval-observatory/vite.config.ts
  knip.json
  package.json
  packages/evals/README.md
  packages/evals/package.json
  packages/evals/src/__tests__/promptfooSqlite.test.ts
  packages/evals/src/promptfoo/calibration.ts
  packages/evals/src/promptfoo/export.ts
  packages/evals/src/promptfoo/index.ts
  packages/evals/src/promptfoo/readModel.ts
  packages/evals/src/promptfoo/sqlite.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(evals): add trajectory comparison
  apps/sqlrooms-eval-observatory/README.md
  apps/sqlrooms-eval-observatory/package.json
  apps/sqlrooms-eval-observatory/src/EvalObservatory.tsx
  apps/sqlrooms-eval-observatory/src/TrajectoryGraph.tsx
  apps/sqlrooms-eval-observatory/src/styles.css
  packages/evals/README.md
  packages/evals/src/__tests__/trajectory.test.ts
  packages/evals/src/promptfoo/readModel.ts
  packages/evals/src/promptfoo/trajectory.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

heatmap fixes
  packages/deck/__tests__/MapSettingsControls.test.ts
  packages/deck/__tests__/mapResourceAuthoring.test.ts
  packages/deck/__tests__/normalizeAiDeckMapConfig.test.ts
  packages/deck/src/DeckJsonMap.tsx
  packages/deck/src/DeckMapErrorOverlay.tsx
  packages/deck/src/DeckMapSurface.tsx
  packages/deck/src/mapAiSharedInstructions.ts
  packages/deck/src/mapResourceAuthoring.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

relax validation
  packages/deck/README.md
  packages/deck/__tests__/DeckHeatmapLayer.test.ts
  packages/deck/__tests__/createDeckJsonConfiguration.test.ts
  packages/deck/__tests__/mapResourceAuthoring.test.ts
  packages/deck/src/json/heatmapDefaults.ts
  packages/deck/src/json/layers/DeckHeatmapLayer.ts
  packages/deck/src/mapResourceAuthoring.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes and optimize
  packages/deck/README.md
  packages/deck/__tests__/DeckHeatmapLayer.test.ts
  packages/deck/__tests__/createDeckJsonConfiguration.test.ts
  packages/deck/__tests__/mapResourceAuthoring.test.ts
  packages/deck/__tests__/normalizeAiDeckMapConfig.test.ts
  packages/deck/__tests__/preparedDatasetStore.test.ts
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/json/heatmapDefaults.ts
  packages/deck/src/json/layers/DeckHeatmapLayer.ts
  packages/deck/src/mapResourceAuthoring.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(artifacts,ai-config): give Node consumers a React-free entry point
  packages/ai-config/src/migration/AnalysisSession-v0.25.0.ts
  packages/artifacts/package.json
  packages/artifacts/src/config.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(ai-core): derive send readiness from the runtime
  packages/ai-core/README.md
  packages/ai-core/__tests__/AiSlice.hasResolvableModel.test.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/components/QueryControls.tsx
  packages/ai-core/src/utils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  packages/deck/__tests__/DeckHeatmapLayer.test.ts
  packages/deck/__tests__/createDeckJsonConfiguration.test.ts
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/json/heatmapDefaults.ts
  packages/deck/src/json/layers/DeckHeatmapLayer.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(ui): export auto-resize behavior and make ScrollableRow composable
  packages/ui/README.md
  packages/ui/__tests__/scrollable-row.test.tsx
  packages/ui/__tests__/useAutoResizeTextarea.test.tsx
  packages/ui/package.json
  packages/ui/src/components/scrollable-row.tsx
  packages/ui/src/components/textarea.tsx
  packages/ui/src/hooks/useAutoResizeTextarea.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --
