Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix: export deck geometry column helper
  packages/deck/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: Enable experimental mode in pnpm dev for the Python CLI (#758)
  apps/sqlrooms-cli-ui/README.md
  python/sqlrooms/README.md
  scripts/dev.mjs
Due: none

Stabilize block document renderer props
  packages/documents/src/BlockDocumentChartRendererContext.tsx
  packages/documents/src/BlockDocumentEditor/node-views/BlockDocumentChartNodeView.tsx
  packages/documents/src/BlockDocumentEditor/node-views/BlockDocumentStatefulBlockNodeView.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor: move map block adapter into deck
  apps/sqlrooms-cli-ui/src/statefulBlockArtifactConfigs.ts
  apps/sqlrooms-cli-ui/src/workspace/WorksheetMapBlockRenderer.tsx
  packages/deck/README.md
  packages/deck/src/block.tsx
  packages/deck/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: address block renderer review feedback
  packages/documents/src/BlockDocumentChartRendererContext.tsx
  packages/documents/src/BlockDocumentEditor/node-views/BlockDocumentChartNodeView.tsx
  packages/documents/src/BlockDocumentEditor/node-views/BlockDocumentStatefulBlockNodeView.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: Move ChordShell carousel case study to the end
  docs/index.md
Due: none

fix(documents): avoid block rerenders on unrelated edits
  packages/documents/src/BlockDocumentChartRendererContext.tsx
  packages/documents/src/BlockDocumentEditor/node-views/BlockDocumentChartNodeView.tsx
  packages/documents/src/BlockDocumentEditor/node-views/BlockDocumentStatefulBlockNodeView.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: Stabilize block document renderer props to reduce rerenders (#761)
  packages/documents/src/BlockDocumentChartRendererContext.tsx
  packages/documents/src/BlockDocumentEditor/node-views/BlockDocumentChartNodeView.tsx
  packages/documents/src/BlockDocumentEditor/node-views/BlockDocumentStatefulBlockNodeView.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: show table selector for empty map blocks
  packages/deck/src/block.tsx
  packages/mosaic/README.md
  packages/mosaic/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  packages/deck/src/MapSettings.tsx
  packages/deck/src/ai.ts
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/json/extractColorScaleLegends.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: harden worksheet map block updates
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  apps/sqlrooms-cli-ui/src/workspace/WorksheetMapBlockRenderer.tsx
  packages/mosaic/src/ai/worksheet/createWorksheetAgentTool.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

slider adj
  packages/deck/src/MapSettings.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: select worksheet map dataset table
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: require table for sql-only worksheet map updates
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: add direct worksheet map blocks (#757)
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  apps/sqlrooms-cli-ui/src/statefulBlockArtifactConfigs.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/workspace/WorksheetArtifact.tsx
  apps/sqlrooms-cli-ui/src/workspace/WorksheetMapBlockRenderer.tsx
  packages/deck/README.md
  packages/deck/__tests__/dashboard-ai-map.test.ts
  packages/deck/src/ai.ts
  packages/deck/src/block.tsx
  packages/deck/src/dashboard.tsx
  packages/deck/src/index.ts
  packages/mosaic/README.md
  packages/mosaic/__tests__/worksheet-ai.test.ts
  packages/mosaic/src/ai/worksheet/createListWorksheetBlocksTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAgentTool.ts
  packages/mosaic/src/ai/worksheet/worksheet-types.ts
  packages/mosaic/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add WebSocket DuckDB connection status tracking
  apps/sqlrooms-cli-ui/src/components/CliDuckDbConnectionLostDialog.tsx
  apps/sqlrooms-cli-ui/src/room.tsx
  apps/sqlrooms-cli-ui/src/store.ts
  packages/duckdb/README.md
  packages/duckdb/src/connectors/WebSocketDuckDbConnector.ts
  packages/duckdb/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add auto-reconnect for lost DuckDB connections
  apps/sqlrooms-cli-ui/src/components/CliDuckDbConnectionLostDialog.tsx
  apps/sqlrooms-cli-ui/src/store.ts
  packages/duckdb/README.md
  packages/duckdb/src/connectors/WebSocketDuckDbConnector.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add python artifacts to CLI UI
  apps/sqlrooms-cli-ui/src/artifactTypeIds.ts
  apps/sqlrooms-cli-ui/src/artifactTypes.tsx
  apps/sqlrooms-cli-ui/src/createDashboardCommands.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: clarify PR title format guidance
  AGENTS.md
Due: none

docs: clarify PR title format guidance (#764)
  AGENTS.md
Due: none

feat: Add python block artifacts to the CLI UI (#762)
  apps/sqlrooms-cli-ui/src/artifactTypeIds.ts
  apps/sqlrooms-cli-ui/src/artifactTypes.tsx
  apps/sqlrooms-cli-ui/src/createDashboardCommands.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feedback
  apps/sqlrooms-cli-ui/src/components/CliDuckDbConnectionLostDialog.tsx
  packages/duckdb/src/connectors/WebSocketDuckDbConnector.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Show a disconnect dialog for lost DuckDB WebSocket connections (#763)
  apps/sqlrooms-cli-ui/src/components/CliDuckDbConnectionLostDialog.tsx
  apps/sqlrooms-cli-ui/src/room.tsx
  apps/sqlrooms-cli-ui/src/store.ts
  packages/duckdb/README.md
  packages/duckdb/src/connectors/WebSocketDuckDbConnector.ts
  packages/duckdb/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(ai): move worksheet tools to block documents
  apps/sqlrooms-cli-ui/jest.config.js
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/ai/__tests__/createWorksheetBlockDocumentAiTools.test.ts
  apps/sqlrooms-cli-ui/src/ai/createAddHtmlAppBlockDocumentBlockTool.ts
  apps/sqlrooms-cli-ui/src/ai/createWorksheetAgentTool.ts
  apps/sqlrooms-cli-ui/src/ai/createWorksheetBlockDocumentAiTools.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAiAdapter.ts
  packages/documents/README.md
  packages/documents/__tests__/BlockDocumentAi.test.ts
  packages/documents/package.json
  packages/documents/src/BlockDocumentAi.ts
  packages/documents/src/createAddBlockDocumentTextBlockTool.ts
  packages/documents/src/createListBlockDocumentBlocksTool.ts
  packages/documents/src/index.ts
  packages/mosaic/README.md
  packages/mosaic/__tests__/block-document-ai.test.ts
  packages/mosaic/__tests__/worksheet-ai.test.ts
  packages/mosaic/src/ai.ts
  packages/mosaic/src/ai/block-document/constants.ts
  packages/mosaic/src/ai/block-document/createAddMosaicDashboardBlockTool.ts
  packages/mosaic/src/ai/block-document/createBlockDocumentChartTools.ts
  packages/mosaic/src/ai/block-document/createBlockDocumentDataTableExplorerTool.ts
  packages/mosaic/src/ai/types.ts
  packages/mosaic/src/ai/worksheet/constants.ts
  packages/mosaic/src/ai/worksheet/createAddDashboardBlockTool.ts
  packages/mosaic/src/ai/worksheet/createAddHtmlAppBlockTool.ts
  packages/mosaic/src/ai/worksheet/createAddTextBlockTool.ts
  packages/mosaic/src/ai/worksheet/createListWorksheetBlocksTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAiTools.ts
  packages/mosaic/src/ai/worksheet/createWorksheetChartTools.ts
  packages/mosaic/src/ai/worksheet/createWorksheetDataTableExplorerTool.ts
  packages/mosaic/src/ai/worksheet/worksheet-types.ts
  packages/mosaic/src/charts/chart-types/createChartTools.ts
  packages/mosaic/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(ai): introduce known worksheet tools and improve agent instructions
  apps/sqlrooms-cli-ui/src/ai/constants.ts
  apps/sqlrooms-cli-ui/src/ai/createAddHtmlAppBlockDocumentBlockTool.ts
  apps/sqlrooms-cli-ui/src/ai/createWorksheetAgentTool.ts
  apps/sqlrooms-cli-ui/src/ai/createWorksheetBlockDocumentAiTools.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/documents/__tests__/BlockDocumentAi.test.ts
  packages/documents/src/BlockDocumentAi.ts
  packages/documents/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(tests): move KnownWorksheetTools import and add setCurrentBlockDocument mock
  apps/sqlrooms-cli-ui/src/ai/__tests__/createWorksheetBlockDocumentAiTools.test.ts
  packages/documents/__tests__/BlockDocumentAi.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: add command layer audit
  dev-docs/contributing/architecture.md
  dev-docs/contributing/commands.md
Due: none

feat(commands): command-back block document ai writes
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/src/__tests__/createWorksheetAiAdapter.test.ts
  apps/sqlrooms-cli-ui/src/ai/createAddHtmlAppBlockDocumentBlockTool.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAiAdapter.ts
  packages/documents/README.md
  packages/documents/__tests__/BlockDocumentAi.test.ts
  packages/documents/__tests__/BlockDocumentCommands.test.ts
  packages/documents/src/BlockDocumentAi.ts
  packages/documents/src/BlockDocumentCommands.ts
  packages/documents/src/createAddBlockDocumentTextBlockTool.ts
  packages/mosaic/README.md
  packages/mosaic/src/ai/block-document/createAddMosaicDashboardBlockTool.ts
  packages/mosaic/src/ai/block-document/createBlockDocumentDataTableExplorerTool.ts
  packages/mosaic/src/ai/createDataTableExplorerTool.ts
  packages/mosaic/src/charts/chart-types/box-plot/tool.ts
  packages/mosaic/src/charts/chart-types/count-plot/tool.ts
  packages/mosaic/src/charts/chart-types/heatmap/tool.ts
  packages/mosaic/src/charts/chart-types/histogram/tool.ts
  packages/mosaic/src/charts/chart-types/line-chart/tool.ts
  packages/mosaic/src/charts/chart-types/scatter-plot/tool.ts
  packages/mosaic/src/charts/chart-types/tool-types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(mosaic): add dashboard panel commands
  apps/sqlrooms-cli-ui/src/store.ts
  packages/mosaic/__tests__/MosaicDashboardCommands.test.ts
  packages/mosaic/__tests__/dashboard-ai-tools.test.ts
  packages/mosaic/src/ai/dashboard/createDashboardAgentTool.ts
  packages/mosaic/src/ai/dashboard/createDashboardAiAdapter.ts
  packages/mosaic/src/ai/dashboard/createDashboardChartTools.ts
  packages/mosaic/src/ai/dashboard/dashboard-types.ts
  packages/mosaic/src/dashboard/MosaicDashboardCommands.ts
  packages/mosaic/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add explicit Python CLI release workflow
  package.json
  python/sqlrooms/README.md
  scripts/publish-sqlrooms-cli.mjs
Due: none

feat(cli): add artifact rename command
  apps/sqlrooms-cli-ui/src/__tests__/createDashboardCommands.test.ts
  apps/sqlrooms-cli-ui/src/createDashboardCommands.ts
  apps/sqlrooms-cli-ui/src/workspace/CliWorkspaceTopbar.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor
  packages/color-scales/src/legend/CategoricalLegend.tsx
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/json/extractColorScaleLegends.ts
  packages/deck/src/json/heatmapDefaults.ts
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Fix SQLRooms CLI publish command passthrough
  package.json
  python/sqlrooms/README.md
  scripts/publish-sqlrooms-cli.mjs
Due: none

refactor(ai): move worksheet tools to block documents (#765)
  apps/sqlrooms-cli-ui/jest.config.js
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/ai/__tests__/createWorksheetBlockDocumentAiTools.test.ts
  apps/sqlrooms-cli-ui/src/ai/constants.ts
  apps/sqlrooms-cli-ui/src/ai/createAddHtmlAppBlockDocumentBlockTool.ts
  apps/sqlrooms-cli-ui/src/ai/createWorksheetAgentTool.ts
  apps/sqlrooms-cli-ui/src/ai/createWorksheetBlockDocumentAiTools.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAiAdapter.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/documents/README.md
  packages/documents/__tests__/BlockDocumentAi.test.ts
  packages/documents/package.json
  packages/documents/src/BlockDocumentAi.ts
  packages/documents/src/createAddBlockDocumentTextBlockTool.ts
  packages/documents/src/createListBlockDocumentBlocksTool.ts
  packages/documents/src/index.ts
  packages/mosaic/README.md
  packages/mosaic/__tests__/block-document-ai.test.ts
  packages/mosaic/__tests__/worksheet-ai.test.ts
  packages/mosaic/src/ai.ts
  packages/mosaic/src/ai/block-document/constants.ts
  packages/mosaic/src/ai/block-document/createAddMosaicDashboardBlockTool.ts
  packages/mosaic/src/ai/block-document/createBlockDocumentChartTools.ts
  packages/mosaic/src/ai/block-document/createBlockDocumentDataTableExplorerTool.ts
  packages/mosaic/src/ai/types.ts
  packages/mosaic/src/ai/worksheet/constants.ts
  packages/mosaic/src/ai/worksheet/createAddDashboardBlockTool.ts
  packages/mosaic/src/ai/worksheet/createAddHtmlAppBlockTool.ts
  packages/mosaic/src/ai/worksheet/createAddTextBlockTool.ts
  packages/mosaic/src/ai/worksheet/createListWorksheetBlocksTool.ts
  packages/mosaic/src/ai/worksheet/createWorksheetAiTools.ts
  packages/mosaic/src/ai/worksheet/createWorksheetChartTools.ts
  packages/mosaic/src/ai/worksheet/createWorksheetDataTableExplorerTool.ts
  packages/mosaic/src/ai/worksheet/worksheet-types.ts
  packages/mosaic/src/charts/chart-types/createChartTools.ts
  packages/mosaic/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Build packages before publishing CLI
  scripts/publish-sqlrooms-cli.mjs
Due: none

feat(cli): add worksheet block commands
  apps/sqlrooms-cli-ui/src/__tests__/createWorksheetCommands.test.ts
  apps/sqlrooms-cli-ui/src/ai/createAddHtmlAppBlockDocumentBlockTool.ts
  apps/sqlrooms-cli-ui/src/ai/createWorksheetBlockDocumentAiTools.ts
  apps/sqlrooms-cli-ui/src/createWorksheetAgent.ts
  apps/sqlrooms-cli-ui/src/createWorksheetCommands.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/mosaic/src/ai/block-document/createAddMosaicDashboardBlockTool.ts
  packages/mosaic/src/ai/block-document/createBlockDocumentDataTableExplorerTool.ts
  packages/mosaic/src/ai/createDataTableExplorerTool.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(cli): command-back html app writes
  apps/sqlrooms-cli-ui/src/__tests__/createHtmlAppRevisionCommands.test.ts
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
  apps/sqlrooms-cli-ui/src/createHtmlAppRevisionCommands.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add sqlrooms CLI version flag
  python/sqlrooms/README.md
  python/sqlrooms/package.json
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/tests/test_cli.py
Due: uv run --project python ruff check --fix

feat(ai): add command discovery tools
  packages/ai/__tests__/commandTools.test.ts
  packages/ai/src/tools/commandTools.ts
  packages/ai/src/tools/defaultInstructions.ts
  packages/ai/src/tools/defaultTools.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(ai): add skill command runtime policy
  packages/ai/__tests__/commandTools.test.ts
  packages/ai/src/index.ts
  packages/ai/src/tools/commandTools.ts
  packages/ai/src/tools/skillRuntimeToolPolicy.ts
  packages/room-store/__tests__/CommandSlice.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Path conditions:
  eslint --config .eslintrc.js --max-warnings=50: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{ts,tsx,js})
  turbo lint --filter=@sqlrooms/* --: any of: **/*.{ts,tsx,js}
  uv run --project python ruff check --fix: any of: python/**/*.py
