Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

feat(documents): export block documents to markdown (#917)
  packages/documents/README.md
  packages/documents/__tests__/blockDocumentToMarkdown.test.ts
  packages/documents/src/BlockDocumentEditor/node-views/nodeViewUtils.ts
  packages/documents/src/blockDocumentToMarkdown.ts
  packages/documents/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: update UI layout (#905)
  packages/ai-core/README.md
  packages/ai-core/__tests__/ActivityBox.header.test.tsx
  packages/ai-core/__tests__/AiSlice.cancel.test.ts
  packages/ai-core/__tests__/AiSlice.timeouts.test.ts
  packages/ai-core/__tests__/ChatActiveStatus.render.test.tsx
  packages/ai-core/__tests__/ChatActiveStatus.test.tsx
  packages/ai-core/__tests__/buildChatTurnModel.approval.test.ts
  packages/ai-core/__tests__/chatTurns.test.ts
  packages/ai-core/__tests__/computeActivityTimeSpan.test.ts
  packages/ai-core/__tests__/timelineActivityTiming.test.tsx
  packages/ai-core/__tests__/useRelativeTime.test.tsx
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/chatTransport.ts
  packages/ai-core/src/chatTurns.ts
  packages/ai-core/src/components/ActivityBox.tsx
  packages/ai-core/src/components/AiThinkingDots.tsx
  packages/ai-core/src/components/ChatActiveStatus.tsx
  packages/ai-core/src/components/ChatMessagesContainer.tsx
  packages/ai-core/src/components/ChatRenderingTypes.ts
  packages/ai-core/src/components/ChatTurnView.tsx
  packages/ai-core/src/components/ContextUsageIndicator.tsx
  packages/ai-core/src/components/FlatAgentRenderer.tsx
  packages/ai-core/src/components/LocalAgentChatMessages.tsx
  packages/ai-core/src/components/buildChatTurnModel.ts
  packages/ai-core/src/components/composer/attachments.tsx
  packages/ai-core/src/components/defaultChatRendering.tsx
  packages/ai-core/src/components/queryControls/ComposerFrame.tsx
  packages/ai-core/src/hooks/useRelativeTime.ts
  packages/ai-core/src/index.ts
  packages/artifacts/README.md
  packages/artifacts/__tests__/artifactAiSessions.test.ts
  packages/artifacts/src/ai/artifactAiSlice.ts
  packages/ui/README.md
  packages/ui/src/components/button.tsx
  packages/ui/src/components/copy-button.tsx
  packages/ui/src/components/tab-strip.tsx
  packages/ui/src/components/tooltip.tsx
  packages/utils/README.md
  packages/utils/src/time.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(kepler): preserve saved config during asynchronous hydration (#920)
  packages/kepler/README.md
  packages/kepler/__tests__/KeplerSlice.hydration.test.ts
  packages/kepler/package.json
  packages/kepler/src/KeplerSlice.ts
  packages/kepler/src/index.ts
  packages/kepler/src/keplerConfigPersistence.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(kepler): expose per-map pending config status
  packages/kepler/README.md
  packages/kepler/__tests__/KeplerSlice.hydration.test.ts
  packages/kepler/src/KeplerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: simplify persistence setup example
  docs/persistence.md
Due: none

docs: simplify persistence setup example (#923)
  docs/persistence.md
Due: none

feat(kepler): expose per-map pending config status (#922)
  packages/kepler/README.md
  packages/kepler/__tests__/KeplerSlice.hydration.test.ts
  packages/kepler/src/KeplerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(documents): provide live document snapshots to editing agents
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/src/__tests__/createCliAiInstructions.test.ts
  apps/sqlrooms-cli-ui/src/ai/__tests__/createCliBlockDocumentAgentTool.test.ts
  apps/sqlrooms-cli-ui/src/ai/constants.ts
  apps/sqlrooms-cli-ui/src/ai/createCliBlockDocumentAgentTool.ts
  apps/sqlrooms-cli-ui/src/ai/createCliBlockDocumentAiTools.ts
  apps/sqlrooms-cli-ui/src/ai/formatDocumentAgentContext.ts
  apps/sqlrooms-cli-ui/src/createCliAiInstructions.ts
  packages/documents/README.md
  packages/documents/__tests__/formatBlockDocumentContext.test.ts
  packages/documents/src/createListBlockDocumentBlocksTool.ts
  packages/documents/src/createMoveBlockDocumentBlockTool.ts
  packages/documents/src/formatBlockDocumentContext.ts
  packages/documents/src/index.ts
  packages/documents/src/summarizeBlockDocumentBlock.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(documents): bound agent snapshot serialization work
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/ai/__tests__/createCliBlockDocumentAgentTool.test.ts
  packages/documents/README.md
  packages/documents/__tests__/formatBlockDocumentContext.test.ts
  packages/documents/src/createBlockDocumentExcerpt.ts
  packages/documents/src/formatBlockDocumentContext.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(documents): stop snapshot traversal when the budget fills
  packages/documents/README.md
  packages/documents/__tests__/formatBlockDocumentContext.test.ts
  packages/documents/src/formatBlockDocumentContext.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(documents): give editing agents live document context (#921)
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/__tests__/createCliAiInstructions.test.ts
  apps/sqlrooms-cli-ui/src/ai/__tests__/createCliBlockDocumentAgentTool.test.ts
  apps/sqlrooms-cli-ui/src/ai/constants.ts
  apps/sqlrooms-cli-ui/src/ai/createCliBlockDocumentAgentTool.ts
  apps/sqlrooms-cli-ui/src/ai/createCliBlockDocumentAiTools.ts
  apps/sqlrooms-cli-ui/src/ai/formatDocumentAgentContext.ts
  apps/sqlrooms-cli-ui/src/createCliAiInstructions.ts
  packages/documents/README.md
  packages/documents/__tests__/formatBlockDocumentContext.test.ts
  packages/documents/src/createBlockDocumentExcerpt.ts
  packages/documents/src/createListBlockDocumentBlocksTool.ts
  packages/documents/src/createMoveBlockDocumentBlockTool.ts
  packages/documents/src/formatBlockDocumentContext.ts
  packages/documents/src/index.ts
  packages/documents/src/summarizeBlockDocumentBlock.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(cli): share AI-free workspace domain composition
  apps/sqlrooms-cli-ui/src/createCliDomainSlice.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/createCliHeadlessWorkspace.test.ts
  apps/sqlrooms-cli-ui/src/evals/createCliEvalTarget.ts
  apps/sqlrooms-cli-ui/src/evals/createCliHeadlessWorkspace.ts
  apps/sqlrooms-cli-ui/src/evals/snapshot.ts
  apps/sqlrooms-cli-ui/src/evals/workspaceFixture.ts
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(cli): evaluate an external Codex harness through shared MCP operations
  .gitignore
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/evals/EXTERNAL_HARNESS.md
  apps/sqlrooms-cli-ui/evals/README.md
  apps/sqlrooms-cli-ui/evals/run-external.mjs
  apps/sqlrooms-cli-ui/evals/supervise-external.mjs
  apps/sqlrooms-cli-ui/evals/supervise-external.test.mjs
  apps/sqlrooms-cli-ui/evals/vite.external.config.ts
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/skills/sqlrooms/SKILL.md
  apps/sqlrooms-cli-ui/skills/sqlrooms/references/charts.md
  apps/sqlrooms-cli-ui/skills/sqlrooms/references/documents.md
  apps/sqlrooms-cli-ui/skills/sqlrooms/references/maps.md
  apps/sqlrooms-cli-ui/src/__tests__/createCliBlockDocumentCommands.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/createCliRoomCapabilityHandlers.test.ts
  apps/sqlrooms-cli-ui/src/components/CliMcpBridge.tsx
  apps/sqlrooms-cli-ui/src/createCliBlockDocumentCommands.ts
  apps/sqlrooms-cli-ui/src/createCliCapabilityRuntime.ts
  apps/sqlrooms-cli-ui/src/createCliRoomCapabilities.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/codexHarness.test.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/codexOutput.test.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/externalMcp.test.ts
  apps/sqlrooms-cli-ui/src/evals/external/codexHarness.ts
  apps/sqlrooms-cli-ui/src/evals/external/codexOutput.ts
  apps/sqlrooms-cli-ui/src/evals/external/codexSkills.ts
  apps/sqlrooms-cli-ui/src/evals/external/mcpHost.ts
  apps/sqlrooms-cli-ui/src/evals/external/policy.ts
  apps/sqlrooms-cli-ui/src/evals/external/runExternalSuite.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs(cli): record verification and retain raw evidence locally
  .gitignore
  apps/sqlrooms-cli-ui/evals/EXTERNAL_HARNESS.md
  apps/sqlrooms-cli-ui/evals/evidence/headless-delivery/README.md
  knip.json
Due: none

fix(cli): align external command discovery with target policy
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/evals/EXTERNAL_HARNESS.md
  apps/sqlrooms-cli-ui/evals/README.md
  apps/sqlrooms-cli-ui/evals/evidence/headless-delivery/README.md
  apps/sqlrooms-cli-ui/src/createCliRoomCapabilities.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/externalMcp.test.ts
  apps/sqlrooms-cli-ui/src/evals/external/policy.ts
  apps/sqlrooms-cli-ui/src/evals/external/runExternalSuite.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs(cli): record explicit-target harness verification
  apps/sqlrooms-cli-ui/evals/evidence/headless-delivery/README.md
Due: none

feat(evals): run both CI targets through a shared OpenRouter model
  .env.example
  .github/workflows/evals-nightly.yml
  apps/sqlrooms-cli-ui/evals/EXTERNAL_HARNESS.md
  apps/sqlrooms-cli-ui/evals/README.md
  apps/sqlrooms-cli-ui/evals/promptfooconfig.yaml
  apps/sqlrooms-cli-ui/evals/run-external.mjs
  apps/sqlrooms-cli-ui/src/evals/__tests__/codexHarness.test.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/evalModel.test.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/loadLocalEvalEnvironment.test.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/openRouterCost.test.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/promptfooProvider.test.ts
  apps/sqlrooms-cli-ui/src/evals/evalModel.ts
  apps/sqlrooms-cli-ui/src/evals/external/codexHarness.ts
  apps/sqlrooms-cli-ui/src/evals/external/runExternalSuite.ts
  apps/sqlrooms-cli-ui/src/evals/loadLocalEvalEnvironment.ts
  apps/sqlrooms-cli-ui/src/evals/openRouterCost.ts
  apps/sqlrooms-cli-ui/src/evals/promptfooProvider.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): decode WKB geometry for centroid transform and restrict lon/lat pickers
  packages/deck/README.md
  packages/deck/__tests__/MapSettingsControls.test.ts
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/__tests__/normalizeDeckMapPointConfig.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/MapSettingsControls.tsx
  packages/deck/src/mapConfigUtils.ts
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(evals): configure Linux harness sandbox for CI
  .github/workflows/evals-nightly.yml
  apps/sqlrooms-cli-ui/evals/EXTERNAL_HARNESS.md
  apps/sqlrooms-cli-ui/evals/evidence/headless-delivery/README.md
  apps/sqlrooms-cli-ui/src/evals/__tests__/codexOutput.test.ts
  apps/sqlrooms-cli-ui/src/evals/external/codexOutput.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(evals): include required block IDs in skill example
  apps/sqlrooms-cli-ui/evals/evidence/headless-delivery/README.md
  apps/sqlrooms-cli-ui/skills/sqlrooms/SKILL.md
  apps/sqlrooms-cli-ui/skills/sqlrooms/references/documents.md
  apps/sqlrooms-cli-ui/src/evals/external/runExternalSuite.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs(evals): record shared OpenRouter CI results
  apps/sqlrooms-cli-ui/evals/evidence/headless-delivery/README.md
Due: none

refactor(documents): inspect backing state through block types
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/evals/EXTERNAL_HARNESS.md
  apps/sqlrooms-cli-ui/evals/evidence/headless-delivery/README.md
  apps/sqlrooms-cli-ui/skills/sqlrooms/SKILL.md
  apps/sqlrooms-cli-ui/skills/sqlrooms/references/documents.md
  apps/sqlrooms-cli-ui/skills/sqlrooms/references/maps.md
  apps/sqlrooms-cli-ui/src/__tests__/createCliBlockDocumentCommands.test.ts
  apps/sqlrooms-cli-ui/src/createCliBlockDocumentCommands.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/externalMcp.test.ts
  apps/sqlrooms-cli-ui/src/evals/external/policy.ts
  apps/sqlrooms-cli-ui/src/evals/external/runExternalSuite.ts
  apps/sqlrooms-cli-ui/src/statefulBlockArtifactConfigs.ts
  packages/documents/README.md
  packages/documents/__tests__/BlockDocumentCommands.test.ts
  packages/documents/src/BlockDocumentCommands.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs(evals): record generic inspection harness results
  apps/sqlrooms-cli-ui/evals/evidence/headless-delivery/README.md
Due: none

fix(evals): harden supervisor cleanup and harness output
  .github/workflows/evals-nightly.yml
  apps/sqlrooms-cli-ui/evals/README.md
  apps/sqlrooms-cli-ui/evals/supervise-external.mjs
  apps/sqlrooms-cli-ui/evals/supervise-external.test.mjs
  apps/sqlrooms-cli-ui/src/evals/__tests__/codexHarness.test.ts
  apps/sqlrooms-cli-ui/src/evals/external/codexHarness.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs(cli): record updated external harness dependency
  apps/sqlrooms-cli-ui/evals/evidence/claude-plugin/README.md
Due: none

docs(cli): record final Claude plugin verification
  apps/sqlrooms-cli-ui/evals/evidence/claude-plugin/README.md
Due: none

fix(cli): allow Claude launcher to create databases
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/evals/evidence/claude-plugin/README.md
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/tests/test_claude.py
Due: uv run --project python ruff check --fix

follow up
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

follow up
  packages/deck/README.md
  packages/deck/__tests__/MapSettingsControls.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/MapSettingsControls.tsx
  packages/deck/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

follow up
  packages/deck/__tests__/MapSettingsControls.test.ts
  packages/deck/src/MapSettingsControls.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): generate Claude plugin outside cached UI build
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/claude-plugin/README.md
  apps/sqlrooms-cli-ui/evals/evidence/claude-plugin/README.md
  apps/sqlrooms-cli-ui/package.json
  python/sqlrooms/README.md
  python/sqlrooms/package.json
  python/sqlrooms/sqlrooms/web/claude.py
Due: uv run --project python ruff check --fix

feat(cli): authorize local HTTP and native MCP access
  python/sqlrooms/scripts/verify_wheel.py
  python/sqlrooms/sqlrooms/web/claude.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/sqlrooms/web/mcp.py
  python/sqlrooms/sqlrooms/web/mcp_bridge.py
  python/sqlrooms/sqlrooms/web/native_headers.py
  python/sqlrooms/sqlrooms/web/security.py
  python/sqlrooms/tests/test_claude.py
  python/sqlrooms/tests/test_launcher.py
  python/sqlrooms/tests/test_live_auth.py
  python/sqlrooms/tests/test_mcp.py
  python/sqlrooms/tests/test_security.py
Due: uv run --project python ruff check --fix

feat(cli): bootstrap scoped browser credentials and private agent helpers
  apps/sqlrooms-cli-ui/build-claude-plugin.mjs
  apps/sqlrooms-cli-ui/claude-plugin/headers.mjs
  apps/sqlrooms-cli-ui/claude-plugin/mcp.json
  apps/sqlrooms-cli-ui/cliDevProxy.mjs
  apps/sqlrooms-cli-ui/index.html
  apps/sqlrooms-cli-ui/src/__tests__/browserAuth.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/serverApi.test.ts
  apps/sqlrooms-cli-ui/src/bootstrap.ts
  apps/sqlrooms-cli-ui/src/browserAuth.ts
  apps/sqlrooms-cli-ui/src/components/CliMcpStatusControl.tsx
  apps/sqlrooms-cli-ui/src/evals/external/mcpHost.ts
  apps/sqlrooms-cli-ui/src/evals/external/runExternalSuite.ts
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/serverApi.ts
  apps/sqlrooms-cli-ui/src/store.ts
  knip.json
  packages/db/src/bridge.ts
  scripts/cli-dev-args.mjs
  scripts/cli-dev-readiness.test.mjs
  scripts/dev.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(server): authenticate every DuckDB connection and domain message
  python/sqlrooms-server/sqlrooms/server/access.py
  python/sqlrooms-server/sqlrooms/server/auth.py
  python/sqlrooms-server/sqlrooms/server/server.py
  python/sqlrooms-server/sqlrooms/server/tests/test_access.py
  python/sqlrooms-server/sqlrooms/server/tests/test_auth.py
Due: uv run --project python ruff check --fix

docs(cli): document local authorization and verification
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/evals/EXTERNAL_HARNESS.md
  packages/db/README.md
  python/sqlrooms/AUTHENTICATION.md
  python/sqlrooms/README.md
  python/sqlrooms/tests/AUTHENTICATION_VERIFICATION.md
Due: none

fix(cli): preserve proxy mounts and authenticate database settings
  apps/sqlrooms-cli-ui/src/__tests__/browserAuth.test.ts
  apps/sqlrooms-cli-ui/src/browserAuth.ts
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/vite.config.ts
  packages/db-settings/README.md
  packages/db-settings/src/DbSettingsSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): prepare plugin in CI and repair Sprite startup
  python/sqlrooms/AUTHENTICATION.md
  python/sqlrooms/package.json
  python/sqlrooms/tests/AUTHENTICATION_VERIFICATION.md
  python/sqlrooms/tests/test_sprite_installer.py
  scripts/deploy-sqlrooms-cli-to-sprite.sh
Due: uv run --project python ruff check --fix

fix(cli): validate WebSocket routes and normalize external ports
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  python/sqlrooms/AUTHENTICATION.md
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/sqlrooms/web/security.py
  python/sqlrooms/tests/test_security.py
  scripts/cli-dev-args.mjs
  scripts/cli-dev-args.test.mjs
  scripts/deploy-sqlrooms-cli-to-sprite.sh
  scripts/dev.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

Path conditions:
  eslint --config .eslintrc.js --max-warnings=50: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{ts,tsx,js})
  turbo lint --filter=@sqlrooms/* --: any of: **/*.{ts,tsx,js}
  uv run --project python ruff check --fix: any of: python/**/*.py
