Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

Expose diagnostics recorder to agent packages
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/devtools/providerContextDiagnostics.ts
  packages/ai-core/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ai-core): isolate provider diagnostics by session
  packages/ai-core/__tests__/providerContextDiagnostics.test.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/chatTransport.ts
  packages/ai-core/src/devtools/providerContextDiagnostics.ts
  packages/ai-core/src/index.ts
  packages/ai-core/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

pr feedback: readme
  packages/ai-core/README.md
Due: none

docs(ai-core): document provider context args
  packages/ai-core/src/devtools/providerContextDiagnostics.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: add provider context diagnostics (#842)
  packages/ai-core/README.md
  packages/ai-core/__tests__/providerContextDiagnostics.test.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/chatTransport.ts
  packages/ai-core/src/devtools/ChatSessionDebugView.tsx
  packages/ai-core/src/devtools/providerContextDiagnostics.ts
  packages/ai-core/src/index.ts
  packages/ai-core/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): preserve multipolygon structure
  packages/deck/README.md
  packages/deck/__tests__/createDeckJsonConfiguration.test.ts
  packages/deck/__tests__/dashboard-ai-map.test.ts
  packages/deck/src/ai.ts
  packages/deck/src/mapAiSharedInstructions.ts
  packages/deck/src/prepare/wkbDecoder.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(artifacts): separate association and workspace state
  apps/sqlrooms-cli-ui/src/__tests__/artifactChatAssociation.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/getRunContext.test.ts
  apps/sqlrooms-cli-ui/src/artifactChatAssociation.ts
  docs/upgrade-guide.md
  packages/artifacts/README.md
  packages/artifacts/__tests__/ArtifactsSlice.test.ts
  packages/artifacts/__tests__/artifactAiSessions.test.ts
  packages/artifacts/src/ArtifactsSlice.ts
  packages/artifacts/src/ArtifactsSliceConfig.ts
  packages/artifacts/src/ai/ArtifactSessionLink.ts
  packages/artifacts/src/ai/artifactAiSessionHelpers.ts
  packages/artifacts/src/ai/artifactAiSlice.ts
  packages/artifacts/src/ai/index.ts
  packages/artifacts/src/index.ts
  packages/documents/__tests__/startBlockScopedChat.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(deck): improve map settings appearance controls
  packages/deck/__tests__/MapSettingsControls.test.ts
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/MapSettingsControls.tsx
  packages/deck/src/mapLayerConfigUtils.ts
  packages/ui/tailwind-preset.css
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): address MapSettings appearance review feedback
  packages/deck/__tests__/MapSettingsControls.test.ts
  packages/deck/__tests__/mapColorScaleField.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/MapSettingsControls.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

follow up
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

more follow ups
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

remove redundant solid polygon layer
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

remove redundant comments and deprecated helpers
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/DeckJsonMapSpec.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/json/extractColorScaleLegends.ts
  packages/deck/src/mapLayerConfigUtils.ts
  packages/ui/tailwind-preset.css
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  packages/deck/__tests__/compileColorScale.test.ts
  packages/deck/__tests__/createDeckJsonConfiguration.test.ts
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/DeckJsonMapSpec.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/json/compileColorScale.ts
  packages/deck/src/json/extractColorScaleLegends.ts
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add MCP capability runtime
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/components/CliMcpBridge.tsx
  apps/sqlrooms-cli-ui/src/components/CliMcpStatusControl.tsx
  apps/sqlrooms-cli-ui/src/createCliRoomCapabilities.ts
  apps/sqlrooms-cli-ui/src/room.tsx
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/serverApi.ts
  apps/sqlrooms-cli-ui/src/workspace/CliWorkspaceTopbar.tsx
  packages/ai/__tests__/commandTools.test.ts
  packages/ai/src/tools/commandTools.ts
  packages/mcp/README.md
  packages/mcp/__tests__/runtime.test.ts
  packages/mcp/eslint.config.js
  packages/mcp/jest.config.js
  packages/mcp/package.json
  packages/mcp/src/browser.ts
  packages/mcp/src/index.ts
  packages/mcp/src/protocol.ts
  packages/mcp/src/runtime.ts
  packages/mcp/src/types.ts
  packages/mcp/tsconfig.json
  packages/room-shell/src/index.ts
  packages/room-store/__tests__/CommandAdapters.test.ts
  packages/room-store/src/CommandAdapters.ts
  packages/room-store/src/index.ts
  pnpm-lock.yaml
  python/sqlrooms/README.md
  python/sqlrooms/pyproject.toml
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/sqlrooms/web/mcp.py
  python/sqlrooms/sqlrooms/web/mcp_bridge.py
  python/sqlrooms/tests/test_launcher.py
  python/sqlrooms/tests/test_mcp.py
  python/uv.lock
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(vega): infer aggregate bar sizing
  packages/vega/__tests__/chartSizing.test.ts
  packages/vega/src/chartSizing.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: repair merged pnpm lockfile
  .npmrc
  pnpm-lock.yaml
Due: none

fix(docs): avoid Vue interpolation in API docs
  packages/ai-core/README.md
Due: none

fix(docs): avoid Vue interpolation in API docs (#846)
  packages/ai-core/README.md
Due: none

fix(vega): guard unsupported auto sizing
  packages/vega/README.md
  packages/vega/__tests__/chartSizing.test.ts
  packages/vega/src/chartSizing.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(artifacts): preserve valid association state
  packages/artifacts/__tests__/ArtifactsSlice.test.ts
  packages/artifacts/__tests__/artifactAiSessions.test.ts
  packages/artifacts/src/ArtifactsSlice.ts
  packages/artifacts/src/ai/ArtifactSessionLink.ts
  packages/documents/__tests__/documentsCrdt.test.ts
  packages/documents/src/crdt.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(ai-core): move session chat lifecycle into slice
  CONTEXT.md
  apps/sqlrooms-cli-ui/src/__tests__/artifactTurnTargeting.test.ts
  docs/upgrade-guide.md
  packages/ai-core/README.md
  packages/ai-core/__tests__/AiSlice.modelSelection.test.ts
  packages/ai-core/__tests__/AiSlice.startAnalysisWhenReady.test.ts
  packages/ai-core/__tests__/AiSlice.timeouts.test.ts
  packages/ai-core/__tests__/sessionChatRuntime.test.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/components/Chat.tsx
  packages/ai-core/src/components/ChatActiveStatus.tsx
  packages/ai-core/src/components/ContextUsageIndicator.tsx
  packages/ai-core/src/components/QueryControls.tsx
  packages/ai-core/src/components/SessionChatManager.tsx
  packages/ai-core/src/components/SessionChatProvider.tsx
  packages/ai-core/src/hooks/useSessionChat.ts
  packages/ai-core/src/index.ts
  packages/ai-core/src/sessionChatRuntime.ts
  packages/ai-core/src/timeouts.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deps): resolve current Dependabot vulnerabilities
  package.json
  patches/image-size@0.7.5.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  python/pyproject.toml
  python/uv.lock
Due: none

fix(deps): resolve current Dependabot vulnerabilities (#847)
  package.json
  patches/image-size@0.7.5.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  python/pyproject.toml
  python/uv.lock
Due: none

refactor(ai-core): simplify session chat runtime seam
  CONTEXT.md
  apps/sqlrooms-cli-ui/src/__tests__/artifactTurnTargeting.test.ts
  packages/ai-core/README.md
  packages/ai-core/__tests__/AiSlice.modelSelection.test.ts
  packages/ai-core/__tests__/AiSlice.startAnalysisWhenReady.test.ts
  packages/ai-core/__tests__/AiSlice.timeouts.test.ts
  packages/ai-core/__tests__/sessionChatRuntime.test.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/hooks/useSessionChat.ts
  packages/ai-core/src/index.ts
  packages/ai-core/src/sessionChatRuntime.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(vega): add dynamic AI chart sizing (#813)
  .npmrc
  packages/ui/__tests__/useAspectRatioDimensions.test.tsx
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/hooks/useAspectRatioDimensions.ts
  packages/vega/README.md
  packages/vega/__tests__/chartSizing.test.ts
  packages/vega/jest.config.js
  packages/vega/package.json
  packages/vega/src/VegaChartToolResult.tsx
  packages/vega/src/VegaLiteArrowChart.tsx
  packages/vega/src/chartSizing.ts
  packages/vega/src/editor/VegaChartDisplay.tsx
  packages/vega/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

ci(docs): publish versioned API reference
  .github/workflows/deploy-docs.yml
  .github/workflows/npm-publish.yml
  docs/.gitignore
  docs/.vitepress/config.ts
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/style.css
  package.json
  scripts/assemble-versioned-docs.mjs
  scripts/verify-docs-release.mjs
  scripts/verify-published-packages.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor(artifacts): separate association and workspace state (#844)
  apps/sqlrooms-cli-ui/src/__tests__/artifactChatAssociation.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/getRunContext.test.ts
  apps/sqlrooms-cli-ui/src/artifactChatAssociation.ts
  docs/upgrade-guide.md
  packages/artifacts/README.md
  packages/artifacts/__tests__/ArtifactsSlice.test.ts
  packages/artifacts/__tests__/artifactAiSessions.test.ts
  packages/artifacts/src/ArtifactsSlice.ts
  packages/artifacts/src/ArtifactsSliceConfig.ts
  packages/artifacts/src/ai/ArtifactSessionLink.ts
  packages/artifacts/src/ai/artifactAiSessionHelpers.ts
  packages/artifacts/src/ai/artifactAiSlice.ts
  packages/artifacts/src/ai/index.ts
  packages/artifacts/src/index.ts
  packages/documents/__tests__/documentsCrdt.test.ts
  packages/documents/__tests__/startBlockScopedChat.test.ts
  packages/documents/src/crdt.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ai-core): align chat content padding
  packages/ai-core/src/components/ChatMessagesContainer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ai-core): tighten running status spacing
  packages/ai-core/src/components/ChatMessagesContainer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ai-core): prevent text bleed behind prompts
  packages/ai-core/__tests__/ChatTurnView.layout.test.tsx
  packages/ai-core/src/components/defaultChatRendering.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): disable sticky chat prompts
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(ai-core): right align chat prompts
  packages/ai-core/__tests__/ChatTurnView.layout.test.tsx
  packages/ai-core/src/components/defaultChatRendering.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(ai-core): add active chat status and opt-in timeouts (#814)
  apps/sqlrooms-cli-ui/src/__tests__/artifactTurnTargeting.test.ts
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
  docs/upgrade-guide.md
  examples/ai-nextjs/README.md
  examples/ai-nextjs/src/app/store.ts
  packages/ai-core/README.md
  packages/ai-core/__tests__/AiSlice.modelSelection.test.ts
  packages/ai-core/__tests__/AiSlice.startAnalysisWhenReady.test.ts
  packages/ai-core/__tests__/AiSlice.timeouts.test.ts
  packages/ai-core/__tests__/ChatActiveStatus.test.ts
  packages/ai-core/__tests__/ChatTurnView.layout.test.tsx
  packages/ai-core/__tests__/fixIncompleteToolCalls.test.ts
  packages/ai-core/__tests__/sessionChatRuntime.test.ts
  packages/ai-core/__tests__/timeouts.test.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/agents/AgentUtils.ts
  packages/ai-core/src/chatTransport.ts
  packages/ai-core/src/components/Chat.tsx
  packages/ai-core/src/components/ChatActiveStatus.tsx
  packages/ai-core/src/components/ChatMessagesContainer.tsx
  packages/ai-core/src/components/ContextUsageIndicator.tsx
  packages/ai-core/src/components/LocalAgentChatMessages.tsx
  packages/ai-core/src/components/QueryControls.tsx
  packages/ai-core/src/components/SessionChatManager.tsx
  packages/ai-core/src/components/SessionChatProvider.tsx
  packages/ai-core/src/components/defaultChatRendering.tsx
  packages/ai-core/src/hooks/useSessionChat.ts
  packages/ai-core/src/index.ts
  packages/ai-core/src/sessionChatRuntime.ts
  packages/ai-core/src/timeouts.ts
  packages/ai-core/src/utils.ts
  packages/deck/src/useDeckMapFitToBounds.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(docs): harden release deployment workflow
  .github/workflows/deploy-docs.yml
  .github/workflows/npm-publish.yml
Due: none

fix(docs): validate release tags as semver
  .github/workflows/deploy-docs.yml
Due: none

fix(room-store): tolerate unavailable persistence storage
  packages/room-store/__tests__/createPersistHelpers.test.ts
  packages/room-store/src/createPersistHelpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(docs): include VitePress output in artifact
  .github/workflows/deploy-docs.yml
Due: none

Path conditions:
  eslint --config .eslintrc.js --max-warnings=50: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{ts,tsx,js})
  turbo lint --filter=@sqlrooms/* --: any of: **/*.{ts,tsx,js}
  uv run --project python ruff check --fix: any of: python/**/*.py
