Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

mock file-saver for sql-editor tests
  packages/sql-editor/jest.config.js
  packages/sql-editor/test/__mocks__/file-saver.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix monorepo jest workspace resolution and esm test runner
  package.json
  packages/preset-jest/base.js
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

update layout tests for removed command integration
  packages/layout/__tests__/LayoutSlice.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

mock duckdb module for sql-editor jest
  packages/sql-editor/jest.config.js
  packages/sql-editor/test/__mocks__/duckdb.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

mock utils module for sql-editor jest
  packages/sql-editor/jest.config.js
  packages/sql-editor/test/__mocks__/utils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix cosmos imports and tests for current graph package
  packages/cosmos/__tests__/CosmosSlice.test.ts
  packages/cosmos/__tests__/useHoverState.test.ts
  packages/cosmos/src/CosmosGraph.tsx
  packages/cosmos/src/CosmosSlice.ts
  packages/cosmos/src/CosmosSliceConfig.ts
  packages/cosmos/src/hooks/useHoverState.ts
  packages/cosmos/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

use direct duckdb slice import in sql-editor tests
  packages/sql-editor/__tests__/SqlEditorSlice.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

clear node options for cosmos jest scripts
  packages/cosmos/package.json
Due: none

mock duckdb wasm package in duckdb Jest tests
  packages/duckdb/jest.config.js
  packages/duckdb/test/__mocks__/duckdb-wasm.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix sql-editor jest mapper precedence
  packages/sql-editor/jest.config.js
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

fix room-store tests for jest esm globals
  packages/room-store/__tests__/CommandSlice.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

stabilize cosmos graph mock behavior in tests
  packages/cosmos/__tests__/CosmosSlice.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix duckdb jest mapper precedence for connector mock
  packages/duckdb/jest.config.js
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

stabilize layout and duckdb tests under jest
  packages/duckdb/jest.config.js
  packages/duckdb/test/__mocks__/createDuckDbConnector.ts
  packages/layout/__tests__/LayoutSlice.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

mock room-store for duckdb package tests
  packages/duckdb/jest.config.js
  packages/duckdb/test/__mocks__/room-store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

remove layout test runtime dependency on react-mosaic
  packages/layout/src/mosaic/mosaic-utils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix stale room-store tests and layout slice test imports
  packages/layout/src/LayoutSlice.ts
  packages/room-store/__tests__/CommandSlice.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix sql-editor immutability in slice and tests
  packages/sql-editor/__tests__/SqlEditorSlice.test.ts
  packages/sql-editor/src/SqlEditorSlice.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix ai-core jest compatibility for openassistant utils
  packages/ai-core/__tests__/AiSlice.test.ts
  packages/ai-core/jest.config.js
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/test/__mocks__/openassistant-utils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix room-shell no-test failure and sync lockfile
  packages/room-shell/package.json
  pnpm-lock.yaml
Due: none

lazy-load default wasm connector in duckdb slice
  packages/duckdb/src/DuckDbSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

mock cuid2 for sql-editor jest tests
  packages/sql-editor/jest.config.js
  packages/sql-editor/test/__mocks__/cuid2.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

mock d3-dsv for sql-editor tests
  packages/sql-editor/jest.config.js
  packages/sql-editor/test/__mocks__/d3-dsv.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

remove cosmos runtime dependency on room-shell
  packages/cosmos/__tests__/CosmosSlice.test.ts
  packages/cosmos/src/CosmosSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

avoid room-store index tsx import in duckdb tests
  packages/duckdb/__tests__/DuckDbSlice.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

remove sql-editor runtime dependency on room-shell
  packages/sql-editor/src/SqlEditorSlice.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix duckdb connector typing and schema load init
  packages/duckdb/src/DuckDbSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(commands): add surface-aware command core and multi-slice input commands
  packages/ai-core/src/AiSlice.ts
  packages/ai/src/tools/commandTools.ts
  packages/ai/src/tools/defaultTools.ts
  packages/duckdb/src/DuckDbSlice.ts
  packages/layout/src/LayoutSlice.ts
  packages/room-shell/src/RoomShellCommandPalette.tsx
  packages/room-shell/src/RoomShellSlice.ts
  packages/room-shell/src/index.ts
  packages/room-store/src/CommandAdapters.ts
  packages/room-store/src/CommandSlice.ts
  packages/room-store/src/index.ts
  packages/sql-editor/src/SqlEditorSlice.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore(room-shell): declare zod dependency for command schemas
  packages/room-shell/package.json
  pnpm-lock.yaml
Due: none

fix ci knip dependency metadata and remove dead mosaic index
  packages/ai-core/package.json
  packages/cosmos/package.json
  packages/layout/package.json
  packages/layout/src/mosaic/index.ts
  packages/room-shell/package.json
  packages/room-store/package.json
  packages/sql-editor/package.json
  packages/sql-editor/test/__mocks__/duckdb.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(room-shell): narrow active command check for custom input UI
  packages/room-shell/src/RoomShellCommandPalette.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix query-pwa build by adding workbox-window dependency
  examples/query-pwa/package.json
  pnpm-lock.yaml
Due: none

fix sql-editor test duckdb mock and declare core dependency
  packages/sql-editor/package.json
  packages/sql-editor/test/__mocks__/duckdb.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

lockfile
  pnpm-lock.yaml
Due: none

feat(room-shell): use Monaco JSON editor with command input schemas
  packages/room-shell/package.json
  packages/room-shell/src/RoomShellCommandPalette.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fixes
  packages/ai-core/src/components/tools/ToolErrorMessage.tsx
  packages/room-shell/src/RoomShellCommandPalette.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(room-store): handle non-function zod default values in schema export
  packages/room-store/src/CommandSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

supprt geojson XYZM
  packages/room-config/src/LoadOptions.ts
  packages/room-config/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --
