Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

docs(ai): document command runtime rollout
  apps/sqlrooms-cli-ui/README.md
  dev-docs/contributing/commands.md
  packages/ai/README.md
  packages/mosaic/README.md
Due: none

docs: add selected block system design spec
  docs/superpowers/specs/2026-06-23-selected-block-design.md
Due: none

Reject version changes during publish
  scripts/publish-sqlrooms-cli.mjs
Due: none

Remove publish-cli scripts
  package.json
Due: none

Document Python CLI release workflow
  apps/sqlrooms-cli-ui/README.md
  python/sqlrooms/README.md
Due: none

readme
  apps/sqlrooms-cli-ui/README.md
Due: none

fix(cli): declare room-store test dependency
  apps/sqlrooms-cli-ui/package.json
  pnpm-lock.yaml
Due: none

fix layer flickering on cross filtering
  packages/deck/src/DeckJsonMap.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): satisfy command layer build types
  apps/sqlrooms-cli-ui/src/__tests__/createDashboardCommands.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/createHtmlAppRevisionCommands.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/createWorksheetCommands.test.ts
  apps/sqlrooms-cli-ui/src/ai/createWorksheetAgentTool.ts
  apps/sqlrooms-cli-ui/src/context/createArtifactContextAiTools.ts
  apps/sqlrooms-cli-ui/src/createDashboardCommands.ts
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
  apps/sqlrooms-cli-ui/src/createWorksheetCommands.ts
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): address command layer review feedback
  apps/sqlrooms-cli-ui/src/__tests__/createWorksheetCommands.test.ts
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
  apps/sqlrooms-cli-ui/src/createWorksheetCommands.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add same-origin WS proxy and bump python package version
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/src/artifactTypes.tsx
  python/sqlrooms/package.json
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(deck): await dashboard adapter mutations
  packages/deck/__tests__/dashboard-ai-map.test.ts
  packages/deck/src/ai.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Rename app artifacts to app-builder
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/src/artifactTypeIds.ts
  apps/sqlrooms-cli-ui/src/artifactTypes.tsx
  apps/sqlrooms-cli-ui/src/createDashboardCommands.ts
  python/sqlrooms/package.json
  python/sqlrooms/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

remove invalid compat note
  scripts/publish-sqlrooms-cli.mjs
Due: none

fix black points by default; fixes to radius/width sliders
  packages/deck/src/MapSettings.tsx
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Add websocket auth for DuckDB proxy
  apps/sqlrooms-cli-ui/src/cliDatabaseInitialization.ts
  apps/sqlrooms-cli-ui/src/store.ts
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

chore: Add explicit Python CLI release workflow (#767)
  apps/sqlrooms-cli-ui/README.md
  apps/sqlrooms-cli-ui/src/artifactTypeIds.ts
  apps/sqlrooms-cli-ui/src/artifactTypes.tsx
  apps/sqlrooms-cli-ui/src/cliDatabaseInitialization.ts
  apps/sqlrooms-cli-ui/src/createDashboardCommands.ts
  apps/sqlrooms-cli-ui/src/store.ts
  package.json
  python/sqlrooms/README.md
  python/sqlrooms/package.json
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_cli.py
  python/sqlrooms/tests/test_launcher.py
  scripts/publish-sqlrooms-cli.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

field check changes
  packages/deck/src/MapSettings.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Remove hardcoded agent temperatures
  apps/sqlrooms-cli-ui/src/ai/createWorksheetAgentTool.ts
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
  packages/ai/src/skills/authoring/SkillAuthoringAgent.ts
  packages/mosaic/src/ai/dashboard/createDashboardAgentTool.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

address comments
  packages/ai-core/src/chatTransport.ts
  packages/ai-core/src/components/ContextUsageIndicator.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: token usage tracking in AI models and UI components (#710)
  apps/sqlrooms-cli-ui/src/createDashboardAgent.ts
  examples/ai-agent/src/skills/getModel.ts
  examples/ai-nextjs/src/app/api/chat/route.ts
  examples/ai-subagents/src/agents/TravelPlannerAgent.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/chatTransport.ts
  packages/ai-core/src/components/ContextUsageIndicator.tsx
  packages/ai-core/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

ai instructions change
  packages/deck/src/ai.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: Remove hardcoded agent temperatures (#769)
  apps/sqlrooms-cli-ui/src/ai/createWorksheetAgentTool.ts
  apps/sqlrooms-cli-ui/src/createHtmlAppAgent.ts
  packages/ai/src/skills/authoring/SkillAuthoringAgent.ts
  packages/mosaic/src/ai/dashboard/createDashboardAgentTool.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: add map settings to sidebar too
  apps/sqlrooms-cli-ui/src/workspace/block-settings/DashboardMapSettings.tsx
  apps/sqlrooms-cli-ui/src/workspace/block-settings/registry.ts
  packages/deck/src/dashboard.tsx
  packages/deck/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: add map settings to sidebar
  apps/sqlrooms-cli-ui/src/workspace/WorksheetMapBlockRenderer.tsx
  apps/sqlrooms-cli-ui/src/workspace/block-settings/BlockMapSettings.tsx
  apps/sqlrooms-cli-ui/src/workspace/block-settings/DashboardMapSettings.tsx
  apps/sqlrooms-cli-ui/src/workspace/block-settings/registry.ts
  packages/deck/src/MapSettings.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: reset selected block on artifact change
  apps/sqlrooms-cli-ui/src/workspace/ArtifactsContainerPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

revert logic related to displaying generated columns
  packages/deck/src/MapSettings.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix for categorical color scale
  packages/deck/src/MapSettings.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

nit for heatmap
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/json/extractColorScaleLegends.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix slider radius/width units
  packages/deck/src/MapSettings.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

update ai instructions
  packages/deck/src/ai.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: remove selected block system design document
  docs/superpowers/specs/2026-06-23-selected-block-design.md
Due: none

fix: circular deps
  .husky/pre-push
  package.json
  packages/mosaic/src/charts/ChartSettingsPanel.tsx
  packages/mosaic/src/data-table-explorer/DataTableSettingsPanel.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

docs: add TipTap block selection migration design
  docs/superpowers/specs/2026-06-25-tiptap-block-selection-migration-design.md
Due: none

feat: enable TipTap selection for stateful blocks
  packages/documents/src/BlockDocumentEditor/extensions/BlockDocumentStatefulBlockNode.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: enable TipTap selection for chart blocks
  packages/documents/src/BlockDocumentEditor/extensions/BlockDocumentChartNode.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: use TipTap selected prop for stateful block outline
  packages/documents/src/BlockDocumentEditor/node-views/BlockDocumentStatefulBlockNodeView.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --
