Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

feat(cli): add worksheet charts maps profile
  apps/sqlrooms-cli-ui/docs/capability-profiles.md
  apps/sqlrooms-cli-ui/src/__tests__/__snapshots__/cliCapabilityProfiles.test.ts.snap
  apps/sqlrooms-cli-ui/src/__tests__/cliCapabilityProfiles.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/createCliBlockDocumentCommands.test.ts
  apps/sqlrooms-cli-ui/src/ai/__tests__/createCliBlockDocumentAgentTool.test.ts
  apps/sqlrooms-cli-ui/src/ai/__tests__/createCliBlockDocumentAiTools.test.ts
  apps/sqlrooms-cli-ui/src/ai/createCliBlockDocumentAgentTool.ts
  apps/sqlrooms-cli-ui/src/ai/createCliBlockDocumentAiTools.ts
  apps/sqlrooms-cli-ui/src/createBlockDocumentAgent.ts
  apps/sqlrooms-cli-ui/src/createCliBlockDocumentCommands.ts
  apps/sqlrooms-cli-ui/src/profiles/index.ts
  apps/sqlrooms-cli-ui/src/profiles/resolveCliCapabilityProfile.ts
  apps/sqlrooms-cli-ui/src/profiles/types.ts
  apps/sqlrooms-cli-ui/src/profiles/validateCliCapabilityProfile.ts
  apps/sqlrooms-cli-ui/src/profiles/worksheetChartsMapsProfile.ts
  apps/sqlrooms-cli-ui/src/statefulBlockArtifactConfigs.ts
  apps/sqlrooms-cli-ui/src/store.ts
  python/sqlrooms/README.md
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_cli.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

docs(artifacts): document the config entry point and its resolution scope
  packages/artifacts/README.md
  packages/artifacts/src/ArtifactsSliceConfig.ts
  packages/artifacts/src/config.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(artifacts,ai-config): give Node consumers a React-free entry point (#866)
  packages/ai-config/src/migration/AnalysisSession-v0.25.0.ts
  packages/artifacts/README.md
  packages/artifacts/package.json
  packages/artifacts/src/ArtifactsSliceConfig.ts
  packages/artifacts/src/config.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

follow up
  packages/deck/README.md
  packages/deck/__tests__/createDeckJsonConfiguration.test.ts
  packages/deck/__tests__/mapResourceAuthoring.test.ts
  packages/deck/__tests__/preparedDatasetStore.test.ts
  packages/deck/__tests__/wrapGeometryAsWkb.test.ts
  packages/deck/src/DeckJsonMap.tsx
  packages/deck/src/DeckMapErrorOverlay.tsx
  packages/deck/src/DeckMapSurface.tsx
  packages/deck/src/datasets/PreparedDatasetStore.ts
  packages/deck/src/datasets/types.ts
  packages/deck/src/datasets/wrapGeometryAsWkb.ts
  packages/deck/src/index.ts
  packages/deck/src/json/createDeckJsonConfiguration.ts
  packages/deck/src/mapResourceAuthoring.ts
  packages/deck/src/prepare/detectGeometryColumn.ts
  packages/deck/src/prepare/prepareDeckDataset.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(preset-jest): transform workspace package ESM
  packages/preset-jest/base.js
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): enforce worksheet profile capabilities
  apps/sqlrooms-cli-ui/docs/capability-profiles.md
  apps/sqlrooms-cli-ui/src/__tests__/__snapshots__/cliCapabilityProfiles.test.ts.snap
  apps/sqlrooms-cli-ui/src/__tests__/assistantUtils.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/cliCapabilityProfiles.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/createDashboardCommands.test.ts
  apps/sqlrooms-cli-ui/src/__tests__/getRunContext.test.ts
  apps/sqlrooms-cli-ui/src/components/assistantUtils.ts
  apps/sqlrooms-cli-ui/src/components/useLocalFileLoader.ts
  apps/sqlrooms-cli-ui/src/context/getRunContext.ts
  apps/sqlrooms-cli-ui/src/profiles/worksheetChartsMapsProfile.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/workspace/ArtifactsContainerPanel.tsx
  packages/documents/README.md
  packages/documents/__tests__/BlockDocumentCommands.test.ts
  packages/documents/src/BlockDocumentCommands.ts
  python/sqlrooms/sqlrooms/cli.py
  python/sqlrooms/sqlrooms/web/launcher.py
  python/sqlrooms/tests/test_cli.py
  python/sqlrooms/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix(cli): clarify worksheet agent routing
  apps/sqlrooms-cli-ui/src/__tests__/createCliAiInstructions.test.ts
  apps/sqlrooms-cli-ui/src/ai/__tests__/createCliBlockDocumentAgentTool.test.ts
  apps/sqlrooms-cli-ui/src/ai/createCliBlockDocumentAgentTool.ts
  apps/sqlrooms-cli-ui/src/createCliAiInstructions.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Enforce capability profiles for AI context and block mutations
  apps/sqlrooms-cli-ui/src/context/createArtifactContextAiTools.ts
  apps/sqlrooms-cli-ui/src/context/getRunContext.ts
  packages/artifacts/README.md
  packages/artifacts/__tests__/ArtifactContextAiTools.test.ts
  packages/artifacts/src/ai/artifactContextTools.ts
  packages/documents/__tests__/BlockDocumentCommands.test.ts
  packages/documents/src/BlockDocumentCommands.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(preset-jest): transform workspace package ESM (#875)
  packages/preset-jest/base.js
Due: prettier --write, turbo lint --filter=@sqlrooms/* --

chore: require Node 24.9 for repository tooling
  CONTRIBUTING.md
  README.md
  dev-docs/contributing/cursor-cloud.md
  dev-docs/roadmaps/sqlrooms-cli-first-launch.md
  examples/ai-nextjs/README.md
  package.json
Due: none

chore: enforce Node engine for workspace installs
  pnpm-workspace.yaml
Due: none

fix(cli): preserve constrained worksheet context
  apps/sqlrooms-cli-ui/src/__tests__/createCliBlockDocumentCommands.test.ts
  apps/sqlrooms-cli-ui/src/createCliBlockDocumentCommands.ts
  packages/artifacts/__tests__/ArtifactContextAiTools.test.ts
  packages/artifacts/src/ai/artifactContextTools.ts
  packages/documents/src/BlockDocumentCommands.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

chore: require Node 24.9 for repository tooling (#876)
  CONTRIBUTING.md
  README.md
  dev-docs/contributing/cursor-cloud.md
  dev-docs/roadmaps/sqlrooms-cli-first-launch.md
  examples/ai-nextjs/README.md
  package.json
  pnpm-workspace.yaml
Due: none

refactor(cli): simplify capability profile state
  apps/sqlrooms-cli-ui/docs/capability-profiles.md
  apps/sqlrooms-cli-ui/src/__tests__/__snapshots__/cliCapabilityProfiles.test.ts.snap
  apps/sqlrooms-cli-ui/src/profiles/defaultProfile.ts
  apps/sqlrooms-cli-ui/src/profiles/experimentalProfile.ts
  apps/sqlrooms-cli-ui/src/profiles/index.ts
  apps/sqlrooms-cli-ui/src/profiles/types.ts
  apps/sqlrooms-cli-ui/src/profiles/validateCliCapabilityProfile.ts
  apps/sqlrooms-cli-ui/src/profiles/worksheetChartsMapsProfile.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/src/workspace/WorksheetArtifact.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(artifacts): persist filtered run context
  packages/artifacts/__tests__/ArtifactContextAiTools.test.ts
  packages/artifacts/src/ai/artifactContextTools.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(documents): protect disabled stateful blocks
  packages/documents/README.md
  packages/documents/__tests__/BlockDocumentStatefulBlockRendererContext.test.ts
  packages/documents/src/BlockDocumentEditor/BlockDocumentBlockControls.tsx
  packages/documents/src/BlockDocumentEditor/node-views/BlockDocumentStatefulBlockNodeView.tsx
  packages/documents/src/BlockDocumentStatefulBlockRendererContext.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): harden disabled capability handling
  apps/sqlrooms-cli-ui/src/__tests__/worksheetStatefulBlockRenderers.test.tsx
  apps/sqlrooms-cli-ui/src/workspace/WorksheetArtifact.tsx
  apps/sqlrooms-cli-ui/src/workspace/worksheetStatefulBlockRenderers.tsx
  packages/artifacts/__tests__/ArtifactContextAiTools.test.ts
  packages/artifacts/src/ai/artifactContextTools.ts
  packages/documents/__tests__/BlockDocumentStatefulBlockRendererContext.test.ts
  packages/documents/__tests__/BlockDocumentStatefulBlockRendererContext.test.tsx
  packages/documents/package.json
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(deck): sync heatmap color scale with settings UI (#870)
  packages/deck/__tests__/heatmapDefaults.test.ts
  packages/deck/__tests__/mapLayerConfigUtils.test.ts
  packages/deck/src/MapSettings.tsx
  packages/deck/src/json/heatmapDefaults.ts
  packages/deck/src/mapLayerConfigUtils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(evals): add behavioral evaluation core
  packages/evals/README.md
  packages/evals/jest.config.js
  packages/evals/package.json
  packages/evals/src/__tests__/evidence.test.ts
  packages/evals/src/__tests__/oracle.test.ts
  packages/evals/src/__tests__/promptfoo.test.ts
  packages/evals/src/__tests__/scenario.test.ts
  packages/evals/src/__tests__/scriptedModel.test.ts
  packages/evals/src/evidence.ts
  packages/evals/src/index.ts
  packages/evals/src/json.ts
  packages/evals/src/oracle.ts
  packages/evals/src/promptfoo/index.ts
  packages/evals/src/scenario.ts
  packages/evals/src/scriptedModel.ts
  packages/evals/tsconfig.json
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(evals): address review feedback
  packages/evals/src/__tests__/evidence.test.ts
  packages/evals/src/__tests__/oracle.test.ts
  packages/evals/src/evidence.ts
  packages/evals/src/oracle.ts
  packages/evals/typedoc.js
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(evals): require complete scenario evaluation
  packages/evals/src/__tests__/oracle.test.ts
  packages/evals/src/__tests__/scenario.test.ts
  packages/evals/src/oracle.ts
  packages/evals/src/scenario.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(evals): isolate schema defaults
  packages/evals/eslint.config.js
  packages/evals/src/__tests__/evidence.test.ts
  packages/evals/src/evidence.ts
  packages/evals/src/oracle.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(evals): harden evaluation validation
  packages/evals/README.md
  packages/evals/src/__tests__/evidence.test.ts
  packages/evals/src/__tests__/oracle.test.ts
  packages/evals/src/__tests__/promptfoo.test.ts
  packages/evals/src/evidence.ts
  packages/evals/src/oracle.ts
  packages/evals/src/promptfoo/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(cli): add in-process eval target
  apps/sqlrooms-cli-ui/jest.config.js
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/artifactTypes.tsx
  apps/sqlrooms-cli-ui/src/context/createArtifactContextAiTools.ts
  apps/sqlrooms-cli-ui/src/createBlockDocumentAgent.ts
  apps/sqlrooms-cli-ui/src/createCliAiInstructions.ts
  apps/sqlrooms-cli-ui/src/createCliAiTools.ts
  apps/sqlrooms-cli-ui/src/createCliWorksheetArtifactDefinition.ts
  apps/sqlrooms-cli-ui/src/evals/README.md
  apps/sqlrooms-cli-ui/src/evals/__tests__/createCliEvalTarget.test.ts
  apps/sqlrooms-cli-ui/src/evals/createCliEvalTarget.ts
  apps/sqlrooms-cli-ui/src/evals/fixture.ts
  apps/sqlrooms-cli-ui/src/evals/snapshot.ts
  apps/sqlrooms-cli-ui/src/registerCliCapabilityProfileCommands.ts
  apps/sqlrooms-cli-ui/src/store.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): isolate headless eval runs
  apps/sqlrooms-cli-ui/src/createCliWorksheetArtifactDefinition.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/createCliEvalTarget.test.ts
  apps/sqlrooms-cli-ui/src/evals/createCliEvalTarget.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): harden headless eval isolation
  apps/sqlrooms-cli-ui/src/evals/__tests__/createCliEvalTarget.test.ts
  apps/sqlrooms-cli-ui/src/evals/createCliEvalTarget.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(evals): add behavioral evaluation core (#862)
  packages/evals/README.md
  packages/evals/eslint.config.js
  packages/evals/jest.config.js
  packages/evals/package.json
  packages/evals/src/__tests__/evidence.test.ts
  packages/evals/src/__tests__/oracle.test.ts
  packages/evals/src/__tests__/promptfoo.test.ts
  packages/evals/src/__tests__/scenario.test.ts
  packages/evals/src/__tests__/scriptedModel.test.ts
  packages/evals/src/evidence.ts
  packages/evals/src/index.ts
  packages/evals/src/json.ts
  packages/evals/src/oracle.ts
  packages/evals/src/promptfoo/index.ts
  packages/evals/src/scenario.ts
  packages/evals/src/scriptedModel.ts
  packages/evals/tsconfig.json
  packages/evals/typedoc.js
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): omit undefined eval event names
  apps/sqlrooms-cli-ui/src/evals/createCliEvalTarget.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(cli): add in-process eval target (#863)
  apps/sqlrooms-cli-ui/jest.config.js
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/artifactTypes.tsx
  apps/sqlrooms-cli-ui/src/context/createArtifactContextAiTools.ts
  apps/sqlrooms-cli-ui/src/createBlockDocumentAgent.ts
  apps/sqlrooms-cli-ui/src/createCliAiInstructions.ts
  apps/sqlrooms-cli-ui/src/createCliAiTools.ts
  apps/sqlrooms-cli-ui/src/createCliWorksheetArtifactDefinition.ts
  apps/sqlrooms-cli-ui/src/evals/README.md
  apps/sqlrooms-cli-ui/src/evals/__tests__/createCliEvalTarget.test.ts
  apps/sqlrooms-cli-ui/src/evals/createCliEvalTarget.ts
  apps/sqlrooms-cli-ui/src/evals/fixture.ts
  apps/sqlrooms-cli-ui/src/evals/snapshot.ts
  apps/sqlrooms-cli-ui/src/registerCliCapabilityProfileCommands.ts
  apps/sqlrooms-cli-ui/src/store.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(evals): add nightly suite and run observatory
  .github/workflows/evals-nightly.yml
  .github/workflows/pr-checks.yml
  apps/sqlrooms-cli-ui/evals/CALIBRATION.md
  apps/sqlrooms-cli-ui/evals/README.md
  apps/sqlrooms-cli-ui/evals/promptfooconfig.yaml
  apps/sqlrooms-cli-ui/evals/vite.config.ts
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/evals/createCliEvalTarget.ts
  apps/sqlrooms-cli-ui/src/evals/promptfooProvider.ts
  apps/sqlrooms-cli-ui/src/evals/scenarios.ts
  apps/sqlrooms-eval-observatory/README.md
  apps/sqlrooms-eval-observatory/index.html
  apps/sqlrooms-eval-observatory/package.json
  apps/sqlrooms-eval-observatory/src/EvalObservatory.tsx
  apps/sqlrooms-eval-observatory/src/main.tsx
  apps/sqlrooms-eval-observatory/src/styles.css
  apps/sqlrooms-eval-observatory/src/vite-env.d.ts
  apps/sqlrooms-eval-observatory/tsconfig.app.json
  apps/sqlrooms-eval-observatory/tsconfig.json
  apps/sqlrooms-eval-observatory/tsconfig.node.json
  apps/sqlrooms-eval-observatory/vite.config.ts
  knip.json
  package.json
  packages/evals/README.md
  packages/evals/package.json
  packages/evals/src/__tests__/promptfooSqlite.test.ts
  packages/evals/src/promptfoo/calibration.ts
  packages/evals/src/promptfoo/export.ts
  packages/evals/src/promptfoo/index.ts
  packages/evals/src/promptfoo/readModel.ts
  packages/evals/src/promptfoo/sqlite.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(evals): address observatory review feedback
  .github/workflows/evals-nightly.yml
  apps/sqlrooms-cli-ui/src/evals/__tests__/createCliEvalTarget.test.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/scenarios.test.ts
  apps/sqlrooms-cli-ui/src/evals/createCliEvalTarget.ts
  apps/sqlrooms-cli-ui/src/evals/scenarios.ts
  apps/sqlrooms-eval-observatory/src/EvalObservatory.tsx
  apps/sqlrooms-eval-observatory/src/styles.css
  knip.json
  packages/evals/README.md
  packages/evals/package.json
  packages/evals/src/__tests__/promptfooSqlite.test.ts
  packages/evals/src/promptfoo/export.ts
  packages/evals/src/promptfoo/index.ts
  packages/evals/src/promptfoo/markdown.ts
  packages/evals/src/promptfoo/readModel.ts
  packages/evals/src/promptfoo/sqlite.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(evals): address follow-up review feedback
  apps/sqlrooms-eval-observatory/src/styles.css
  packages/evals/src/__tests__/promptfooSqlite.test.ts
  packages/evals/src/promptfoo/markdown.ts
  packages/evals/src/promptfoo/sqlite.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(evals): retain complete canary evidence
  apps/sqlrooms-cli-ui/src/evals/__tests__/createCliEvalTarget.test.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/scenarios.test.ts
  apps/sqlrooms-cli-ui/src/evals/createCliEvalTarget.ts
  apps/sqlrooms-cli-ui/src/evals/scenarios.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(evals): tighten canary cohort and map checks
  apps/sqlrooms-cli-ui/src/evals/__tests__/scenarios.test.ts
  apps/sqlrooms-cli-ui/src/evals/scenarios.ts
  packages/evals/src/__tests__/promptfooSqlite.test.ts
  packages/evals/src/promptfoo/readModel.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(evals): add nightly suite and run observatory (#864)
  .github/workflows/evals-nightly.yml
  .github/workflows/pr-checks.yml
  apps/sqlrooms-cli-ui/evals/CALIBRATION.md
  apps/sqlrooms-cli-ui/evals/README.md
  apps/sqlrooms-cli-ui/evals/promptfooconfig.yaml
  apps/sqlrooms-cli-ui/evals/vite.config.ts
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/evals/__tests__/createCliEvalTarget.test.ts
  apps/sqlrooms-cli-ui/src/evals/__tests__/scenarios.test.ts
  apps/sqlrooms-cli-ui/src/evals/createCliEvalTarget.ts
  apps/sqlrooms-cli-ui/src/evals/promptfooProvider.ts
  apps/sqlrooms-cli-ui/src/evals/scenarios.ts
  apps/sqlrooms-eval-observatory/README.md
  apps/sqlrooms-eval-observatory/index.html
  apps/sqlrooms-eval-observatory/package.json
  apps/sqlrooms-eval-observatory/src/EvalObservatory.tsx
  apps/sqlrooms-eval-observatory/src/main.tsx
  apps/sqlrooms-eval-observatory/src/styles.css
  apps/sqlrooms-eval-observatory/src/vite-env.d.ts
  apps/sqlrooms-eval-observatory/tsconfig.app.json
  apps/sqlrooms-eval-observatory/tsconfig.json
  apps/sqlrooms-eval-observatory/tsconfig.node.json
  apps/sqlrooms-eval-observatory/vite.config.ts
  knip.json
  package.json
  packages/evals/README.md
  packages/evals/package.json
  packages/evals/src/__tests__/promptfooSqlite.test.ts
  packages/evals/src/promptfoo/calibration.ts
  packages/evals/src/promptfoo/export.ts
  packages/evals/src/promptfoo/index.ts
  packages/evals/src/promptfoo/markdown.ts
  packages/evals/src/promptfoo/readModel.ts
  packages/evals/src/promptfoo/sqlite.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(evals): correct Promptfoo oracle assertions
  apps/sqlrooms-cli-ui/evals/promptfooconfig.yaml
Due: none

feat(evals): add trajectory comparison
  apps/sqlrooms-eval-observatory/README.md
  apps/sqlrooms-eval-observatory/package.json
  apps/sqlrooms-eval-observatory/src/EvalObservatory.tsx
  apps/sqlrooms-eval-observatory/src/TrajectoryGraph.tsx
  apps/sqlrooms-eval-observatory/src/styles.css
  packages/evals/README.md
  packages/evals/src/__tests__/trajectory.test.ts
  packages/evals/src/promptfoo/readModel.ts
  packages/evals/src/promptfoo/trajectory.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(evals): resolve Cosmos ESM entry
  apps/sqlrooms-eval-observatory/vite.config.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(cli): route worksheet creation through agent (#872)
  apps/sqlrooms-cli-ui/src/__tests__/createCliAiInstructions.test.ts
  apps/sqlrooms-cli-ui/src/ai/__tests__/createCliBlockDocumentAgentTool.test.ts
  apps/sqlrooms-cli-ui/src/ai/createCliBlockDocumentAgentTool.ts
  apps/sqlrooms-cli-ui/src/createCliAiInstructions.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Path conditions:
  eslint --config .eslintrc.js --max-warnings=50: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{ts,tsx,js})
  turbo lint --filter=@sqlrooms/* --: any of: **/*.{ts,tsx,js}
  uv run --project python ruff check --fix: any of: python/**/*.py
