Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["eslint --config .eslintrc.js --max-warnings=50", "prettier --write"]
}

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js}": [
    "turbo lint --filter=@sqlrooms/* --",
    "prettier --write"
  ],
  "python/**/*.py": [
    "uv run --project python ruff check --fix"
  ]
}

pr feedback
  examples/app-builder/src/tools/getFileContent/getFileContentTool.ts
  examples/app-builder/src/tools/listFiles/createListFilesTool.ts
  examples/app-builder/src/tools/updateFileContent/updateFileContentTool.ts
  packages/webcontainer/src/WebContainerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: App builder in CLI
  .cursor/plans/sqlrooms_cli_app-builder_plan_(adjusted)_174b3a95.plan.md
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/components/AppBuilderSheet.tsx
  apps/sqlrooms-cli-ui/src/components/SheetsPanel.tsx
  apps/sqlrooms-cli-ui/src/projectApi.ts
  apps/sqlrooms-cli-ui/src/projectModel.ts
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/vite.config.ts
  packages/cells/src/components/SheetsTabBar.tsx
  packages/cells/src/types.ts
  packages/webcontainer/src/WebContainerSlice.ts
  pnpm-lock.yaml
  python/sqlrooms-cli/package.json
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-server/sqlrooms/server/db_async.py
  scripts/dev.mjs
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

knip
  apps/sqlrooms-cli-ui/package.json
  examples/app-builder/package.json
  knip.json
Due: none

fix test
  python/sqlrooms-cli/tests/test_cli.py
Due: uv run --project python ruff check --fix

lockfile
  pnpm-lock.yaml
Due: none

fixes
  examples/app-builder/package.json
  pnpm-lock.yaml
Due: none

save in app state
  .cursor/plans/sqlrooms_cli_app-builder_plan_(adjusted)_174b3a95.plan.md
  apps/sqlrooms-cli-ui/src/components/AppBuilderSheet.tsx
  apps/sqlrooms-cli-ui/src/projectApi.ts
  apps/sqlrooms-cli-ui/src/projectModel.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/room-shell/src/RoomShellSlice.ts
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-server/sqlrooms/server/db_async.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

improvements
  apps/sqlrooms-cli-ui/app-scaffolds/get-started/index.html
  apps/sqlrooms-cli-ui/app-scaffolds/get-started/package.json
  apps/sqlrooms-cli-ui/app-scaffolds/get-started/src/App.jsx
  apps/sqlrooms-cli-ui/app-scaffolds/get-started/src/main.jsx
  apps/sqlrooms-cli-ui/app-scaffolds/get-started/vite.config.js
  apps/sqlrooms-cli-ui/app-scaffolds/scaffolds.generated.json
  apps/sqlrooms-cli-ui/plugins/generateScaffolds.ts
  apps/sqlrooms-cli-ui/plugins/scaffolds.ts
  apps/sqlrooms-cli-ui/src/components/AppBuilderSheet.tsx
  apps/sqlrooms-cli-ui/src/store.ts
  apps/sqlrooms-cli-ui/vite.config.ts
  examples/app-builder/src/components/CodeView.tsx
  examples/app-builder/src/components/Room.tsx
  examples/canvas/src/store.ts
  packages/canvas/src/CanvasSlice.ts
  packages/webcontainer/package.json
  packages/webcontainer/src/WebContainerSlice.ts
  packages/webcontainer/src/components/BrowserView.tsx
  packages/webcontainer/src/components/CodeView.tsx
  packages/webcontainer/src/components/TerminalView.tsx
  packages/webcontainer/src/components/WebContainer.tsx
  packages/webcontainer/src/components/WebContainerWorkbench.tsx
  packages/webcontainer/src/components/filetree/FileTreeView.tsx
  packages/webcontainer/src/components/filetree/fileSystemTreeToNodes.ts
  packages/webcontainer/src/index.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

lockfile
  examples/app-builder/package.json
  pnpm-lock.yaml
Due: none

- allow manual trigger - trigger when .github/workflows/pr-checks-python.yml file changes
  .github/workflows/pr-checks-python.yml
Due: none

feat(ui): add shadcn-style sidebar and use in multi-room
  examples/multi-room/package.json
  examples/multi-room/src/RoomPage.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feedback
  examples/app-builder/src/components/TerminalView.tsx
  examples/app-builder/src/tools/listFiles/createListFilesTool.ts
  examples/app-builder/src/tools/updateFileContent/updateFileContentTool.ts
  packages/webcontainer/src/WebContainerSlice.ts
  packages/webcontainer/src/setFileContentInTree.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

webcontainer -> webContainer
  examples/app-builder/src/components/TerminalView.tsx
  examples/app-builder/src/store/store.ts
  examples/app-builder/src/tools/getFileContent/getFileContentTool.ts
  examples/app-builder/src/tools/listFiles/createListFilesTool.ts
  examples/app-builder/src/tools/updateFileContent/updateFileContentTool.ts
  packages/webcontainer/src/WebContainerSlice.ts
  packages/webcontainer/src/components/BrowserView.tsx
  packages/webcontainer/src/components/CodeView.tsx
  packages/webcontainer/src/components/TerminalView.tsx
  packages/webcontainer/src/components/filetree/FileTreeView.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

webcontainer -> webContainer
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

webcontainer -> webContainer
  apps/sqlrooms-cli-ui/src/components/AppBuilderSheet.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

no aggressive initialization
  apps/sqlrooms-cli-ui/src/components/AppBuilderSheet.tsx
  apps/sqlrooms-cli-ui/src/store.ts
  packages/webcontainer/src/WebContainerSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

removed unused file
  examples/app-builder/src/components/TerminalView.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat(ui): align sidebar with shadcn base v4 API
  examples/multi-room/src/RoomPage.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/hooks/use-mobile.ts
  packages/ui/src/index.ts
  packages/ui/tailwind-preset.css
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix(ui): make sidebar skeleton width deterministic
  packages/ui/src/components/sidebar.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

delete plans
  .cursor/plans/cells_module_architecture_review_d232d6c4.plan.md
  .cursor/plans/extensible_cell_types_a0d19eef.plan.md
  .cursor/plans/extensible_cells_and_dagslice_merge_d21cb4bf.plan.md
  .cursor/plans/mosaic_client_abstraction_fea347b1.plan.md
  .cursor/plans/mosaic_client_state_refactor_57fc8f4c.plan.md
  .cursor/plans/multi-db-duckdb-core-architecture_b61e5166.plan.md
  .cursor/plans/refactor_example_apps_5968b022.plan.md
  .cursor/plans/sqlrooms_cli_app-builder_plan_(adjusted)_174b3a95.plan.md
  .cursor/plans/store_cell_results_directly_c642850f.plan.md
  .cursor/plans/typed_sheets_architecture_db76d267.plan.md
  .cursor/plans/unified_cell_architecture_a10fd68f.plan.md
  .cursor/plans/unified_cells_architecture_993ea118.plan.md
  .cursor/plans/unified_sheets_architecture_2b482395.plan.md
Due: none

gitignore
  .gitignore
Due: none

feat(cli): add scalable bridge registry with Snowflake connector
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/db/src/bridge.ts
  pnpm-lock.yaml
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/db_bridge.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_db_bridge.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

feedback
  apps/sqlrooms-cli-ui/app-scaffolds/get-started/package.json
  apps/sqlrooms-cli-ui/app-scaffolds/get-started/vite.config.js
  apps/sqlrooms-cli-ui/app-scaffolds/scaffolds.generated.json
  apps/sqlrooms-cli-ui/plugins/generateScaffolds.ts
  apps/sqlrooms-cli-ui/plugins/scaffolds.ts
  apps/sqlrooms-cli-ui/src/components/AppBuilderSheet.tsx
  apps/sqlrooms-cli-ui/src/helpers.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/webcontainer/src/WebContainerSlice.ts
  packages/webcontainer/src/components/CodeView.tsx
  packages/webcontainer/src/components/TerminalView.tsx
  packages/webcontainer/src/components/filetree/fileSystemTreeToNodes.ts
  packages/webcontainer/src/setFileContentInTree.ts
  python/sqlrooms-cli/package.json
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_cli.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

knip
  apps/sqlrooms-cli-ui/package.json
  knip.json
  pnpm-lock.yaml
Due: none

feedback
  apps/sqlrooms-cli-ui/plugins/scaffolds.ts
  apps/sqlrooms-cli-ui/src/components/AppBuilderSheet.tsx
  packages/webcontainer/src/WebContainerSlice.ts
  packages/webcontainer/src/components/TerminalView.tsx
  packages/webcontainer/src/components/filetree/fileSystemTreeToNodes.ts
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

feedback
  packages/db/src/DbSlice.ts
  packages/db/src/helpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Both core and non-core routed query materializations now share the same target-placement policy
  packages/cells/src/execution.ts
  packages/db/src/DbSlice.ts
  packages/db/src/types.ts
  python/sqlrooms-cli/package.json
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feedback
  apps/sqlrooms-cli-ui/src/components/AppBuilderSheet.tsx
  packages/webcontainer/src/WebContainerSlice.ts
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

materializing postgres
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/components/DataSourcesPanel.tsx
  apps/sqlrooms-cli-ui/src/layout.ts
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/db/src/DbSlice.ts
  packages/duckdb/src/connectors/WebSocketDuckDbConnector.ts
  python/sqlrooms-cli/pyproject.toml
  python/sqlrooms-server/sqlrooms/server/server.py
  python/uv.lock
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix: references were only rewritten to sheet_schema.result_1
  packages/cells/src/execution.ts
  packages/cells/src/sqlHelpers.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Avoid expensive dependency graph recomputation on each SQL keystroke
  packages/cells/src/cellsSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

proper postgres errors
  packages/db/src/bridge.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

binary arrow
  packages/db/src/bridge.ts
  python/sqlrooms-cli/sqlrooms/web/launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

deps
  apps/sqlrooms-cli-ui/package.json
  pnpm-lock.yaml
Due: none

arrow only
  apps/sqlrooms-cli-ui/src/store.ts
  packages/db/src/bridge.ts
  python/sqlrooms-cli/sqlrooms/web/db_bridge.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_db_bridge.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix: sanitize UIMessages before sending to LLM to prevent empty content errors
  packages/ai-core/src/chatTransport.ts
  packages/ai-core/src/utils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

arrow result streaming
  packages/db/src/DbSlice.ts
  packages/db/src/bridge.ts
  packages/db/src/types.ts
  python/sqlrooms-cli/sqlrooms/web/db_bridge.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

arrow-streaming.ts
  packages/db/src/DbSlice.ts
  packages/db/src/arrow-streaming.ts
  packages/db/src/bridge.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --
