Repository sqlrooms/sqlrooms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

fix: Layout: Prevent panel resize from being stuck (#660)
  packages/documents/src/MarkdownDocumentEditor/MarkdownDocumentEditorContent.tsx
  packages/documents/src/MarkdownDocumentEditor/MarkdownDocumentEditorToolbar.tsx
  packages/layout/src/node-renderers/split-node-renderer/SplitLayoutPanel.tsx
  packages/layout/src/node-renderers/split-node-renderer/SplitLayoutPanelGroup.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: add overlaid integration mode to DeckJsonMap
  packages/deck/README.md
  packages/deck/package.json
  packages/deck/src/DeckJsonMap.tsx
  packages/deck/src/index.ts
  packages/deck/src/types.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

update yaml
  pnpm-lock.yaml
Due: none

feat: Upgrade DuckDB to 1.5.3 (#659)
  apps/sqlrooms-cli-ui/package.json
  examples/ai-agent/package.json
  examples/ai-core/package.json
  examples/ai-rag/package.json
  examples/ai-subagents/package.json
  examples/ai/package.json
  examples/app-builder/package.json
  examples/cosmos-embedding/package.json
  examples/cosmos/package.json
  examples/layout/package.json
  examples/mosaic/package.json
  examples/nextjs/package.json
  examples/pivot/package.json
  examples/query-pwa/package.json
  examples/query-pwa/src/main.tsx
  examples/query-websocket/package.json
  examples/query/package.json
  package.json
  packages/duckdb/package.json
  pnpm-lock.yaml
  python/pyproject.toml
  python/sqlrooms-cli/pyproject.toml
  python/sqlrooms-cli/uv.lock
  python/sqlrooms-server/pyproject.toml
  python/sqlrooms-server/uv.lock
  python/uv.lock
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

follow up 1
  packages/deck/package.json
  packages/deck/src/DeckJsonMap.tsx
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

remove reverse controlled legacy mode
  packages/deck/README.md
  packages/deck/src/DeckJsonMap.tsx
  packages/deck/src/index.ts
  packages/deck/src/types.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

follow up 2
  packages/deck/src/DeckJsonMap.tsx
  packages/deck/src/useDeckLayersReadyRedraw.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Update SQLRooms AGENTS guidance
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  python/pyproject.toml
  python/sqlrooms-cli/pyproject.toml
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/uv.lock
  python/sqlrooms-server/pyproject.toml
  python/sqlrooms-server/sqlrooms/server/__main__.py
  python/sqlrooms-server/sqlrooms/server/cache.py
  python/sqlrooms-server/sqlrooms/server/query.py
  python/sqlrooms-server/uv.lock
  python/uv.lock
Due: uv run --project python ruff check --fix

Clarify SQLRooms repo instructions
  python/sqlrooms-server/sqlrooms/server/cache.py
  python/sqlrooms-server/sqlrooms/server/tests/test_cache.py
Due: uv run --project python ruff check --fix

fix: Update dependencies to address vulnerabilities (#663)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  python/pyproject.toml
  python/sqlrooms-cli/pyproject.toml
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/uv.lock
  python/sqlrooms-server/pyproject.toml
  python/sqlrooms-server/sqlrooms/server/__main__.py
  python/sqlrooms-server/sqlrooms/server/cache.py
  python/sqlrooms-server/sqlrooms/server/query.py
  python/sqlrooms-server/sqlrooms/server/tests/test_cache.py
  python/sqlrooms-server/uv.lock
  python/uv.lock
Due: uv run --project python ruff check --fix

Add sitemap and canonical metadata to docs
  docs/.vitepress/config.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feedback
  docs/.vitepress/config.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Upgrade typedoc markdown plugin and fix DuckDB docs exports
  package.json
  packages/duckdb/README.md
  packages/duckdb/src/connectors/createDuckDbConnector.ts
  packages/duckdb/src/index.ts
  packages/preset-typedoc/package.json
  patches/typedoc-plugin-markdown@4.9.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feedback
  docs/.vitepress/config.ts
  package.json
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

limit turbo concurrency
  package.json
Due: none

docs: canonical URLs and add sitemap metadata (#662)
  docs/.vitepress/config.ts
  package.json
  packages/duckdb/README.md
  packages/duckdb/src/connectors/createDuckDbConnector.ts
  packages/duckdb/src/index.ts
  packages/preset-typedoc/package.json
  patches/typedoc-plugin-markdown@4.9.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feedback
  apps/sqlrooms-cli-ui/src/store.ts
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

feat: add overlaid integration mode to DeckJsonMap (#661)
  packages/deck/README.md
  packages/deck/package.json
  packages/deck/src/DeckJsonMap.tsx
  packages/deck/src/types.ts
  packages/deck/src/useDeckLayersReadyRedraw.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Ai model persistence migration (#361)
  examples/ai/src/store.ts
  packages/ai-config/__tests__/AiSettingsSliceConfig.test.ts
  packages/ai-config/jest.config.js
  packages/ai-config/package.json
  packages/ai-config/src/AiSettingsSliceConfig.ts
  packages/room-store/__tests__/CommandSlice.test.ts
  packages/room-store/__tests__/createPersistHelpers.test.ts
  packages/room-store/package.json
  packages/room-store/src/createPersistHelpers.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Disable CLI CRDT hydration when sync is off
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Improve assistant model selection and session defaults
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
  apps/sqlrooms-cli-ui/src/components/AssistantPanel.tsx
  apps/sqlrooms-cli-ui/src/store.ts
  packages/ai-core/README.md
  packages/ai-core/__tests__/AiSlice.modelSelection.test.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/components/InlineApiKeyInput.tsx
  packages/ai-core/src/components/ModelSelector.tsx
  packages/ai-core/src/components/QueryControls.tsx
  packages/ai-core/src/components/SessionControls.tsx
  packages/ai-core/src/components/session/DeleteSessionButton.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: add tables to AI Agent context
  apps/sqlrooms-cli-ui/package.json
  apps/sqlrooms-cli-ui/src/ai-tools/listContextTables.ts
  apps/sqlrooms-cli-ui/src/ai-tools/readTableSchema.ts
  apps/sqlrooms-cli-ui/src/components/AssistantContextSelector.tsx
  apps/sqlrooms-cli-ui/src/components/useAssistantContextItems.ts
  apps/sqlrooms-cli-ui/src/createTableContextAiTools.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/ai-core/src/components/Chat.tsx
  packages/ai-core/src/components/ContextSelector.tsx
  packages/ai-core/src/components/QueryControls.tsx
  packages/ai-core/src/components/context/ContextSelector.tsx
  packages/ai-core/src/components/context/ContextSelectorBadge.tsx
  packages/ai-core/src/components/context/ContextSelectorContext.tsx
  packages/ai-core/src/components/context/ContextSelectorItem.tsx
  packages/ai-core/src/components/context/ContextSelectorItemIcon.tsx
  packages/ai-core/src/components/context/ContextSelectorSearchDropdown.tsx
  packages/ai-core/src/components/context/ContextSelectorSortableChip.tsx
  packages/ai-core/src/components/context/types.ts
  packages/ai-core/src/components/context/utils.ts
  packages/ai-core/src/index.ts
  packages/duckdb-core/src/index.ts
  packages/duckdb-core/src/schema-tree/schemaTreeUtils.ts
  packages/duckdb/src/index.ts
  pnpm-lock.yaml
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

refactor: improve type filtering and conditional rendering in ContextSelectorItemComponent
  packages/ai-core/src/components/context/ContextSelectorItem.tsx
  packages/ai-core/src/components/context/utils.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Polish assistant settings UI
  apps/sqlrooms-cli-ui/src/components/AssistantPanel.tsx
  apps/sqlrooms-cli-ui/src/components/AssistantSettingsDialog.tsx
  packages/ai-settings/src/components/AiModelParameters.tsx
  packages/ai-settings/src/components/AiModelsSettings.tsx
  packages/ai-settings/src/components/AiProvidersSettings.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

fix: correct import path for context selection utility functions
  packages/ai-core/__tests__/ContextSelector.test.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Guard AI settings autosave against stale saves
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Improve SQL editor completions for DuckDB functions and columns
  packages/duckdb-core/src/get-function-documentation.ts
  packages/duckdb-core/src/get-function-suggestions.ts
  packages/sql-editor/src/SqlEditor.tsx
  packages/sql-editor/src/SqlEditorModal.tsx
  packages/sql-editor/src/SqlEditorSlice.tsx
  packages/sql-editor/src/codemirror/extensions/completion.ts
  packages/sql-editor/src/codemirror/extensions/duck-db/duck-db.ts
  packages/sql-editor/src/codemirror/extensions/duck-db/duckdb-sql.ts
  packages/sql-editor/src/codemirror/extensions/sql-keymap.ts
  packages/sql-editor/src/codemirror/utils/schema-converter.ts
  packages/sql-editor/src/components/SqlEditorHeader.tsx
  packages/ui/src/components/tab-strip.tsx
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Prioritize SQL starters and delay completion docs
  packages/sql-editor/src/codemirror/extensions/completion.ts
  packages/sql-editor/src/codemirror/extensions/duck-db/duckdb-sql.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Improve SQL editor autocomplete for keywords columns and functions
  packages/sql-editor/src/codemirror/extensions/completion.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Update commit message generation
  packages/sql-editor/src/SqlEditorSlice.tsx
  packages/sql-editor/src/codemirror/extensions/completion.ts
  packages/sql-editor/src/codemirror/utils/schema-converter.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

knip
  packages/duckdb-core/package.json
  pnpm-lock.yaml
Due: none

Ensure repaired AI session stays open
  packages/ai-core/__tests__/AiSlice.modelSelection.test.ts
  packages/ai-core/src/AiSlice.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: Persist AI settings to TOML in the CLI (#653)
  apps/sqlrooms-cli-ui/src/components/AssistantChatContainer.tsx
  apps/sqlrooms-cli-ui/src/components/AssistantPanel.tsx
  apps/sqlrooms-cli-ui/src/components/AssistantSettingsDialog.tsx
  apps/sqlrooms-cli-ui/src/runtimeConfig.ts
  apps/sqlrooms-cli-ui/src/serverApi.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/ai-core/README.md
  packages/ai-core/__tests__/AiSlice.modelSelection.test.ts
  packages/ai-core/src/AiSlice.ts
  packages/ai-core/src/components/InlineApiKeyInput.tsx
  packages/ai-core/src/components/ModelSelector.tsx
  packages/ai-core/src/components/QueryControls.tsx
  packages/ai-core/src/components/SessionControls.tsx
  packages/ai-core/src/components/session/DeleteSessionButton.tsx
  packages/ai-settings/src/components/AiModelParameters.tsx
  packages/ai-settings/src/components/AiModelsSettings.tsx
  packages/ai-settings/src/components/AiProvidersSettings.tsx
  python/sqlrooms-cli/README.md
  python/sqlrooms-cli/sqlrooms/cli.py
  python/sqlrooms-cli/sqlrooms/web/launcher.py
  python/sqlrooms-cli/tests/test_cli.py
  python/sqlrooms-cli/tests/test_launcher.py
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --, uv run --project python ruff check --fix

refactor: remove list_context_tables tool and update error message in read_table_schema tool
  apps/sqlrooms-cli-ui/src/ai-tools/listContextTables.ts
  apps/sqlrooms-cli-ui/src/ai-tools/readTableSchema.ts
  apps/sqlrooms-cli-ui/src/createTableContextAiTools.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: add artifact context and run context utilities for AI tools
  apps/sqlrooms-cli-ui/src/context/createArtifactContextAiTools.ts
  apps/sqlrooms-cli-ui/src/context/formatRunContextInstructions.ts
  apps/sqlrooms-cli-ui/src/context/getRunContext.ts
  apps/sqlrooms-cli-ui/src/createDashboardToolDeps.ts
  apps/sqlrooms-cli-ui/src/store.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

Update repository instructions for SQLRooms
  dev-docs/tasks/shared-session-backend.md
  examples/ai-agent/package.json
  examples/ai-core/package.json
  examples/ai-rag/package.json
  examples/ai-subagents/package.json
  examples/ai/package.json
  examples/app-builder/package.json
  examples/cosmos-embedding/package.json
  examples/cosmos/package.json
  examples/layout/package.json
  examples/mosaic/package.json
  examples/nextjs/package.json
  examples/pivot/package.json
  examples/query-pwa/package.json
  examples/query-websocket/package.json
  examples/query/package.json
  packages/duckdb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: Deckgl example load error (downgrading duckdb-wasm) (#667)
  dev-docs/tasks/shared-session-backend.md
  examples/ai-agent/package.json
  examples/ai-core/package.json
  examples/ai-rag/package.json
  examples/ai-subagents/package.json
  examples/ai/package.json
  examples/app-builder/package.json
  examples/cosmos-embedding/package.json
  examples/cosmos/package.json
  examples/layout/package.json
  examples/mosaic/package.json
  examples/nextjs/package.json
  examples/pivot/package.json
  examples/query-pwa/package.json
  examples/query-websocket/package.json
  examples/query/package.json
  packages/duckdb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

doc: Shared Session Backend Plan
  dev-docs/tasks/shared-session-backend.md
Due: none

feat: implement table listing and schema reading tools for AI context
  apps/sqlrooms-cli-ui/src/createTableContextAiTools.ts
  apps/sqlrooms-cli-ui/src/store.ts
  packages/ai/src/tools/defaultTools.ts
  packages/ai/src/tools/tables/index.ts
  packages/ai/src/tools/tables/listTables.ts
  packages/ai/src/tools/tables/readTableSchema.ts
Due: eslint --config .eslintrc.js --max-warnings=50, prettier --write, turbo lint --filter=@sqlrooms/* --

feat: remove outdated ai dependency and update room-store devDependencies
  apps/sqlrooms-cli-ui/package.json
  packages/room-store/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint --config .eslintrc.js --max-warnings=50: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{ts,tsx,js})
  turbo lint --filter=@sqlrooms/* --: any of: **/*.{ts,tsx,js}
  uv run --project python ruff check --fix: any of: python/**/*.py
